.vatCompany {
    .checkbox {
        margin-bottom: 10px;

        label {
            display: flex;
        }
    }

    .fields {
        margin-top: 20px;
    }

    > div:last-child {
        margin-bottom: 0;
    }
}

.block {
    border-radius: 4px;
    background: #FFF;
    margin-top: 10px;

    button[type='submit'] {
        position: absolute;
    }
}

@media (min-width: 1024px) {
    .block {
        padding: 20px;
    }

    .fields {
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 1023px) {
    .block {
        padding: 10px;
    }
}
