.cityField {
    composes: flex from global;
    composes: flex-col from global;
}

.root {
    composes: w-0 from global;
    composes: h-0 from global;
    composes: opacity-0 from global;
    composes: overflow-hidden from global;
    composes: invisible from global;
}

:global(.fieldErrorMessage:not(:empty)) {
    @apply order-1;

    ~ .uiSelectField {
        :global(div.uiSelect__control) {
            &,
            &:hover {
                border-color: #FF8790;
                box-shadow: 0 2px 5px 0 rgba(255, 135, 144, 0.5);
            }
        }
    }
}
