.shimmerRoot {
    composes: root_rectangle from '~@magento/venia-ui/lib/components/Shimmer/shimmer.module.css';
    composes: root img from '~@magento/pagebuilder/lib/ContentTypes/Image/image.module.css';
}
