.contentTwoImages {
    composes: flex from global;
    composes: items-center from global;
    composes: gap-5 from global;
}

.imageCol {
    width: calc(50% - 10px);

    &:first-child {
        :global(.home-promo-brands-block) & {
            padding: 10px;
        }
    }
}
