.root {
    a {
        text-decoration: none;
    }
}

.carousel {
    composes: root;
    composes: root from '~@magento/pagebuilder/lib/ContentTypes/Slider/slider.module.css';
}

:global(.blog-detail-content) {
    .root {
        &:not(.carousel) {
            .galleryItems {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                > div {
                    width: calc((100% - 10px) / 2);

                    @media (min-width: 480px) {
                        width: calc((100% - 20px) / 3);
                    }

                    @media (min-width: 769px) {
                        width: calc((100% - 10px) / 2);
                    }

                    @media (min-width: 992px) {
                        width: calc((100% - 20px) / 3);
                    }

                    @media (min-width: 1326px) {
                        width: calc((100% - 30px) / 4);
                    }

                    @media (min-width: 1480px) {
                        width: calc((100% - 40px) / 5);
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) {
    :global(.home-products-block) {
        .carousel {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        h2 ~ .carousel {
            margin-top: 30px;
        }
    }

    :global {
        .banner-products-group {
            .slick-slider.slick-initialized {
                .slick-prev {
                    margin-left: 16px;
                }

                .slick-next {
                    margin-right: 16px;
                }
            }

            &--equal {
                .slick-slider.slick-initialized {
                    .slick-prev {
                        margin-left: 12px;
                    }

                    .slick-next {
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    :global {
        .banner-products-group {
            .slick-slider.slick-initialized {
                .slick-prev {
                    margin-left: 22px;
                }

                .slick-next {
                    margin-right: 22px;
                }
            }

            &--equal {
                .slick-slider.slick-initialized {
                    .slick-prev {
                        margin-left: 16px;
                    }

                    .slick-next {
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .carousel {
        .slick-arrow {
            display: none !important;
        }

        .unslickWrapper {
            display: flex;
            margin-left: -10px;
            margin-right: -10px;
            padding: 10px;
            background: #FFFFFF;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                display: none;
            }

            .galleryItems {
                display: flex;
                flex-wrap: nowrap;
                gap: 10px;
                margin-left: -10px;
                margin-right: -10px;

                &:before,
                &:after {
                    content: "";
                    display: block;
                    width: 1px;
                    min-width: 1px;
                    margin-left: -1px;
                }

                > div {
                    width: 170px;
                    min-width: 170px;
                    scroll-snap-align: center;
                }
            }
        }
    }

    :global(.products-background-wrapper) {
        .carousel {
            .unslickWrapper {
                margin: 0 -10px;
                padding: 0 10px;
                background: none;

                > div {
                    display: block;
                    padding: 10px;
                    background: #FFFFFF;
                    border-radius: 4px;
                }
            }
        }
    }

    :global(.home-products-block) {
        h2 ~ .carousel {
            margin-top: 20px;
        }
    }
}
