.root {
    --leftViewportElement: 0;
    --scrollBarWidth: var(--global-scrollbar-width, 0px);

    :global(.cmsPage) & {
        margin-top: 10px;
        margin-bottom: 10px;

        > .contained {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.contained {
    composes: root;
}

.fullBleed {
    composes: root;
    width: calc(100vw - var(--scrollBarWidth));
    transform: translateX(-50%);
    margin-left: 50%;

    > .contained {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.videoOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99;
    -webkit-transform: translate3d(0, 0, 0);
}

.root :global [id*='jarallax-container'] video,
.root :global [id*='jarallax-container'] iframe {
    visibility: hidden;
}

@media (max-width: 768px) {
    .root {
        background-attachment: scroll !important;
    }

    .contained {
        &:global(.home-products-block),
        &:global(.home-promo-brands-block) {
            > div {
                margin-left: -10px;
                margin-right: -10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

@media (min-width: 769px) {
    .root {
        :global(.cmsPage) & {
            margin-top: 20px;
            margin-bottom: 20px;

            &:global(.banner-products-group),
            &:global(.home-promo-brands-block),
            &:global(.home-brands-block) {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    .contained {
        width: 100%;
        max-width: calc(var(--venia-global-maxWidth, 1280px) - 60px);
        margin-left: auto !important;
        margin-right: auto !important;

        :global(.cmsPage) & {
            max-width: 1582px;
        }

        &:global(.home-products-block) {
            > div {
                margin-left: -10px;
                margin-right: -10px;
                padding-left: 10px;
                padding-right: 10px;
                width: calc(100% + 20px);
            }

            :global {
                .slick-slider.slick-initialized {
                    .slick-prev {
                        margin-left: -10px;
                    }

                    .slick-next {
                        margin-right: -10px;
                    }
                }
            }
        }
    }

    .fullBleed {
        > .contained {
            padding-left: 45px;
            padding-right: 45px;
        }
    }
}

@media (min-width: 1024px) {
    :global {
        body:not(.domLoaded) {
            .contentDomReady {
                display: none !important;
            }
        }
    }
}


@media (min-width: 1200px) {
    .contained {
        &:global(.home-products-block) {
            > div {
                margin-left: -15px;
                margin-right: -15px;
                padding-left: 15px;
                padding-right: 15px;
                width: calc(100% + 30px);
            }

            :global {
                .slick-slider.slick-initialized {
                    .slick-prev {
                        margin-left: -15px;
                    }

                    .slick-next {
                        margin-right: -15px;
                    }
                }
            }
        }
    }

    .fullBleed {
        > .contained {
            padding-left: 70px;
            padding-right: 70px;
        }
    }
}
