.shimmerRoot {
    composes: root_rectangle from '~@magento/venia-ui/lib/components/Shimmer/shimmer.module.css';
    composes: root from '~@magento/pagebuilder/lib/ContentTypes/Slider/slider.module.css';
    display: block;

    &:global(.home-categories-slider) {
        min-height: 145px;
    }
}

@media (min-width: 769px) {
    .shimmerRoot {
        &:global(.home-categories-slider) {
            min-height: 168px;
        }
    }
}

@media (min-width: 1200px) {
    .shimmerRoot {
        &:global(.home-categories-slider) {
            min-height: 207px;
        }
    }
}
