.reviewsTitle {
    margin-bottom: 25px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.reviewItem {
    &:not(:last-child) {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E9E9E9;
    }
}

.ratingSummary {
    position: relative;
    left: -2px;
    width: 120px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cmask id='mask0_4999_9135' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0583 7.91558C12.3796 7.81694 11.7929 7.39059 11.4895 6.77552L9.99999 3.75582L8.51049 6.77552C8.2071 7.39059 7.62042 7.81694 6.94172 7.91558L3.60826 8.40004L6.02077 10.7521C6.51173 11.2308 6.73572 11.9204 6.61974 12.5962L6.05021 15.915L9.03049 14.3481C9.63744 14.029 10.3625 14.029 10.9695 14.3481L13.9498 15.915L13.3802 12.5962C13.2643 11.9204 13.4883 11.2308 13.9792 10.7521L16.3917 8.40004L13.0583 7.91558ZM19.3535 6.72526C19.7667 6.78665 20.0548 7.1692 19.9911 7.58244C19.9674 7.74774 19.8895 7.89887 19.7714 8.01458L15.4336 12.2438L16.4584 18.2158C16.5292 18.6267 16.253 19.0163 15.8421 19.0872C15.6791 19.1155 15.5091 19.0895 15.3627 19.0116L9.99999 16.1921L4.63727 19.0116C4.51259 19.0774 4.37197 19.107 4.23134 19.097C4.09072 19.0869 3.95571 19.0377 3.84164 18.9549C3.72757 18.872 3.63899 18.7589 3.58596 18.6282C3.53292 18.4976 3.51755 18.3547 3.54158 18.2158L4.56643 12.2438L0.228546 8.01458C0.0849021 7.87456 0.00272316 7.68324 6.64636e-05 7.48266C-0.00259023 7.28208 0.0744927 7.08864 0.214378 6.94487C0.330086 6.8268 0.481215 6.74887 0.646513 6.72526L6.64209 5.8539L9.32227 0.420337C9.50882 0.0472366 9.96221 -0.106254 10.3353 0.0779347C10.4841 0.151138 10.6045 0.271569 10.6777 0.420337L13.3579 5.8539L19.3535 6.72526Z' fill='%23006FFD'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4999_9135)'%3E%3Crect width='20' height='20' fill='%23F0F0F0'/%3E%3C/g%3E%3C/svg%3E") repeat-x;

    .ratingSummaryInner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_4999_9132)'%3E%3Cmask id='mask0_4999_9132' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Cpath d='M19.3537 6.72533L13.358 5.85397L10.6778 0.420341C10.6046 0.271572 10.4842 0.15114 10.3354 0.0779356C9.96232 -0.106255 9.50893 0.0472372 9.32237 0.420341L6.64216 5.85397L0.64652 6.72533C0.48122 6.74895 0.33009 6.82687 0.21438 6.94494C0.0744935 7.08872 -0.00259026 7.28216 6.64643e-05 7.48274C0.00272319 7.68332 0.0849031 7.87464 0.228548 8.01467L4.56648 12.244L3.54162 18.216C3.51759 18.3549 3.53296 18.4978 3.586 18.6284C3.63903 18.7591 3.72761 18.8722 3.84168 18.9551C3.95576 19.0379 4.09076 19.0871 4.23139 19.0972C4.37202 19.1072 4.51264 19.0776 4.63732 19.0118L10.0001 16.1923L15.3629 19.0118C15.5093 19.0897 15.6793 19.1157 15.8423 19.0874C16.2531 19.0165 16.5294 18.6269 16.4586 18.216L15.4337 12.244L19.7717 8.01467C19.8897 7.89896 19.9677 7.74783 19.9913 7.58253C20.055 7.16928 19.7669 6.78673 19.3537 6.72533Z' fill='%23006FFD'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4999_9132)'%3E%3Crect width='20' height='20' fill='%23FFC60C'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4999_9132'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") repeat-x;
    }
}

.reviewName {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .nickname {
        display: block;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        color: #000A14;
    }

    .createdAt {
        margin-left: auto;
        text-align: right;
        white-space: nowrap;
        font-size: 13px;
        letter-spacing: -0.078px;
        color: #828588;
    }
}

.reviewSummary {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #E9E9E9;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 32px;
        text-align: center;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        font-size: 14px;
        color: #595959;

        svg {
            --stroke: #595959;
        }

        &:disabled {
            svg {
                --stroke: #BFBFBF;
            }
        }

        &:not(.activePage):not(:disabled):hover {
            border-color: #999999;
        }

        &.activePage {
            color: #1890FF;
            border-color: #1890FF;
        }
    }
}

@media (min-width: 769px) {
    .reviewsTitle {
        margin-bottom: 30px;
    }

    .reviewItem {
        &:not(:last-child) {
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }

    .pagination {
        margin-top: 30px;
        padding-top: 0;
        border-top: none;
    }
}

@media (max-width: 768px) {
    .root {
        padding-top: 30px;
    }
}
