.totalReviewsPercent {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-flex: 1;
    flex: 1;
    max-width: 446px;
}

.percentItem {
    > td {
        vertical-align: middle;
    }

    &:not(:last-child) {
        > td {
            padding-bottom: 5px;
        }
    }
}

.percentName {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 50px;
    padding-right: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.startIcon {
    margin-left: auto;
    display: inline-block;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cg clip-path='url(%23clip0_4162_22100)'%3E%3Cmask id='mask0_4162_22100' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Cpath d='M9.67684 3.36267L6.67902 2.92698L5.33891 0.210171C5.30231 0.135786 5.2421 0.0755698 5.16771 0.0389678C4.98116 -0.0531276 4.75446 0.0236186 4.66119 0.210171L3.32108 2.92698L0.32326 3.36267C0.24061 3.37447 0.165045 3.41344 0.10719 3.47247C0.0372468 3.54436 -0.00129513 3.64108 3.32322e-05 3.74137C0.00136159 3.84166 0.0424515 3.93732 0.114274 4.00733L2.28324 6.12198L1.77081 9.108C1.75879 9.17746 1.76648 9.2489 1.793 9.31421C1.81952 9.37953 1.8638 9.43611 1.92084 9.47753C1.97788 9.51896 2.04538 9.54357 2.11569 9.54859C2.18601 9.5536 2.25632 9.53881 2.31866 9.5059L5.00005 8.09613L7.68144 9.5059C7.75465 9.54486 7.83966 9.55785 7.92113 9.54368C8.12657 9.50826 8.26471 9.31344 8.22929 9.108L7.71686 6.12198L9.88583 4.00733C9.94486 3.94948 9.98383 3.87391 9.99563 3.79126C10.0275 3.58464 9.88347 3.39336 9.67684 3.36267Z' fill='%23006FFD'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4162_22100)'%3E%3Crect width='10' height='10' fill='%23FFC60C'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4162_22100'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat;
    background-size: contain;
}

.percentWrap {
    width: 90%;
}

.percentInner {
    position: relative;
    height: 6px;
    margin-top: auto;
    margin-bottom: auto;
    background: #F2F2F2;
    border-radius: 30px;
    overflow: hidden;

    .percent {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: #0272BA;
        border-radius: 30px;
    }
}

.percentText {
    padding-left: 5px;
    font-size: 10px;
    color: #828588;
}

@media (min-width: 769px) {
    .percentItem {
        &:not(:last-child) {
            > td {
                padding-bottom: 10px;
            }
        }
    }
}
