.accountMain {
    position: relative;

    .loadingAccountMain {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.accountHead {
    margin-top: 14px;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
    line-height: normal;
    color: #0272BA;
}

.currentPageTitle {
    display: flex;
    align-items: center;
    gap: 20px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11111;

    .backButton {
        width: 18px;
        min-width: 18px;
        height: 10px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='11' viewBox='0 0 19 11' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.37499 1.46181L1.91729 4.95947H17.5245C17.8373 4.95947 18.0898 5.21199 18.0898 5.52482C18.0898 5.83764 17.8373 6.09019 17.5245 6.09019H1.93927L5.42199 9.53311C5.64248 9.75172 5.64436 10.1098 5.42577 10.3322C5.31645 10.4433 5.16945 10.4999 5.02436 10.4999V10.4999C4.88113 10.4999 4.73791 10.4452 4.62673 10.3359L0.184818 5.94474C0.0703144 5.84136 -0.00151825 5.69166 -0.00151825 5.52482C-0.00151825 5.35933 0.0691509 5.21072 0.182034 5.10744L4.57217 0.666563C4.79078 0.446062 5.14884 0.444173 5.37121 0.662787C5.59169 0.881381 5.59358 1.23944 5.37499 1.46181Z' fill='%230272BA'/%3E%3C/svg%3E") no-repeat center;

        span {
            display: none;
        }
    }

    .actions {
        margin-left: auto;
        display: flex;
        gap: 10px;

        button {
            flex: 1;
        }

        .printButton {
            width: auto;

            button {
                padding: 10px;

                img {
                    min-width: 24px;
                    min-height: 24px;
                    transition: all .3s;
                }

                &:hover {
                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) {
    .accountRoot {
        display: flex;
    }

    .accountMain {
        -webkit-flex: 1;
        flex: 1;
    }

    .accountHead {
        margin-top: 15px;
        margin-bottom: 40px;
        font-size: 28px;
        letter-spacing: 0.28px;
        color: #005C98;
    }

    .currentPageTitle {
        margin-top: 0;
        margin-bottom: 29px;
        padding-top: 0;
        padding-bottom: 0;
        gap: 10px;
        font-size: 24px;
        line-height: normal;
        letter-spacing: 0.24px;

        .backButton {
            width: 22px;
            min-width: 22px;
            height: 22px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='23' viewBox='0 0 22 23' fill='none'%3E%3Cpath d='M14.2109 17.9163L7.79427 11.4997L14.2109 5.08301' stroke='%230272BA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            display: none;

            &.backParent {
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {
    .currentPageTitle {
        .actions {
            > button {
                padding-left: 20px;
                padding-right: 20px;
                width: max-content;
            }
        }
    }
}
