.root {
    position: absolute;
    height: 0;
    z-index: 70;
    transition: opacity 192ms var(--venia-global-anim-out),
    visibility 192ms var(--venia-global-anim-out),
    left 0s 192ms;
    width: 100%;
    top: 100%;
    right: 0;
}

.root_closed {
    composes: root;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.root_open {
    composes: root;

    opacity: 1;
    visibility: visible;
    transition: opacity 224ms var(--venia-global-anim-in),
    visibility 224ms var(--venia-global-anim-in), left 0s;
}

.contents {
    position: absolute;
    background-color: #FFF;
    max-height: calc(100vh - 150px);
    right: 0;
    max-width: 800px;
    width: 100%;
    top: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    transform: translate3d(0, -8px, 0);
    transition-duration: 192ms;
    transition-property: transform;
    transition-timing-function: var(--venia-global-anim-out);
}

.contents_open {
    composes: contents;

    transform: translate3d(0, 0, 0);
    transition-duration: 224ms;
    transition-property: transform;
    transition-timing-function: var(--venia-global-anim-in);
}

.header {
    display: block;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .titleWrapper {
            display: flex;
            gap: 10px;
            font-weight: 500;
            line-height: normal;
            align-items: flex-end;

            .title {
                color: #0272BA;
                font-size: 24px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.24px;
            }

            .quantity {
                color: #7A7E80;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.16px;
                padding-bottom: 2px;
            }
        }

        .buttonClose {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #7A7E80;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.16px;
        }
    }
}

.miniCartNote {
    color: #545454;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    span {
        color: #DF6069;
    }

    &:before {
        content: '*';
        display: inline-block;
        color: #FF2121;
        margin-right: 5px;
    }
}

.quantity {
    color: #7A7E80;
    font-size: 20px;
    letter-spacing: 0.2px;

    transition-delay: 64ms;
    transition-duration: 384ms;
    transition-property: opacity;
    transition-timing-function: var(--venia-global-anim-standard);
}

.quantity_loading {
    composes: quantity;

    opacity: .5;
}

.body {
    display: block;
    overflow-y: auto;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    background: #F8F8F8;
    padding: 10px;
    overflow-x: hidden;
}

.emptyCart {
    display: block;
    text-align: center;
    padding: 30px 0;

    img {
        margin: 0 auto 20px;
        max-width: 210px;
    }

    .emptyMessage {
        color: #2A2F33;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
    }
}

.footerHead {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .buttonRemoveAll {
        color: #005C98;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    .label {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .priceBox {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .price {
        color: #E82230;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.footer {
    display: block;
}
