.root {
    &:before {
        content: '';
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    span {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 102px;
    }
}

@media (min-width: 1440px) {
    .root {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .root {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        padding: 8px 15px;
        transition: all .3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            border-radius: 100px;
            background: #003568;
        }

        &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 2C8.96127 2 6.90323 4.03766 6.90323 6.55123C6.90323 9.06481 8.96127 11.1025 11.5 11.1025C14.0387 11.1025 16.0968 9.06481 16.0968 6.55123C16.0968 4.03766 14.0387 2 11.5 2Z' fill='white'/%3E%3Cpath d='M6.59677 13.5298C4.05805 13.5298 2 15.5674 2 18.081V19.5232C2 20.4374 2.66915 21.2168 3.5804 21.3641C8.82541 22.212 14.1746 22.212 19.4196 21.3641C20.3309 21.2168 21 20.4374 21 19.5232V18.081C21 15.5674 18.942 13.5298 16.4032 13.5298H15.9854C15.7592 13.5298 15.5345 13.5652 15.3195 13.6347L14.2586 13.9777C12.4661 14.5572 10.5339 14.5572 8.74143 13.9777L7.68048 13.6347C7.46549 13.5652 7.24077 13.5298 7.01461 13.5298H6.59677Z' fill='white'/%3E%3C/svg%3E%0A");
            height: 24px;
            width: 24px;
            margin: 0 auto 2px;
        }

        svg {
            stroke: #fff;
        }
    }
}

@media (max-width: 1439px) and (min-width: 1024px) {
    .root {
        font-size: 14px;
    }
}

@media (max-width: 1023px) {
    .root {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.526367C6.59489 0.526367 4.64516 2.45678 4.64516 4.83806C4.64516 7.21934 6.59489 9.14975 9 9.14975C11.4051 9.14975 13.3548 7.21934 13.3548 4.83806C13.3548 2.45678 11.4051 0.526367 9 0.526367Z' fill='%230A1015'/%3E%3Cpath d='M4.35484 11.4493C1.94973 11.4493 0 13.3797 0 15.761V17.1273C0 17.9933 0.633929 18.7318 1.49722 18.8713C6.46618 19.6745 11.5338 19.6745 16.5028 18.8713C17.3661 18.7318 18 17.9933 18 17.1273V15.761C18 13.3797 16.0503 11.4493 13.6452 11.4493H13.2493C13.0351 11.4493 12.8222 11.4829 12.6185 11.5487L11.6134 11.8737C9.91525 12.4227 8.08475 12.4227 6.38662 11.8737L5.3815 11.5487C5.17784 11.4829 4.96494 11.4493 4.75069 11.4493H4.35484Z' fill='%230A1015'/%3E%3C/svg%3E%0A");
            height: 20px;
            width: 18px;
        }

        span {
            display: none;
        }
    }
}
