.mCardWrapper {
    border-radius: 4px;
    background: #FFF;
    margin-top: 10px;

    .mCardTitle {
        color: #2A2F33;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        display: block;
        margin-bottom: 10px;

        span {
            color: #7A7E80;
            padding-left: 4px;
            font-weight: 400;
        }
    }

    input {
        border-color: #1D92DD;
    }

    .mCardDetails {
        flex: 1;
    }

    .mCardNote {
        color: #7A7E80;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.12px;
        margin-top: 5px;

        a {
            color: #1D92DD;
            text-decoration: underline;
            padding-left: 4px;
        }
    }
}

@media (min-width: 1024px) {
    .mCardWrapper {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .mCardWrapper {
        padding: 20px;
    }
}

@media (max-width: 1365px) {
    .mCardWrapper {
        img {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1023px) {
    .mCardWrapper {
        padding: 10px;
    }
}
