.title {
    display: block;
    color: #005C98;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.135px;
}

@media (min-width: 1024px) {
    .title {
        font-size: 27px;
    }
}

@media (max-width: 1023px) {
    .title {
        font-size: 20px;
    }
}
