.root {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
    transition-duration: 192ms;
    transition-property: opacity, transform, visibility;
    transition-timing-function: var(--venia-global-anim-out);
    width: 340px;
    background-color: #fff;
    z-index: 62;
    display: flex;
    flex-direction: column;
}

.root_open {
    composes: root;

    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition-duration: 384ms;
    transition-timing-function: var(--venia-global-anim-in);
}

.businessCustomer {
    button {
        border-radius: 38px;

        span {
            display: flex;
            align-items: center;
            gap: 10px;

            &:before {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6.62055C18 7.8393 16.9928 8.88896 15.75 8.88896C14.5073 8.88896 13.5 7.83926 13.5 6.62055C13.5 7.8393 12.4928 8.88896 11.25 8.88896C10.0072 8.88896 9 7.83926 9 6.62055C9 7.8393 7.99277 8.88896 6.75 8.88896C5.50723 8.88896 4.5 7.83926 4.5 6.62055C4.5 7.8393 3.49277 8.88896 2.25 8.88896C1.00725 8.88896 0 7.83926 0 6.62055L1.8 2.66664H16.2L18 6.62055ZM15.3 1.77774H2.70006C2.14106 1.77774 1.80007 1.3459 1.80007 0.888869C1.80007 0.431842 2.08219 0 2.81258 0H15.1876C15.8661 0 16.2001 0.43186 16.2001 0.888869C16.2 1.3459 15.7658 1.77774 15.3 1.77774ZM2.70006 9.33342C2.62138 9.34645 2.78094 9.32605 2.70006 9.33342C2.68335 9.33604 2.7172 9.33039 2.70006 9.33342C2.73653 9.32646 3.11404 9.34123 3.15008 9.33342C3.30299 9.29869 3.45637 9.38811 3.60008 9.33342V13.3334H14.4V9.33342H14.85C14.9933 9.38811 15.1475 9.29869 15.3001 9.33342C15.2636 9.32646 15.3361 9.34123 15.3001 9.33342C15.2829 9.33039 15.3168 9.33602 15.3001 9.33342C15.2192 9.32605 15.3792 9.34643 15.3001 9.33342C15.3928 9.34168 15.6551 9.33342 15.7501 9.33342C15.9426 9.33342 16.0172 9.36642 16.2001 9.33342V15.1111C16.2001 15.5677 15.7659 16 15.3001 16H2.70009C2.23427 16 1.8001 15.5677 1.8001 15.1111V9.33342C1.98293 9.36642 2.05764 9.33342 2.25011 9.33342C2.34497 9.33342 2.60736 9.34168 2.70006 9.33342Z' fill='white'/%3E%3C/svg%3E%0A");
                width: 18px;
                height: 16px;
                min-width: 18px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}

.header {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #F5F5F5;
}

.body {
    overflow: hidden;
}

.footer {
    margin-top: auto;
    border-top: 1px solid #E8E8E8;
    margin: 10px -15px -12px;
    padding: 12px 8px;
}

.modal {
    position: absolute;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate3d(-100%, 0, 0);
    transition-duration: 192ms;
    transition-property: opacity, transform, visibility;
    transition-timing-function: var(--venia-global-anim-out);
}

.modal_open {
    composes: modal;

    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition-duration: 384ms;
    transition-timing-function: var(--venia-global-anim-in);
}

@media (min-width: 1024px) {
    .root {
        padding: 20px;
    }

    .modal {
        padding: 20px;
    }

    .businessCustomer {
        padding: 15px 0;

        button {
            padding: 13px 20px 14px;
        }
    }
}

@media (max-width: 1023px) {
    .root {
        padding: 15px;
    }

    .customerInformation {
        display: flex;
        gap: 8px;
    }

    .businessCustomer {
        padding: 15px 0;

        button {
            padding: 12px 15px;
        }
    }

    .storeCurrent {
        padding: 15px 0 0;

        .storeCurrentName {
            color: #0272BA;
            font-size: 16px;
            font-weight: 500;
            line-height: 17px;
            margin-bottom: 3px;
        }

        .storeCurrentAddress {
            color: #2A2F33;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }
    }

    .body {
        height: 100%;
    }

    .modal {
        padding: 15px;
    }
}
