.root {
    margin-bottom: 40px;

    .title {
        font-weight: 700;
        text-align: center;
    }

    .content {
        position: relative;

        .imageContainer {
            position: relative;
            height: 0;
            overflow: hidden;
            display: block;
            padding-bottom: 139%;

            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .name {
            text-transform: uppercase;
            text-align: center;
            margin-top: 20px;
        }

        :global {
            .slick-slider {
                margin-left: -20px;
                margin-right: -20px;
            }

            .slick-slider.slick-initialized .slick-slide {
                padding: 0 20px;
            }
        }
    }
}

@media (min-width: 769px) {
    .root {
        .title {
            font-size: 26px;
            margin-bottom: 30px;
        }

        .content {
            .name {
                font-size: 16px;
                line-height: 1.6;
            }
        }
    }
}

@media (max-width: 768px) {
    .root {
        .title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .content {
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth;
            -ms-overflow-style: none;
            scrollbar-width: none;
            scroll-snap-type: x mandatory;

            &::-webkit-scrollbar {
                display: none;
            }

            .name {
                font-size: 14px;
                line-height: 1.4;
            }

            .item {
                width: 200px;
                min-width: 200px;
                scroll-snap-align: start;
                margin-right: 20px;
            }
        }
    }
}
