.root {
    --leftViewportElement: 0;
    --scrollBarWidth: var(--global-scrollbar-width, 0px);
}

.pageTitleWrapper {
    composes: relative from global;
    composes: -mt-3 from global;

    composes: md_mb-4 from global;
    composes: md_pt-8 from global;

    composes: -md_mb-3 from global;
    composes: -md_-mx-2 from global;
    composes: -md_pt-5 from global;
    composes: -md_px-2 from global;
    composes: -md_bg-white from global;
}

.pageTitle {
    composes: mb-3 from global;
    composes: text-center from global;
    composes: font-bold from global;
    composes: uppercase from global;

    composes: md_mb-6 from global;
    composes: md_text-28 from global;
}

.tabTitle {
    composes: flex from global;
    composes: bg-white from global;

    composes: md_flex-wrap from global;

    composes: -md_-mx-2 from global;
    composes: -md_whitespace-nowrap from global;
    composes: -md_overflow-x-auto from global
}

.item {
    composes: py-3 from global;
    composes: px-4 from global;
    composes: font-bold from global;

    composes: md_py-4 from global;
    composes: md_px-6 from global;

    composes: -md_text-13 from global;

    @apply text-[#7A7E80];

    border-bottom: 2px solid rgba(255, 255, 255, 0);

    &:hover {
        @apply text-colorDefault;
    }

    &.active {
        @apply text-colorDefault;
        border-color: #0272BA;
    }
}

@media (max-width: 768px) {
    .tabTitle {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
