@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.root {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5px;
    padding: 15px;
    background: #F9F9F9;
    border-radius: 4px;
}

.confirmDeleteContainer {
    text-align: center;
    color: #0A1015;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.2px;

    &:before {
        content: "";
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto 20px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80' fill='none'%3E%3Cpath d='M0 40C0 50.6087 4.21427 60.7828 11.7157 68.2843C19.2172 75.7857 29.3913 80 40 80C50.6087 80 60.7828 75.7857 68.2843 68.2843C75.7857 60.7828 80 50.6087 80 40C80 29.3913 75.7857 19.2172 68.2843 11.7157C60.7828 4.21427 50.6087 0 40 0C29.3913 0 19.2172 4.21427 11.7157 11.7157C4.21427 19.2172 0 29.3913 0 40Z' fill='%23D3ECFF'/%3E%3Cpath d='M79.2 31.92C75.44 13.68 59.36 0 40 0C17.92 0 0 17.92 0 40C0 49.68 3.44 58.48 9.12 65.36C15.92 69.12 23.68 71.2 32 71.2C55.52 71.2 75.04 54.24 79.2 31.92Z' fill='%23D3ECFF'/%3E%3Cpath d='M16 45.6004C16 47.5099 16.7586 49.3413 18.1088 50.6916C19.4591 52.0418 21.2904 52.8004 23.2 52.8004C25.1096 52.8004 26.9409 52.0418 28.2912 50.6916C29.6414 49.3413 30.4 47.5099 30.4 45.6004C30.4 43.6908 29.6414 41.8595 28.2912 40.5092C26.9409 39.159 25.1096 38.4004 23.2 38.4004C21.2904 38.4004 19.4591 39.159 18.1088 40.5092C16.7586 41.8595 16 43.6908 16 45.6004Z' fill='%230272BA'/%3E%3Cpath d='M49.6016 45.6004C49.6016 47.5099 50.3601 49.3413 51.7104 50.6916C53.0607 52.0418 54.892 52.8004 56.8016 52.8004C58.7111 52.8004 60.5425 52.0418 61.8927 50.6916C63.243 49.3413 64.0016 47.5099 64.0016 45.6004C64.0016 44.6549 63.8153 43.7186 63.4535 42.8451C63.0917 41.9715 62.5613 41.1778 61.8927 40.5092C61.2241 39.8406 60.4304 39.3103 59.5569 38.9485C58.6833 38.5866 57.7471 38.4004 56.8016 38.4004C55.856 38.4004 54.9198 38.5866 54.0462 38.9485C53.1727 39.3103 52.379 39.8406 51.7104 40.5092C51.0418 41.1778 50.5115 41.9715 50.1496 42.8451C49.7878 43.7186 49.6016 44.6549 49.6016 45.6004Z' fill='%230272BA'/%3E%3Cpath d='M46.9593 63.5209C40.7993 59.2009 35.1993 62.0809 32.8793 63.6009C32.2393 64.0009 31.4393 63.9209 30.8793 63.3609C30.2393 62.6409 30.3993 61.5209 31.1993 60.9609C34.1593 59.0409 41.1993 55.6809 48.7993 60.9609C49.5993 61.5209 49.7593 62.5609 49.1193 63.2809C48.6393 63.9209 47.6793 64.0009 46.9593 63.5209Z' fill='%230272BA'/%3E%3Cpath d='M68.4004 38.079C63.6804 39.359 58.8804 36.559 57.6004 31.839C57.3604 30.959 57.8404 30.079 58.7204 29.919C59.6004 29.679 60.4804 30.159 60.6404 31.039C61.4404 33.999 64.4804 35.759 67.5204 34.959C68.4004 34.719 69.2804 35.199 69.4404 36.079C69.7604 36.959 69.2804 37.839 68.4004 38.079ZM11.6004 38.079C16.3204 39.359 21.1204 36.559 22.4004 31.839C22.6404 30.959 22.1604 30.079 21.2804 29.919C20.4004 29.679 19.5204 30.159 19.3604 31.039C18.5604 33.999 15.5204 35.759 12.4804 34.959C11.6004 34.719 10.7204 35.199 10.5604 36.079C10.2404 36.959 10.7204 37.839 11.6004 38.079Z' fill='%2371B4FF'/%3E%3C/svg%3E") no-repeat center;
        background-size: contain;
    }
}

.confirmDeleteButton {
    composes: root_normalPriorityNegative from '../../Button/extendStyle/button.module.scss';

    @apply bg-white;
    composes: order-first from global;
    composes: sm_order-1 from global;
}

.cancelDeleteButton {
    composes: root_lowPriority from '../../Button/extendStyle/button.module.scss';

    @apply bg-white;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #7A7E80;
    font-size: 16px;
    line-height: normal;
}

.defaultBadge {
    display: inline-block;
    margin-right: auto;
    padding: 4px 9px;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.12px;
    color: #0272BA;
    background: #FFF;
    border: 1px solid #B8B8B8;
    border-radius: 4px;
}

.name {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #0A1015;
}

.telephone {
    composes: mt-2xs from global;
}

.note {
    composes: mb-0 from global;
    composes: italic from global;

    font-size: 13px;
    color: #e82230;
}

.actionContainer {
    display: flex;
    gap: 10px;

    button {
        display: flex;
        gap: 10px;
        width: auto;
        padding: 9px 19px;
        white-space: nowrap;
        font-size: 14px;

        > span {
            display: flex;
            gap: 10px;
        }

        svg {
            height: 15px;
            width: auto;

            path {
                transition: all .3s;
            }
        }
    }
}

.deleteButton {
    composes: root_normalPriority from '../../Button/extendStyle/button.module.scss';
    color: #e82230;
    border-color: #E82230;

    svg {
        path {
            fill: #e82230
        }
    }

    &:hover {
        border-color: #FE5E6B;
        background: #FE5E6B;

        svg {
            path {
                fill: #FFFFFF
            }
        }
    }
}

.editButton {
    composes: root_normalPriority from '../../Button/extendStyle/button.module.scss';

    &:hover {
        svg {
            path {
                fill: #FFFFFF
            }
        }
    }
}

.linkButton {
    composes: root from '~@magento/venia-ui/lib/components/LinkButton/linkButton.module.css';

    @apply no-underline;
    @apply hover_underline;
}

@media (min-width: 769px) {
    .root {
        flex-direction: row;
        align-items: center;
        padding: 20px 15px;
    }

    .actionContainer {
        margin-left: auto;
    }
}

@media (max-width: 768px) {

}
