.root {
    composes: flex from global;
    composes: flex-col from global;
    gap: 20px;
}

.status {
    composes: inline-block from global;
    composes: ml-auto from global;
    composes: text-base from global;
    padding: 5px 10px;
    letter-spacing: 0.14px;
    line-height: normal;
    color: #0272BA;
    background: #E2F3FF;
    border-radius: 6px;

    &:global(.state_complete),
    &:global(.status_delivery_success) {
        color: #4BB468;
        background-color: #C8F6D5;
    }

    &:global(.state_closed),
    &:global(.state_canceled),
    &:global(.state_pending_payment),
    &:global(.status_waiting_cancel),
    &:global(.status_delivery_failed) {
        color: #E82230;
        background-color: #FFD7D7;
    }
}

.copy {
    composes: mr-auto from global;
    padding: 3px;

    &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13369_94762' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13369_94762)'%3E%3Cpath d='M9.05775 17.5C8.55258 17.5 8.125 17.325 7.775 16.975C7.425 16.625 7.25 16.1974 7.25 15.6923V4.30775C7.25 3.80258 7.425 3.375 7.775 3.025C8.125 2.675 8.55258 2.5 9.05775 2.5H17.4423C17.9474 2.5 18.375 2.675 18.725 3.025C19.075 3.375 19.25 3.80258 19.25 4.30775V15.6923C19.25 16.1974 19.075 16.625 18.725 16.975C18.375 17.325 17.9474 17.5 17.4423 17.5H9.05775ZM9.05775 16H17.4423C17.5192 16 17.5898 15.9679 17.6538 15.9038C17.7179 15.8398 17.75 15.7692 17.75 15.6923V4.30775C17.75 4.23075 17.7179 4.16025 17.6538 4.09625C17.5898 4.03208 17.5192 4 17.4423 4H9.05775C8.98075 4 8.91025 4.03208 8.84625 4.09625C8.78208 4.16025 8.75 4.23075 8.75 4.30775V15.6923C8.75 15.7692 8.78208 15.8398 8.84625 15.9038C8.91025 15.9679 8.98075 16 9.05775 16ZM5.55775 21C5.05258 21 4.625 20.825 4.275 20.475C3.925 20.125 3.75 19.6974 3.75 19.1923V7.05775C3.75 6.84492 3.82183 6.66667 3.9655 6.523C4.109 6.3795 4.28717 6.30775 4.5 6.30775C4.71283 6.30775 4.89108 6.3795 5.03475 6.523C5.17825 6.66667 5.25 6.84492 5.25 7.05775V19.1923C5.25 19.2693 5.28208 19.3398 5.34625 19.4038C5.41025 19.4679 5.48075 19.5 5.55775 19.5H14.6923C14.9051 19.5 15.0833 19.5718 15.227 19.7153C15.3705 19.8589 15.4423 20.0372 15.4423 20.25C15.4423 20.4628 15.3705 20.641 15.227 20.7845C15.0833 20.9282 14.9051 21 14.6923 21H5.55775Z' fill='%237A7E80'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
    }
}

.orderInformation {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.orderInformationBox {
    font-size: 16px;
    letter-spacing: 0.16px;

    .boxTitle {
        margin-bottom: 20px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        color: #0272BA;
    }

    .label {
        margin-bottom: 5px;
        font-size: 14px;
        letter-spacing: normal;
        color: #7A7E80;
    }

    .value {
        word-break: break-word;
        white-space: pre-line;
    }

    .information {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        strong {
            font-weight: 500;
        }
    }

    .orderIdWrap {
        @apply flex;
        @apply flex-wrap;
        @apply items-center;
        @apply gap-x-1;
        @apply gap-y-2;

        .orderId {
            @apply mr-0;
        }
    }

    .orderId {
        @apply mr-1;
        font-weight: 500;
    }

    .customer {
        .value {
            font-weight: 500;
        }
    }

    .deliveryTrackingAction {
        @apply inline-flex;
        @apply gap-1;
        padding: 3px 2px 1px 9px;
        font-size: 14px;
        font-weight: 500;
        color: #7A7E80;
        border: 1px solid #A2A4A6;
        border-radius: 4px;

        &:after {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-top: 1px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cmask id='mask0_13369_94767' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13369_94767)'%3E%3Cpath d='M11.0743 8.49924H3.5C3.35811 8.49924 3.23933 8.45135 3.14367 8.35557C3.04789 8.25991 3 8.14113 3 7.99924C3 7.85735 3.04789 7.73857 3.14367 7.64291C3.23933 7.54713 3.35811 7.49924 3.5 7.49924H11.0743L8.8795 5.30441C8.78039 5.20518 8.73145 5.08913 8.73267 4.95624C8.734 4.82335 8.78295 4.70518 8.8795 4.60174C8.98295 4.49841 9.10172 4.44502 9.23583 4.44157C9.37006 4.43813 9.48889 4.48813 9.59233 4.59157L12.5782 7.57741C12.6406 7.63985 12.6846 7.70568 12.7102 7.77491C12.7358 7.84413 12.7487 7.91891 12.7487 7.99924C12.7487 8.07957 12.7358 8.15435 12.7102 8.22357C12.6846 8.2928 12.6406 8.35863 12.5782 8.42107L9.59233 11.4069C9.49311 11.506 9.37539 11.555 9.23917 11.5537C9.10283 11.5524 8.98295 11.5001 8.8795 11.3967C8.78295 11.2933 8.73294 11.1762 8.7295 11.0454C8.72606 10.9146 8.77606 10.7975 8.8795 10.6941L11.0743 8.49924Z' fill='%237A7E80'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
        }

        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    .orderIdWrap {
        .deliveryTrackingAction {
            margin-top: 0;
            margin-left: auto;
        }
    }
}

.productListingTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    color: #0A1015;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: normal;

    strong {
        margin-right: 12px;
        font-size: 20px;
        letter-spacing: 0.2px;
        font-weight: 500;
    }

    .count {
        color: #7A7E80;
    }
}

.productListingContent {
    color: #0A1015;
}

.orderTotalWrap {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-top: 1px solid #EEEEEE;
}

@media (min-width: 769px) {
    .root {
        padding: 20px;
        background: #FFF;
        border: 1px solid #F1F1F1;
        border-radius: 4px;
    }

    .orderInformation {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        padding: 20px;
        background: #FBFBFB;
        border-radius: 4px;
    }

    .orderInformationBox {
        .boxTitle {
            margin-bottom: 20px;
            font-size: 14px;
        }

        .information {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        .deliveryTrackingAction {
            &:not(:first-child) {
                margin-top: 10px;
            }
        }

        .orderIdWrap {
            .deliveryTrackingAction {
                margin-top: 0;
            }
        }
    }

    .productListingTitle {
        strong {
            font-size: 24px;
            letter-spacing: 0.24px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .orderInformationBox {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #E6E6E6;
        }
    }
}

@media (min-width: 1024px) {
    .orderInformation {
        padding-left: 0;
        padding-right: 0;
    }

    .orderInformationBox {
        width: calc(100% / 3);
        padding-left: 20px;
        padding-right: 20px;

        &:not(:last-child) {
            border-right: 1px solid #E6E6E6;
        }

        &.orderInformationBox2Col {
            width: calc(100% * 2 / 3);
        }
    }
}

@media (max-width: 768px) {
    .orderInformationBox {
        padding: 10px;
        background: #FFF;
        border: 1px solid #E6E6E6;
        border-radius: 4px;

        .label {
            font-size: 14px;
            letter-spacing: normal;
        }
    }

    .productListingContent {
        padding: 10px;
        background: #FFF;
        border: 1px solid #F1F1F1;
        border-radius: 4px;
    }
}

@media print {
    .root {
        padding: 30px;
        border: 0;
    }

    @page {
        margin-top: 30px;
        margin-bottom: 30px;
        size: portrait;
    }

    .orderInformationBox {
        padding: 20px;

        .orderId, .customer .value, .boxTitle {
            font-weight: 600;
        }

        .label {
            padding-bottom: 5px;
        }

        .information:not(:last-child) {
            padding-bottom: 10px;
        }
    }

    .productListingTitle strong {
        font-weight: 600;
    }
}
