.status {
    display: inline-block;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: normal;
    color: #0272BA;
    background: #E2F3FF;
    border-radius: 6px;

    &:global(.state_complete),
    &:global(.status_delivery_success) {
        color: #4BB468;
        background-color: #C8F6D5;
    }

    &:global(.state_closed),
    &:global(.state_canceled),
    &:global(.state_pending_payment),
    &:global(.status_waiting_cancel),
    &:global(.status_delivery_failed) {
        color: #E82230;
        background-color: #FFD7D7;
    }
}

.orderSendToContainer,
.orderTotalContainer {
    .value {
        font-weight: 500;
    }
}

.orderActionsContainer {
    .actions {
        display: flex;
        flex-wrap: wrap;
    }
}

.view,
.reorder {
    color: #1D92DD;

    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: 1024px) {
    .status {
        display: block;
    }

    .label {
        display: none;
    }

    .orderNumberContainer {
        .value {
            font-weight: 500;
        }
    }

    .orderActionsContainer {
        .actions {
            gap: 5px 12px;
        }
    }
}

@media (min-width: 1366px) {
    .orderActionsContainer {
        .actions {
            gap: 5px 20px;
        }
    }
}

@media (max-width: 1023px) {
    .root {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ECECEC;
        border-radius: 4px;

        td {
            display: block;
        }
    }

    .label {
        margin-right: 10px;
        font-size: 14px;
        letter-spacing: normal;
        color: #7A7E80;
    }

    .orderActionsContainer {
        .actions {
            justify-content: flex-end;
            text-align: right;
            gap: 5px 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
