.filterRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.search {
    display: flex;
    gap: 10px;

    .searchInput {
        position: relative;

        &:before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 12px;
            left: 14px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath d='M1.66438 16.7688L5.85576 12.5759C5.90447 12.5275 5.95863 12.4904 6.00974 12.45C5.3021 11.3636 4.88864 10.0693 4.88864 8.67493C4.88864 4.84473 7.99217 1.74023 11.8231 1.74023C15.6519 1.74023 18.7578 4.84475 18.7578 8.67493C18.7578 12.5056 15.6519 15.6094 11.8231 15.6094C10.4297 15.6094 9.13372 15.195 8.04568 14.4869C8.00596 14.5396 7.96961 14.5919 7.92162 14.64L3.7295 18.8332C3.44366 19.1186 3.07059 19.2607 2.69726 19.2607C2.32377 19.2607 1.95071 19.1186 1.66484 18.8339C1.09549 18.2632 1.09549 17.339 1.66438 16.7688ZM11.8231 13.4197C14.4386 13.4197 16.5679 11.2909 16.5679 8.67491C16.5679 6.05943 14.4386 3.92987 11.8231 3.92987C9.20763 3.92987 7.07855 6.05943 7.07855 8.67491C7.07855 11.2909 9.20763 13.4197 11.8231 13.4197Z' fill='%23A2A4A6'/%3E%3C/svg%3E") no-repeat center;
            background-size: contain;
            pointer-events: none;
        }

        button {
            position: absolute;
            right: 6px;
            top: 6px;
            padding: 6px;

            svg {
                width: 20px;
                height: 20px;
                --stroke: #A2A4A6;
            }

            &:hover {
                svg {
                    --stroke: #2A2F33;
                }
            }
        }
    }

    input {
        height: 45px;
        padding-left: 44px;
        padding-right: 32px;;

        &::placeholder {
            color: #2A2F33;
            font-weight: normal;
        }
    }

    .resetButtonElement {
        position: absolute;
    }

    button {
        width: auto;
    }
}

.dateStatusFilter {
    display: flex;
    gap: 10px;
}

.filterDate {
    display: flex;
    align-items: center;
    font-size: 15px;

    input {
        width: 100%;
        height: 45px;
        padding: 12px 32px 12px 14px;
        border: 1px solid #DBDBDB;
        border-radius: 4px;
        background: #FFFFFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='8' viewBox='0 0 13 8' fill='none'%3E%3Cpath d='M11.3359 1.375L6.08594 6.625L0.835938 1.375' stroke='%23005C98' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat right 14px center;

        &::placeholder {
            color: #2A2F33;
        }
    }

    .dateToLabel {
        margin: 0 10px;
        color: #7A7E80;
    }
}

.emptyHistoryMessage {
    margin-top: 20px;
    color: #7A7E80;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
}

.orderHistoryTable {
    text-align: left;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.16px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 32px;
        text-align: center;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        font-size: 14px;
        color: #595959;

        svg {
            --stroke: #595959;
        }

        &:disabled {
            svg {
                --stroke: #BFBFBF;
            }
        }

        &:not(.activePage):not(:disabled):hover {
            border-color: #999999;
        }

        &.activePage {
            color: #1890FF;
            border-color: #1890FF;
        }
    }
}

@media (min-width: 769px) {
    .filterRow,
    .dateStatusFilter {
        gap: 10px 20px;
    }

    .search {
        margin-right: auto;

        input {
            width: 219px;
        }
    }

    .filterDate {
        input {
            width: 148px;
        }
    }

    .filterStatus {
        flex: 1;
        min-width: 150px;
        max-width: 212px;
    }

    .emptyHistoryMessage {
        margin-top: 42px;
    }
}

@media (min-width: 1024px) {
    .orderHistoryWrapper {
        padding: 10px;
        background: #FFF;
        border: 1px solid #F1F1F1;
        border-radius: 4px;
    }

    .orderHistoryTable {
        th,
        td {
            padding-left: 5px;
            padding-right: 5px;

            &:first-child {
                padding-left: 10px;
            }

            &:last-child {
                padding-right: 10px;
            }
        }

        thead {
            th,
            td {
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.14px;
                text-transform: uppercase;
                background: #F5F5F5;

                &:first-child {
                    padding-left: 20px;
                    border-radius: 4px 0 0 4px;
                }

                &:last-child {
                    padding-right: 20px;
                    border-radius: 0 4px 4px 0;
                }
            }
        }

        tbody {
            th,
            td {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }

    .pagination {
        margin-top: 20px;
    }
}

@media (min-width: 1366px) {
    .filterRow,
    .dateStatusFilter {
        gap: 10px 30px;
    }

    .orderHistoryTable {
        th,
        td {
            padding-left: 10px;
            padding-right: 10px;

            &:first-child {
                padding-left: 20px;
            }

            &:last-child {
                padding-right: 20px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .orderHistoryTable {
        &,
        tbody {
            display: block;
        }

        thead {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .filterRow {
        flex-direction: column;
    }

    .dateStatusFilter {
        flex-direction: column;
    }

    .search {
        .searchInput {
            flex: 1;
        }
    }

    .filterDate {
        > :global(.react-datepicker-wrapper) {
            flex: 1;
        }
    }
}

@media (max-width: 480px) {
    .search {
        width: 100%;

        .searchInput {
            flex: 1;

            input {
                width: 100%;
            }
        }
    }
}
