.orderTotal {
    text-align: right;
    line-height: normal;

    thead {
        th,
        td {
            padding-bottom: 10px;
            text-transform: uppercase;
            color: #0272BA;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    tbody {
        th,
        td {
            padding-bottom: 5px;
            font-size: 16px;
        }

        th {
            font-weight: normal;
            color: #7A7E80;

            &:not(:last-child) {
                padding-right: 20px;
            }
        }

        .totalAmount {
            td {
                font-weight: 500;
            }
        }
    }
}

@media (min-width: 769px) {
    .orderTotal {
        tbody {
            td {
                width: 150px;
            }
        }
    }
}

@media print {
    .orderTotal thead td {
        font-weight: 600;
    }
}
