.root {
    composes: mt-xs from global;
    composes: overflow-hidden from global;
    composes: text-ellipsis from global;
    composes: whitespace-nowrap from global;

    > .text {
        &:first-child {
            padding-left: 0;
        }
    }
}

.text {
    composes: px-1 from global;
    color: #005C98;
}

.divider {
    composes: text;

    svg {
        display: inline-block;
    }
}

.link {
    composes: text;
}

.currentPage,
.currentProduct,
.currentCategory {
    composes: text;
    color: #7A7E80;

    b {
        color: #2A2F33;
    }
}

@media (max-width: 768px) {
    .root {
        margin-top: 10px;
    }
}
