.root {
    --leftViewportElement: 0;
    --scrollBarWidth: var(--global-scrollbar-width, 0px);

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: '';
        background: url("~@magenest/theme/static/images/bg-login.jpg") center no-repeat;
        background-size: cover;
        position: absolute;
        width: calc(100vw - var(--scrollBarWidth));
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.contentContainer {
    display: block;
    width: 100%;
}

.wrapper {
    position: relative;
    z-index: 1;
    background: #fff;
    max-width: 460px;
    margin: 0 auto;
    border-radius: 10px;

    :global {
        .business-login {
            display: block;
        }
    }
}

.title {
    color: #000;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 20px;
}

@media (min-width: 769px) {
    .contentContainer {
        padding: 35px 0 130px;
    }

    .wrapper {
        padding: 30px;
    }

    .title {
        font-size: 26px;
        letter-spacing: 0.26px;
    }
}

@media (max-width: 768px) {
    .contentContainer {
        padding: 45px 4px;
    }

    .wrapper {
        padding: 15px;
    }

    .title {
        font-size: 22px;
        letter-spacing: 0.22px;
    }
}
