.storeItem {
    padding: 10px;
    background: #FFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.storeItemInner {
    display: flex;
    gap: 10px;
}

.storeImage {
    position: relative;
    width: 80px;
    min-width: 80px;
    height: 80px;
    background: #FAFAFA;
    border-radius: 4px;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 4px;
        overflow: hidden;
    }
}

.storeInformation {
    display: flex;
    flex-direction: column;
    line-height: normal;
    flex: 1;
}

.storeName {
    margin-bottom: 9px;
    font-weight: 500;
}

.storeAddress {
    position: relative;
    padding-left: 16px;
    color: #636A70;

    &:before {
        content: "";
        display: block;
        width: 11px;
        height: 13px;
        position: absolute;
        top: 0;
        left: 0;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='13' viewBox='0 0 11 13' fill='none'%3E%3Cpath d='M3.15296 5.47926C3.15296 4.32222 4.06944 3.38425 5.19998 3.38425C6.33052 3.38425 7.24701 4.32222 7.24701 5.47926C7.24701 6.63631 6.33052 7.57428 5.19998 7.57428C4.06944 7.57428 3.15296 6.63631 3.15296 5.47926Z' fill='%23A2A4A6'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.0185191 4.75561C0.234961 2.06823 2.42924 0 5.06397 0H5.33603C7.97076 0 10.165 2.06823 10.3815 4.75561C10.498 6.20252 10.0613 7.63924 9.16336 8.76316L6.14443 12.5418C5.65631 13.1527 4.74369 13.1527 4.25557 12.5418L1.23664 8.76317C0.338689 7.63925 -0.0980154 6.20252 0.0185191 4.75561ZM5.19998 2.41732C3.54766 2.41732 2.20818 3.7882 2.20818 5.47926C2.20818 7.17033 3.54766 8.54121 5.19998 8.54121C6.85231 8.54121 8.19179 7.17033 8.19179 5.47926C8.19179 3.7882 6.85231 2.41732 5.19998 2.41732Z' fill='%23A2A4A6'/%3E%3C/svg%3E") no-repeat center;
    }
}

.actions {
    margin-top: auto;
    padding-top: 10px;
    text-align: right;
}

.viewMap {
    color: #1D92DD;
}

@media (min-width: 769px) {
    .storeItem {
        padding: 15px;
    }

    .storeItemInner {
        gap: 15px;
    }

    .storeImage {
        width: 100px;
        min-width: 100px;
        height: 100px;
    }

    .storeName {
        margin-bottom: 14px;
        font-size: 17px;
    }

    .actions {
        padding-top: 19px;
    }

    .viewMap {
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) {
    .storeInformation {
        font-size: 13px;
    }
}
