.storeMap,
:global(.mapboxgl-map),
:global(.mapboxgl-canvas) {
    width: 100%;
    min-height: 500px;
}

.storeMarker {
    cursor: pointer;
    transform: translate(-50%, -50%);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' display='block' height='41px' width='27px' viewBox='0 0 27 41'%3E%3Cg fill-rule='nonzero'%3E%3Cg transform='translate(3.0, 29.0)' fill='%23000000'%3E%3Cellipse opacity='0.04' cx='10.5' cy='5.80029008' rx='10.5' ry='5.25002273'%3E%3C/ellipse%3E%3Cellipse opacity='0.04' cx='10.5' cy='5.80029008' rx='10.5' ry='5.25002273'%3E%3C/ellipse%3E%3Cellipse opacity='0.04' cx='10.5' cy='5.80029008' rx='9.5' ry='4.77275007'%3E%3C/ellipse%3E%3Cellipse opacity='0.04' cx='10.5' cy='5.80029008' rx='8.5' ry='4.29549936'%3E%3C/ellipse%3E%3Cellipse opacity='0.04' cx='10.5' cy='5.80029008' rx='7.5' ry='3.81822308'%3E%3C/ellipse%3E%3Cellipse opacity='0.04' cx='10.5' cy='5.80029008' rx='6.5' ry='3.34094679'%3E%3C/ellipse%3E%3Cellipse opacity='0.04' cx='10.5' cy='5.80029008' rx='5.5' ry='2.86367051'%3E%3C/ellipse%3E%3Cellipse opacity='0.04' cx='10.5' cy='5.80029008' rx='4.5' ry='2.38636864'%3E%3C/ellipse%3E%3C/g%3E%3Cg fill='%233FB1CE'%3E%3Cpath d='M27,13.5 C27,19.074644 20.250001,27.000002 14.75,34.500002 C14.016665,35.500004 12.983335,35.500004 12.25,34.500002 C6.7499993,27.000002 0,19.222562 0,13.5 C0,6.0441559 6.0441559,0 13.5,0 C20.955844,0 27,6.0441559 27,13.5 Z'%3E%3C/path%3E%3C/g%3E%3Cg opacity='0.25' fill='%23000000'%3E%3Cpath d='M13.5,0 C6.0441559,0 0,6.0441559 0,13.5 C0,19.222562 6.7499993,27 12.25,34.5 C13,35.522727 14.016664,35.500004 14.75,34.5 C20.250001,27 27,19.074644 27,13.5 C27,6.0441559 20.955844,0 13.5,0 Z M13.5,1 C20.415404,1 26,6.584596 26,13.5 C26,15.898657 24.495584,19.181431 22.220703,22.738281 C19.945823,26.295132 16.705119,30.142167 13.943359,33.908203 C13.743445,34.180814 13.612715,34.322738 13.5,34.441406 C13.387285,34.322738 13.256555,34.180814 13.056641,33.908203 C10.284481,30.127985 7.4148684,26.314159 5.015625,22.773438 C2.6163816,19.232715 1,15.953538 1,13.5 C1,6.584596 6.584596,1 13.5,1 Z'%3E%3C/path%3E%3C/g%3E%3Cg transform='translate(6.0, 7.0)' fill='%23FFFFFF'%3E%3C/g%3E%3Cg transform='translate(8.0, 8.0)'%3E%3Ccircle fill='%23000000' opacity='0.25' cx='5.5' cy='5.5' r='5.4999962'%3E%3C/circle%3E%3Ccircle fill='%23FFFFFF' cx='5.5' cy='5.5' r='5.4999962'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
    background-size: contain;
}

.storeMap {
    position: relative;

    > div {
        position: absolute !important;
        width: 100% !important;
        height: 100% !important;
    }

    :global {
        .mapboxgl-popup-content {
            padding: 15px 20px;
            border-radius: 4px;

            a {
                color: #1D92DD;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .mapboxgl-popup-close-button {
            padding: 4px 6px;
            font-size: 20px;
            line-height: 1;
        }
    }
}

.currentStoreInfo {
    font-size: 14px;
    color: #636A70;

    h3 {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.16px;
        color: #2A2F33;
    }
}

@media (min-width: 769px) {
    .storeMap,
    :global(.mapboxgl-map),
    :global(.mapboxgl-canvas) {
        min-height: 710px;
    }
}

@media (max-width: 480px) {
    .storeMap,
    :global(.mapboxgl-map),
    :global(.mapboxgl-canvas) {
        min-height: 388px;
    }
}
