.root {
}

.list {
    composes: table from global;
    composes: w-full from global;

    font-size: 16px;
    line-height: 1.375;

    > li {
        display: table-row;

        > div {
            display: table-cell;
            width: 50%;
            padding: 12px 0;

            &:first-child {
                @apply font-normal;
                color: #7A7E80;
            }

            &:not(:first-child) {
                @apply pl-2;
                @apply md_pl-6;
            }
        }

        &:nth-child(2n + 1) {
            > div {
                background: #F3F3F3;
            }
        }
    }
}

.descriptionInner {
    composes: relative from global;
    composes: overflow-hidden from global;
    max-height: 202px;
    transition: max-height 0.5s ease;

    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        height: 80px;
        background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.00), #FFF);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00), #FFF);
        pointer-events: none;
        transition: height 0.5s ease;
    }

    .descriptionExpanded & {
        max-height: none;

        &:after {
            height: 0;
        }
    }
}

.showLessButton,
.showMoreButton {
    composes: block from global;
    composes: my-6 from global;
    composes: mx-auto from global;
    composes: text-center from global;
    max-width: 150px;
    font-size: 18px;
    line-height: 1.33333;
    color: #1D92DD;

    &:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        margin: 7px auto 0;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M3.75 11.625L9 6.375L14.25 11.625' stroke='%23005C98' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
        background-size: contain;
    }

    :global(.aiChatbot) & {
        scale: 0.9;
        @apply my-3;
    }
}

.showMoreButton {
    &:after {
        transform: rotate(180deg);
    }
}
