.similarProducts {
    margin-bottom: 10px;
    padding: 15px 10px;
    background: #FAFAFA;
    border-radius: 8px;
}

.similarProductsTitle {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.similarProductsInner {
    position: relative;

    .gallery {
        display: flex;
        gap: 10px;
    }

    :global {
        .slick-slider {
            &,
            &.slick-initialized {
                .slick-prev {
                    width: 32px;
                    height: 32px;
                    left: -36px;
                }

                .slick-next {
                    width: 32px;
                    height: 32px;
                    right: -36px;
                }

                .slick-slide {
                    width: 110px;
                }
            }
        }
    }
}

.item {
    width: 100px;
    max-width: 100px;
}

.itemImage {
    display: block;
    text-align: center;
    background: #E8E8E8;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    overflow: hidden;
}

.image {
    position: relative;
    display: block;
    background: #FFF;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        -o-object-fit: scale-down;
        object-fit: scale-down;
    }
}

.itemName {
    display: block;
    padding: 2px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.065px;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priceWrapper {
    display: block;
    text-align: center;

    &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin: 10px auto;
        border: 2px solid #C5C6CC;
        border-radius: 50%;
    }

    .itemCurrent & {
        &:before {
            border: 6px solid #1D92DD;
        }
    }

    :global(.item--promotion) & {
        margin-top: 10px;

        &:before {
            display: none;
        }
    }

    :global(.item--deal) &,
    :global(.item--gift) & {
        &:before {
            display: none;
        }

        .dealAction {
            display: block;
            width: 20px;
            height: 20px;
            margin: 10px auto;
            border: 2px solid #C5C6CC;
            border-radius: 50%;
            cursor: pointer;

            &.active {
                border: 6px solid #1D92DD;
            }
        }
    }
}

.finalPrice {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: #000;

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.oldPrice {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33333;
    letter-spacing: 0.12px;
    text-decoration: line-through;
    color: #7A7E80;
    vertical-align: middle;
}

.discount {
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16667;
    letter-spacing: 0.18px;
    color: #EB2030;
    background: #FFD1D1;
    border-radius: 4px;
    vertical-align: top;
}

@media (min-width: 769px) {
    .similarProducts {
        padding: 10px;
    }

    .similarProductsInner {
        .gallery {
            .item {
                max-width: calc((100% - 20px) / 3);
            }
        }
    }
}

@media (max-width: 768px) {
    .similarProductsInner {
        .gallery {
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
