.root {
    composes: root from '~@magenest/theme/BaseComponents/Pagination/extendStyle/tile.module.scss';

    &:disabled {
        border-color: #D9D9D9;
    }

    &[aria-label*='first'],
    &[aria-label*='last'] {
        display: none !important;
    }
}

.icon {
    composes: root from '~@magento/venia-ui/lib/components/Icon/icon.module.css';
    --stroke: #595959;

    svg {
        width: 18px;
        height: 18px;
    }
}

.icon_disabled {
    composes: icon;
    --stroke: #BFBFBF;
}
