.root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 32px;
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-size: 14px;
    color: #595959;

    &:hover {
        border-color: #999999;
    }
}

.root_active {
    composes: root;
    color: #1890FF;
    border-color: #1890FF;
}
