.shimmerRoot {
    composes: root_rectangle from '~@magento/venia-ui/lib/components/Shimmer/shimmer.module.css';
    composes: root from '~@magento/pagebuilder/lib/ContentTypes/Products/products.module.css';
    display: block;
    @apply bg-gray-100;
}
