.root {
    padding: 0;
}

.title {
    color: #000;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 20px;
}

.form {
    display: block;
}

.forgotPasswordButtonContainer {
    margin-left: auto;

    a {
        color: #1D92DD;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.buttonsContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.businessLogin {
    border-radius: 4px;
    background: #E82230;
    box-shadow: 0 2px 3px 0 rgba(16, 16, 16, 0.09);
    padding: 11px 30px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    display: none;
    text-align: center;
}

.createAccount {
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;

    a {
        color: #0272BA;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin: auto;
    }

    .label {
        color: #000;
        padding-right: 4px;
    }
}

.separator {
    color: #A59C9C;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding: 10px 0;
    margin: 20px 0 10px;

    span {
        background-color: #fff;
        padding: 0 10px;
        z-index: 1;
        position: relative;
    }

    &:before {
        content: '';
        background-color: #EFEFEF;
        height: 2px;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}

.signInNote {
    color: #A59C9C;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.loadingFullPage {
    composes: fixed from global;
    composes: top-0 from global;
    composes: bottom-0 from global;
    composes: left-0 from global;
    composes: right-0 from global;

    z-index: 63;
}

@media (min-width: 769px) {
    .title {
        font-size: 24px;
        letter-spacing: 0.24px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 22px;
        letter-spacing: 0.22px;
    }
}
