.mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: auto;
    background: none;

    :global(.chatbotOpened) & {
        @apply opacity-100;
        background: rgba(0, 0, 0, 0.6);
    }
}

.wrapper {
    text-align: center;

    &:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='54' height='45' viewBox='0 0 54 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40.656 5.3187C36.9313 2.37813 32.2264 0.619385 27.107 0.619385C15.4692 0.619385 5.95187 9.70922 5.26838 21.1755L3.85693 19.8591C2.92715 18.9965 1.47646 19.0469 0.613895 19.9711C-0.248672 20.8953 -0.198261 22.3516 0.725918 23.2141L6.38302 28.4904C6.82251 28.9006 7.38232 29.1043 7.9414 29.1058C7.96166 29.1063 7.98195 29.1066 8.00227 29.1066C8.60984 29.1066 9.19252 28.8652 9.62214 28.4356C9.68218 28.3756 9.73854 28.3125 9.79109 28.2469L14.9812 22.682C15.8494 21.7523 15.799 20.3016 14.8692 19.439C13.945 18.5764 12.4888 18.6269 11.6262 19.551L9.84671 21.459C10.3808 12.3899 17.9038 5.20108 27.107 5.20108C31.0582 5.20108 34.7013 6.53119 37.6112 8.76111C37.6427 8.79676 37.6753 8.83152 37.7091 8.86533C38.1387 9.29495 38.7214 9.5363 39.329 9.5363C39.9366 9.5363 40.5192 9.29495 40.9489 8.86533C41.3785 8.43571 41.6198 7.85303 41.6198 7.24546C41.6198 6.63789 41.3785 6.0552 40.9489 5.62558C40.8488 5.52548 40.7404 5.4356 40.6253 5.35661L40.656 5.3187ZM27.107 39.7878C22.8949 39.7878 19.0358 38.2811 16.0336 35.7774L15.9971 35.8225C15.6039 35.5295 15.1244 35.3686 14.6282 35.3686C14.0206 35.3686 13.438 35.6099 13.0083 36.0396C12.5787 36.4692 12.3374 37.0519 12.3374 37.6594C12.3374 38.267 12.5787 38.8497 13.0083 39.2793C13.1758 39.4468 13.3665 39.5856 13.5729 39.6927C17.2946 42.6266 21.9958 44.3807 27.107 44.3807C39.1885 44.3807 48.9848 34.5844 48.9848 22.5029C48.9848 22.2694 48.9811 22.0368 48.9738 21.805L50.2789 22.8445C51.2703 23.6343 52.7098 23.4718 53.4996 22.4804C54.2893 21.489 54.1269 20.044 53.1355 19.2542L47.2982 14.6006C47.2324 14.5333 47.1617 14.4694 47.0862 14.4092C46.0948 13.6195 44.6497 13.7819 43.8599 14.7733L39.0374 20.8225C38.2476 21.8139 38.4101 23.259 39.4015 24.0487C40.3929 24.8385 41.8379 24.676 42.6277 23.6846L44.3692 21.5001C44.388 21.8301 44.3975 22.1625 44.3975 22.4973C44.3975 32.0471 36.6568 39.7878 27.107 39.7878Z' fill='%231D92DD'/%3E%3C/svg%3E%0A");
        width: 54px;
        height: 45px;
        min-width: 54px;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
    }

    .content {
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.18px;
        color: #2A2F33;
    }
}

.modalFooter {
    display: flex;
    gap: 10px;

    .buttonTitle {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .buttonDescription {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
}

.innerWidth {
    max-width: 732px;
}

.titleAllowSelection {
    color: #2A2F33;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.09px;
    display: block;
    margin-bottom: 20px;
}

.changeStoreContent {
    color: #2A2F33;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;

    strong {
        font-weight: 500;
    }

    > span {
        display: block;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        &:before {
            margin: 0 auto 25px;
        }

        .content {
            font-size: 18px;

            strong {
                font-weight: 500;
            }
        }
    }

    .modalFooter {
        margin-top: 25px;
    }
}

@media (max-width: 1023px) {
    .wrapper {
        &:before {
            margin: 0 auto 15px;
            max-width: 45px;
        }

        .content {
            font-size: 16px;

            strong {
                font-weight: 500;
                display: block;
            }
        }
    }

    .modalFooter {
        flex-direction: column;
        margin-top: 15px;
    }
}
