.newAdministrativeNote {
    margin-bottom: 20px;
    font-size: 16px;
    color: #E82230;
}

.shareLocation {
    color: #2A2F33;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;

    button {
        color: #1795E7;
    }
}

.fields {
    display: flex;
    gap: 0 20px;

    > div {
        width: 100%;
    }
}

.suggestLocation {
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    background: #FFF;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 20px);
    z-index: 1;

    ul {
        max-height: 168px;
        overflow-y: auto;
    }

    li {
        padding: 10px 15px;
        color: #2A2F33;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background: #F3F3F3;
        }

        img {
            margin-top: 2px;
        }
    }
}

@media (max-width: 1023px) {
    .fields {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .newAdministrativeNote {
        margin-bottom: 15px;
        font-size: 15px;
    }
}
