.root {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    position: relative;
}

.label {
    color: #2A2F33;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
    display: block;
}

.optional {
    font-size: 0;
    line-height: 0;
    color: rgba(0, 0, 0, 0);

    &:before {
        content: '*';
        color: #E53935;
        font-size: 12px;
        margin-left: 4px;
        display: inline-block;
        position: relative;
        top: -3px;
    }
}
