.root {
    padding: 0;
}

.title {
    color: #000;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 20px;
}

.form {
    display: block;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    .businessCustomer {
        span {
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
        }
    }
}

.separator {
    color: #A59C9C;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding: 10px 0;
    margin: 20px 0 10px;

    span {
        background-color: #fff;
        padding: 0 10px;
        z-index: 1;
        position: relative;
    }

    &:before {
        content: '';
        background-color: #EFEFEF;
        height: 2px;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}

.signIn {
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;

    a {
        color: #0272BA;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin: auto;
    }

    .label {
        color: #000;
        padding-right: 4px;
    }
}

.agree {
    text-align: left;
    margin-top: 20px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

@media (min-width: 769px) {
    .title {
        font-size: 24px;
        letter-spacing: 0.24px;
    }

    .password {
        display: flex;
        gap: 10px;

        > div {
            width: 100%;
            margin-bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 22px;
        letter-spacing: 0.22px;
    }
}
