.breadcrumbs {
    margin: 14px 0 22px;
}

.headingContainer {
    border-bottom: 1px solid #EDEDED;

    h1 {
        color: #0272BA;
        font-weight: 500;
        line-height: normal;
    }

    .description {
        color: #7A7E80;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .stepsContainer {
        display: flex;
        align-items: center;

        .step {
            display: flex;
            align-items: flex-start;

            span {
                color: #2A2F33;
                font-weight: 400;

                &:before {
                    display: block;
                    content: '';
                    width: 40px;
                    min-width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                }

                &:first-child {
                    &:before {
                        background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%230272BA'/%3E%3Cpath d='M24.5189 24.5013C24.6939 24.3648 24.8526 24.2061 25.1701 23.8886L29.1275 19.9312C29.2231 19.8356 29.1793 19.6708 29.0515 19.6264C28.5844 19.4644 27.9767 19.1601 27.4083 18.5917C26.8399 18.0233 26.5356 17.4156 26.3736 16.9485C26.3292 16.8207 26.1644 16.7769 26.0688 16.8725L22.1114 20.8299C21.7939 21.1474 21.6352 21.3061 21.4987 21.4811C21.3377 21.6876 21.1996 21.9109 21.087 22.1473C20.9915 22.3476 20.9205 22.5606 20.7786 22.9865L20.5951 23.5368L20.3034 24.4118L20.0299 25.2323C19.9601 25.4419 20.0146 25.6729 20.1708 25.8292C20.3271 25.9854 20.5581 26.0399 20.7677 25.9701L21.5882 25.6966L22.4632 25.4049L23.0135 25.2214L23.0136 25.2214C23.4394 25.0795 23.6524 25.0085 23.8527 24.913C24.0891 24.8004 24.3124 24.6623 24.5189 24.5013Z' fill='white'/%3E%3Cpath d='M30.3665 18.6922C31.2112 17.8475 31.2112 16.4781 30.3665 15.6335C29.5219 14.7888 28.1525 14.7888 27.3078 15.6335L27.1806 15.7607C27.0578 15.8835 27.0022 16.055 27.0329 16.2259C27.0522 16.3334 27.0879 16.4905 27.153 16.6781C27.2831 17.0531 27.5288 17.5455 27.9917 18.0083C28.4545 18.4712 28.9469 18.7169 29.3219 18.847C29.5095 18.9121 29.6666 18.9478 29.7741 18.9671C29.945 18.9978 30.1165 18.9422 30.2393 18.8194L30.3665 18.6922Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1716 11.1716C11 12.3431 11 14.2288 11 18V22C11 25.7712 11 27.6569 12.1716 28.8284C13.3431 30 15.2288 30 19 30H21C24.7712 30 26.6569 30 27.8284 28.8284C28.9812 27.6756 28.9997 25.8316 29 22.1801L26.1817 24.9984C25.9119 25.2683 25.691 25.4894 25.4415 25.6841C25.1491 25.9121 24.8328 26.1076 24.4981 26.2671C24.2124 26.4032 23.9159 26.502 23.5538 26.6225L21.2421 27.3931C20.4935 27.6426 19.6682 27.4478 19.1102 26.8898C18.5523 26.3318 18.3574 25.5065 18.607 24.7579L18.8805 23.9375L19.3556 22.5121L19.3775 22.4463C19.4981 22.0842 19.5968 21.7876 19.7329 21.5019C19.8924 21.1672 20.0879 20.8509 20.316 20.5586C20.5106 20.309 20.7317 20.0881 21.0017 19.8183L25.0081 15.8119L26.12 14.7L26.2472 14.5728C26.9626 13.8574 27.9003 13.4998 28.838 13.5C28.6867 12.4695 28.3941 11.7373 27.8284 11.1716C26.6569 10 24.7712 10 21 10H19C15.2288 10 13.3431 10 12.1716 11.1716ZM15.25 17C15.25 16.5858 15.5858 16.25 16 16.25H22.5C22.9142 16.25 23.25 16.5858 23.25 17C23.25 17.4142 22.9142 17.75 22.5 17.75H16C15.5858 17.75 15.25 17.4142 15.25 17ZM15.25 21C15.25 20.5858 15.5858 20.25 16 20.25H18.5C18.9142 20.25 19.25 20.5858 19.25 21C19.25 21.4142 18.9142 21.75 18.5 21.75H16C15.5858 21.75 15.25 21.4142 15.25 21ZM15.25 25C15.25 24.5858 15.5858 24.25 16 24.25H17.5C17.9142 24.25 18.25 24.5858 18.25 25C18.25 25.4142 17.9142 25.75 17.5 25.75H16C15.5858 25.75 15.25 25.4142 15.25 25Z' fill='white'/%3E%3C/svg%3E%0A");
                    }
                }
            }

            &:not(:last-child) {
                &:after {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='16' viewBox='0 0 26 16' fill='none'%3E%3Cpath d='M25.7763 7.44083C25.9195 7.58917 25.9999 7.79036 25.9999 8.00014C25.9999 8.20991 25.9195 8.4111 25.7763 8.55944L19.2986 15.2708C19.1552 15.4181 18.9613 15.5005 18.7594 15.5C18.5575 15.4995 18.364 15.4162 18.2213 15.2683C18.0785 15.1205 17.9982 14.92 17.9977 14.7109C17.9973 14.5018 18.0769 14.301 18.2191 14.1525L24.6968 7.44083C24.84 7.29263 25.0341 7.20938 25.2365 7.20938C25.4389 7.20938 25.6331 7.29263 25.7763 7.44083ZM19.2986 0.729426L25.7763 7.44083C25.9195 7.5891 26 7.79022 26 7.99995C26 8.20968 25.9197 8.41084 25.7765 8.55918C25.7056 8.63262 25.6215 8.6909 25.5289 8.73066C25.4362 8.77042 25.337 8.7909 25.2367 8.79093C25.0342 8.79098 24.84 8.70771 24.6968 8.55944L18.2191 1.8483C18.0767 1.69985 17.9969 1.499 17.9972 1.28974C17.9975 1.08048 18.0779 0.879867 18.2207 0.731845C18.3635 0.583823 18.5571 0.500455 18.7592 0.500002C18.9612 0.499548 19.1552 0.582046 19.2986 0.729426ZM0.525638 7.21934H25.0783C25.1473 7.21934 25.2157 7.23342 25.2795 7.26078C25.3432 7.28814 25.4012 7.32824 25.45 7.3788C25.4988 7.42936 25.5375 7.48937 25.5639 7.55543C25.5903 7.62148 25.6039 7.69228 25.6039 7.76377V8.24951C25.6039 8.32101 25.5903 8.3918 25.5639 8.45786C25.5375 8.52391 25.4988 8.58393 25.45 8.63449C25.4012 8.68504 25.3432 8.72514 25.2795 8.7525C25.2157 8.77986 25.1473 8.79395 25.0783 8.79395H0.525638C0.38623 8.79395 0.252532 8.73659 0.153956 8.63449C0.0553795 8.53238 0 8.39391 0 8.24951V7.76377C0 7.61938 0.0553795 7.4809 0.153956 7.3788C0.252532 7.2767 0.38623 7.21934 0.525638 7.21934Z' fill='%23A2A4A6'/%3E%3C/svg%3E");
                    width: 26px;
                    height: 15px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: block;
                    margin-top: 13px;
                }
            }
        }
    }
}

.block {
    border-radius: 4px;
    background: #F8F8F8;

    .blockTitle {
        color: #2A2F33;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;
    }
}

:global(.suggest-products) {
    margin-top: 40px;
    
    h2 {
        margin-bottom: 35px;
        text-align: left;
        font-size: 32px;
        font-weight: 700;
        font-family: 'Roboto';
        text-transform: none;
        letter-spacing: 0.32px;
    }
}

@media (min-width: 769px) {
    @media (max-width: 1550px) {
        :global {
            .suggest-products {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }

    @media (max-width: 1200px) {
        :global {
            .suggest-products {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media (min-width: 1600px) {
    :global {
        .suggest-products {
            .slick-slider.slick-initialized {
                .slick-prev {
                    left: -75px;
                }

                .slick-next {
                    right: -75px;
                }
            }
        }
    }
}

@media (min-width: 769px) {
    .headingContainer {
        padding-bottom: 20px;

        h1 {
            font-size: 28px;
            margin-bottom: 10px;
            letter-spacing: 0.28px;
        }

        .description {
            font-size: 16px;
            line-height: 22px;
        }

        .stepsContainer {
            gap: 20px;

            .step {
                gap: 20px;

                span {
                    font-size: 16px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }

    .block {
        margin-top: 20px;
        padding: 20px;

        .blockTitle {
            font-size: 24px;
            letter-spacing: 0.24px;
        }
    }
}

@media (max-width: 768px) {
    .headingContainer {
        padding-bottom: 10px;

        h1 {
            font-size: 20px;
            margin-bottom: 5px;
            letter-spacing: 0.2px;
        }

        .description {
            font-size: 14px;
            line-height: 20px;
        }

        .stepsContainer {
            gap: 10px;

            .step {
                gap: 10px;

                span {
                    font-size: 12px;
                    line-height: 16px;

                    &:before {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .block {
        margin-top: 10px;
        padding: 20px 10px;
        margin-left: -10px;
        margin-right: -10px;

        .blockTitle {
            font-size: 18px;
            letter-spacing: 0.09px;
        }
    }

    :global(.suggest-products) {
        h2 {
            margin-bottom: 10px;
            font-size: 20px;
            letter-spacing: 0.2px;
        }
    }
}
