.root {
    composes: fixed from global;
    composes: h-full from global;
    composes: opacity-0 from global;
    composes: right-0 from global;
    composes: top-0 from global;
    composes: w-full from global;
    composes: z-dialog from global;
    composes: invisible from global;
    transition: opacity 192ms var(--venia-global-anim-out),
    visibility 192ms var(--venia-global-anim-out), left 0s 192ms;

    @apply left-[100vw]
}

.root_open {
    composes: root;

    @apply left-0;
    @apply opacity-100;
    @apply visible;

    /* It animates to being open. */
    transition: opacity 224ms var(--venia-global-anim-in),
    visibility 224ms var(--venia-global-anim-in), left 0s;
}

.form {
    composes: h-full from global;
    composes: w-full from global;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 10px;
}

.mask {
    /* The mask takes up the entire screen. */
    composes: absolute from global;
    composes: h-full from global;
    composes: left-0 from global;
    composes: top-0 from global;
    composes: w-full from global;

    /* The mask is a semi-transparent grey. */
    composes: bg-black from global;
    composes: opacity-50 from global;
}

.maskTransparent {
    /* The mask takes up the entire screen. */
    composes: absolute from global;
    composes: h-full from global;
    composes: left-0 from global;
    composes: top-0 from global;
    composes: w-full from global;
}

.dialog {
    /* Minimum keeps a 16:9 aspect ratio and is 40rem x 22.5rem.  */
    composes: bg-white from global;
    composes: grid from global;
    composes: grid-rows-autoFirst from global;
    composes: max-w-modal from global;
    composes: overflow-hidden from global;
    composes: pointer-events-auto from global;
    composes: rounded-md from global;
    composes: shadow-dialog from global;
    composes: z-dialog from global;

    composes: lg_max-h-modal from global;
    composes: lg_max-w-full from global;
    width: 450px;
    min-height: 55px;
    max-width: calc(100% - 24px);
    box-shadow: none;
    margin: auto;
}

.header {
    display: flex;
    gap: 10px;
    padding: 15px;
    background: #0272BA;
    color: #FFFFFF;
    border: none;
}

.headerText {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
}

.headerButton {
    margin: auto 0 auto auto;
    width: 25px;
    min-width: 25px;
    height: 25px;
    background: #FFF;
    border-radius: 100px;

    svg {
        width: 19px;
        height: 19px;
        margin: 3px;
        stroke-width: 2.5px;
        --stroke: #0272BA;
    }
}

.contents {
    padding: 15px;

    + .buttons {
        padding-top: 5px;
    }
}

.buttons {
    composes: flex from global;
    gap: 10px;
    padding: 15px 8px;
}

.cancelButton {
    composes: root_normalPriority from '../../Button/extendStyle/button.module.scss';

    @apply flex-1;
    @apply px-3;
}

.confirmButton {
    composes: root_highPriority from '../../Button/extendStyle/button.module.scss';

    @apply flex-1;
    @apply px-3;
}

.overlapZIndex,
.dialogBorderlessWrapper {
    z-index: 90;

    .form {
        padding-top: 10px;
    }
}

.dialogBorderless {
    position: relative;
    width: 580px;
    min-height: 55px;

    .header {
        padding: 0;
        background: none;
    }

    .headerText {
        display: none;
    }

    .headerButton {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .contents {
        padding: 0;
    }
}

:global(.chatbotFullscreen) {
    .root_open {
        z-index: 91;

        .form {
            padding-top: 10px;
        }
    }
}

@media (min-width: 769px) {
    .form {
        padding-top: 145px;
    }
}

@media (max-width: 640px) {
    .root_open {
        :global(.ui-select-opened) & {
            .contents:before {
                content: "";
                display: block;
                position: fixed;
                z-index: 999;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.16);
            }
        }
    }
}
