.removeAll {
    composes: root_normalPriority from '../Button/extendStyle/button.module.scss';

    @apply flex-1;
    @apply px-3;

    &:after {
        display: none;
    }

    span {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.field {
    > div {
        @apply mb-0;
    }
}

.searchMultiple {
    composes: relative from global;
    composes: flex from global;
    composes: flex-wrap from global;
    composes: border from global;
    composes: rounded from global;

    margin-bottom: 5px;
    gap: 5px;
    padding: 6px 10px;
    border-color: #DBDBDB;

    .errorField & {
        border-color: #F5222D;
    }

    label {
        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply right-0;
        @apply bottom-0;
    }

    input {
        @apply relative;
        @apply flex-1;
        @apply h-[28px];
        @apply min-w-[120px];
        @apply text-colorDefault;

        &::placeholder {
            color: #BFBFBF;
        }
    }

    li {
        @apply relative;
        @apply flex;
        @apply items-center;
        @apply gap-1;
        color: #005C98;
        padding: 5px 10px;
        background: #E6F7FF;
        border-radius: 99px;
        z-index: 2;

        button {
            @apply -m-2;
            @apply leading-none;
            @apply h-[32px];

            &:before {
                content: "";
                display: block;
                width: 32px;
                height: 32px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cmask id='mask0_13911_94754' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13911_94754)'%3E%3Cpath d='M4.26646 12.4358L3.56396 11.7333L7.2973 8L3.56396 4.26667L4.26646 3.56417L7.9998 7.2975L11.7331 3.56417L12.4356 4.26667L8.7023 8L12.4356 11.7333L11.7331 12.4358L7.9998 8.7025L4.26646 12.4358Z' fill='%23005C98'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / 16px;
            }

            span {
                @apply hidden;
            }
        }

        ~ input {
            &::placeholder {
                color: rgba(255, 255, 255, 0);
            }
        }
    }
}

.error {
    font-size: 13px;
    letter-spacing: 0.13px;
    color: #E82230;
}

.note {
    font-size: 13px;
    letter-spacing: 0.13px;
    color: #5B6166;
}
