.popularKeysWrapper {
    margin-top: 10px;
    margin-bottom: 10px;

    h3 {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: normal;
        font-weight: 700;
        letter-spacing: 0.09px;
        color: #000;
    }
}

.popularKeys {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.popularKey {
    a {
        display: inline-block;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.33333;
        letter-spacing: 0.12px;
        color: #636A70;
        background: #F6F6F6;
        border-radius: 4px;
        transition: all 0.3s ease;

        &:hover {
            color: #FFFFFF;
            background: #0272BA;
        }
    }
}

@media (min-width: 769px) {
    .popularKeysWrapper {
        margin-top: 20px;
        margin-bottom: 20px;

        h3 {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }
}
