.root {
    composes: absolute from global;
    composes: left-0 from global;
    composes: right-0 from global;
    composes: min-h-full from global;

    composes: xl_top-0 from global;
    composes: xl_p-4 from global;

    composes: -xl_top-full from global;
    composes: -xl_-mt-1 from global;
    composes: -xl_mx-2 from global;
    composes: -xl_p-3 from global;

    z-index: 89;
    border: 4px solid rgba(170, 218, 255, 0);
    border-radius: 15px;
    background: linear-gradient(#FFF, #FFF) padding-box, linear-gradient(101deg, #AADAFF 15%, #FFB1B7 50%, #AADAFF 85%) border-box;
}

.searchAIHead {
    composes: relative from global;
    composes: pr-8 from global;
    composes: mb-5 from global;
}

.searchTitle {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.09px;
}

.close {
    composes: absolute from global;
    composes: top-0 from global;
    composes: right-0 from global;
    composes: -m-1 from global;

    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_15665_41211' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15665_41211)'%3E%3Cpath d='M12 13.0543L6.92701 18.1275C6.78851 18.2658 6.61443 18.3367 6.40476 18.34C6.19526 18.3432 6.01801 18.2723 5.87301 18.1275C5.72818 17.9825 5.65576 17.8068 5.65576 17.6005C5.65576 17.3942 5.72818 17.2185 5.87301 17.0735L10.9463 12.0005L5.87301 6.9275C5.73468 6.789 5.66385 6.61492 5.66051 6.40525C5.65735 6.19575 5.72818 6.0185 5.87301 5.8735C6.01801 5.72867 6.19368 5.65625 6.40001 5.65625C6.60635 5.65625 6.78201 5.72867 6.92701 5.8735L12 10.9468L17.073 5.8735C17.2115 5.73517 17.3856 5.66433 17.5953 5.661C17.8048 5.65783 17.982 5.72867 18.127 5.8735C18.2718 6.0185 18.3443 6.19417 18.3443 6.4005C18.3443 6.60683 18.2718 6.7825 18.127 6.9275L13.0538 12.0005L18.127 17.0735C18.2653 17.212 18.3362 17.3861 18.3395 17.5958C18.3427 17.8053 18.2718 17.9825 18.127 18.1275C17.982 18.2723 17.8063 18.3448 17.6 18.3448C17.3937 18.3448 17.218 18.2723 17.073 18.1275L12 13.0543Z' fill='%232A2F33'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;

    span {
        display: none;
    }
}

.formClose {
    composes: close;

    @apply relative;
}

.searchImageForm {
    composes: relative from global;

    img {
        width: 48px;
        height: 48px;
        z-index: 9;
        box-shadow: none !important;

        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply object-cover;
    }
}

.actions {
    composes: absolute from global;
    composes: top-0 from global;
    composes: right-0 from global;
    composes: flex from global;
    composes: items-center from global;
    height: 48px;
    gap: 10px;
}

.submit {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 99px;
    background: #0272BA url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_15853_29196' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15853_29196)'%3E%3Cpath d='M3 20V4L22 12L3 20ZM5 17L16.85 12L5 7V10.5L11 12L5 13.5V17Z' fill='white'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / 24px;

    span {
        display: none;
    }
}

.field {
    > div {
        @apply mb-0;
    }

    input {
        height: 48px;
        padding-left: 58px;
        padding-right: 70px;
        @apply border-0;
        @apply focus_shadow-none;
    }
}

.loadingWrapper {
    composes: absolute from global;
    composes: top-0 from global;
    composes: left-0 from global;
    composes: right-0 from global;
    composes: bottom-0 from global;

    z-index: 99;

    span:empty {
        @apply hidden;
    }
}

.attachmentWrapper {
    composes: relative from global;
}

.attachmentName {
    composes: relative from global;
    composes: pt-2 from global;
    composes: pr-8 from global;
    font-size: 12px;
    color: #8a8d93;
    font-style: italic;
}

.error {
    composes: block from global;
    composes: mb-2 from global;
    composes: text-center from global;
    color: #E82230;

    .searchImageForm & {
        @apply text-left;
        @apply mt-2;
        @apply mb-0;
    }
}

.errorMessage {
    composes: block from global;
    margin-top: 5px;
    color: #E82230;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.remove {
    composes: absolute from global;
    composes: top-0 from global;
    composes: right-0 from global;

    &:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_22442_52934' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22442_52934)'%3E%3Cpath d='M7.30775 20.5002C6.81058 20.5002 6.385 20.3232 6.031 19.9692C5.677 19.6152 5.5 19.1896 5.5 18.6925V6.00022H5.25C5.0375 6.00022 4.85942 5.92831 4.71575 5.78447C4.57192 5.64064 4.5 5.46247 4.5 5.24997C4.5 5.03731 4.57192 4.85922 4.71575 4.71572C4.85942 4.57206 5.0375 4.50022 5.25 4.50022H9C9 4.25539 9.08625 4.04672 9.25875 3.87422C9.43108 3.70189 9.63967 3.61572 9.8845 3.61572H14.1155C14.3603 3.61572 14.5689 3.70189 14.7413 3.87422C14.9138 4.04672 15 4.25539 15 4.50022H18.75C18.9625 4.50022 19.1406 4.57214 19.2843 4.71597C19.4281 4.85981 19.5 5.03797 19.5 5.25047C19.5 5.46314 19.4281 5.64122 19.2843 5.78472C19.1406 5.92839 18.9625 6.00022 18.75 6.00022H18.5V18.6925C18.5 19.1896 18.323 19.6152 17.969 19.9692C17.615 20.3232 17.1894 20.5002 16.6923 20.5002H7.30775ZM17 6.00022H7V18.6925C7 18.7823 7.02883 18.8561 7.0865 18.9137C7.14417 18.9714 7.21792 19.0002 7.30775 19.0002H16.6923C16.7821 19.0002 16.8558 18.9714 16.9135 18.9137C16.9712 18.8561 17 18.7823 17 18.6925V6.00022ZM10.1543 17.0002C10.3668 17.0002 10.5448 16.9284 10.6885 16.7847C10.832 16.6409 10.9037 16.4627 10.9037 16.2502V8.75022C10.9037 8.53772 10.8318 8.35956 10.688 8.21572C10.5443 8.07206 10.3662 8.00022 10.1535 8.00022C9.941 8.00022 9.76292 8.07206 9.61925 8.21572C9.47575 8.35956 9.404 8.53772 9.404 8.75022V16.2502C9.404 16.4627 9.47583 16.6409 9.6195 16.7847C9.76333 16.9284 9.94158 17.0002 10.1543 17.0002ZM13.8465 17.0002C14.059 17.0002 14.2371 16.9284 14.3807 16.7847C14.5243 16.6409 14.596 16.4627 14.596 16.2502V8.75022C14.596 8.53772 14.5242 8.35956 14.3805 8.21572C14.2367 8.07206 14.0584 8.00022 13.8458 8.00022C13.6333 8.00022 13.4552 8.07206 13.3115 8.21572C13.168 8.35956 13.0962 8.53772 13.0962 8.75022V16.2502C13.0962 16.4627 13.1682 16.6409 13.312 16.7847C13.4557 16.9284 13.6338 17.0002 13.8465 17.0002Z' fill='%238a8d93'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / 18px;
    }

    span {
        display: none;
    }

    &:hover {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_22442_52934' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22442_52934)'%3E%3Cpath d='M7.30775 20.5002C6.81058 20.5002 6.385 20.3232 6.031 19.9692C5.677 19.6152 5.5 19.1896 5.5 18.6925V6.00022H5.25C5.0375 6.00022 4.85942 5.92831 4.71575 5.78447C4.57192 5.64064 4.5 5.46247 4.5 5.24997C4.5 5.03731 4.57192 4.85922 4.71575 4.71572C4.85942 4.57206 5.0375 4.50022 5.25 4.50022H9C9 4.25539 9.08625 4.04672 9.25875 3.87422C9.43108 3.70189 9.63967 3.61572 9.8845 3.61572H14.1155C14.3603 3.61572 14.5689 3.70189 14.7413 3.87422C14.9138 4.04672 15 4.25539 15 4.50022H18.75C18.9625 4.50022 19.1406 4.57214 19.2843 4.71597C19.4281 4.85981 19.5 5.03797 19.5 5.25047C19.5 5.46314 19.4281 5.64122 19.2843 5.78472C19.1406 5.92839 18.9625 6.00022 18.75 6.00022H18.5V18.6925C18.5 19.1896 18.323 19.6152 17.969 19.9692C17.615 20.3232 17.1894 20.5002 16.6923 20.5002H7.30775ZM17 6.00022H7V18.6925C7 18.7823 7.02883 18.8561 7.0865 18.9137C7.14417 18.9714 7.21792 19.0002 7.30775 19.0002H16.6923C16.7821 19.0002 16.8558 18.9714 16.9135 18.9137C16.9712 18.8561 17 18.7823 17 18.6925V6.00022ZM10.1543 17.0002C10.3668 17.0002 10.5448 16.9284 10.6885 16.7847C10.832 16.6409 10.9037 16.4627 10.9037 16.2502V8.75022C10.9037 8.53772 10.8318 8.35956 10.688 8.21572C10.5443 8.07206 10.3662 8.00022 10.1535 8.00022C9.941 8.00022 9.76292 8.07206 9.61925 8.21572C9.47575 8.35956 9.404 8.53772 9.404 8.75022V16.2502C9.404 16.4627 9.47583 16.6409 9.6195 16.7847C9.76333 16.9284 9.94158 17.0002 10.1543 17.0002ZM13.8465 17.0002C14.059 17.0002 14.2371 16.9284 14.3807 16.7847C14.5243 16.6409 14.596 16.4627 14.596 16.2502V8.75022C14.596 8.53772 14.5242 8.35956 14.3805 8.21572C14.2367 8.07206 14.0584 8.00022 13.8458 8.00022C13.6333 8.00022 13.4552 8.07206 13.3115 8.21572C13.168 8.35956 13.0962 8.53772 13.0962 8.75022V16.2502C13.0962 16.4627 13.1682 16.6409 13.312 16.7847C13.4557 16.9284 13.6338 17.0002 13.8465 17.0002Z' fill='%23E82230'/%3E%3C/g%3E%3C/svg%3E");
        }
    }
}

.closeOverlay {
    composes: xl_hidden from global;

    composes: -xl_absolute from global;
    composes: -xl_bottom-full from global;
    composes: -xl_right-10 from global;
    composes: -xl_border-none from global;
    composes: -xl_bg-none from global;
    composes: -xl_shadow-none from global;
    composes: -xl_outline-none from global;
    composes: -xl_opacity-0 from global;

    @apply -xl_h-[60px];
    @apply -xl_left-[90px];

    span {
        @apply hidden;
    }
}
