@-webkit-keyframes pulse {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
    25% {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1;
    }
    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.5);
        transform: translate(-50%, -50%) scale(1.5);
        filter: alpha(opacity=0.5);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
    75% {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
    25% {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1;
    }
    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.5);
        transform: translate(-50%, -50%) scale(1.5);
        filter: alpha(opacity=0.5);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
    75% {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
}

.searchByVoice {
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_15600_149037' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15600_149037)'%3E%3Cpath d='M12.0001 13.5C11.3014 13.5 10.7101 13.258 10.2261 12.774C9.74211 12.29 9.50011 11.6987 9.50011 11V5C9.50011 4.30133 9.74211 3.71 10.2261 3.226C10.7101 2.742 11.3014 2.5 12.0001 2.5C12.6988 2.5 13.2901 2.742 13.7741 3.226C14.2581 3.71 14.5001 4.30133 14.5001 5V11C14.5001 11.6987 14.2581 12.29 13.7741 12.774C13.2901 13.258 12.6988 13.5 12.0001 13.5ZM11.2501 20V17.4538C9.76161 17.2819 8.48594 16.6704 7.42311 15.6193C6.36044 14.5679 5.73802 13.2865 5.55586 11.775C5.52902 11.5622 5.58477 11.3798 5.72311 11.228C5.86161 11.076 6.03727 11 6.25011 11C6.46294 11 6.64111 11.0734 6.78461 11.2203C6.92827 11.3669 7.02386 11.5467 7.07136 11.7595C7.25336 12.984 7.81327 13.9968 8.75111 14.798C9.68894 15.5993 10.7719 16 12.0001 16C13.2449 16 14.3321 15.5952 15.2616 14.7855C16.1911 13.976 16.7469 12.9673 16.9289 11.7595C16.9764 11.5467 17.0719 11.3669 17.2156 11.2203C17.3591 11.0734 17.5373 11 17.7501 11C17.9629 11 18.1386 11.076 18.2771 11.228C18.4154 11.3798 18.4712 11.5622 18.4444 11.775C18.2622 13.2532 17.6439 14.5247 16.5896 15.5895C15.5351 16.6542 14.2553 17.2756 12.7501 17.4538V20C12.7501 20.2128 12.6783 20.391 12.5346 20.5345C12.3911 20.6782 12.2129 20.75 12.0001 20.75C11.7873 20.75 11.6091 20.6782 11.4656 20.5345C11.3219 20.391 11.2501 20.2128 11.2501 20Z' fill='%23005C98'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / 24px;
    order: -1;

    span {
        display: none;
    }
}

.root {
    composes: absolute from global;
    composes: left-0 from global;
    composes: right-0 from global;
    composes: min-h-full from global;

    composes: xl_top-0 from global;
    composes: xl_p-4 from global;

    composes: -xl_top-full from global;
    composes: -xl_-mt-1 from global;
    composes: -xl_mx-2 from global;
    composes: -xl_p-3 from global;

    z-index: 89;
    border: 4px solid rgba(170, 218, 255, 0);
    border-radius: 15px;
    background: linear-gradient(#FFF, #FFF) padding-box, linear-gradient(101deg, #AADAFF 15%, #FFB1B7 50%, #AADAFF 85%) border-box;
}

.searchAIHead {
    composes: relative from global;
    composes: pr-8 from global;
    composes: mb-5 from global;
}

.searchTitle {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.09px;
}

.close {
    composes: absolute from global;
    composes: top-0 from global;
    composes: right-0 from global;
    composes: -m-1 from global;

    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_15665_41211' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15665_41211)'%3E%3Cpath d='M12 13.0543L6.92701 18.1275C6.78851 18.2658 6.61443 18.3367 6.40476 18.34C6.19526 18.3432 6.01801 18.2723 5.87301 18.1275C5.72818 17.9825 5.65576 17.8068 5.65576 17.6005C5.65576 17.3942 5.72818 17.2185 5.87301 17.0735L10.9463 12.0005L5.87301 6.9275C5.73468 6.789 5.66385 6.61492 5.66051 6.40525C5.65735 6.19575 5.72818 6.0185 5.87301 5.8735C6.01801 5.72867 6.19368 5.65625 6.40001 5.65625C6.60635 5.65625 6.78201 5.72867 6.92701 5.8735L12 10.9468L17.073 5.8735C17.2115 5.73517 17.3856 5.66433 17.5953 5.661C17.8048 5.65783 17.982 5.72867 18.127 5.8735C18.2718 6.0185 18.3443 6.19417 18.3443 6.4005C18.3443 6.60683 18.2718 6.7825 18.127 6.9275L13.0538 12.0005L18.127 17.0735C18.2653 17.212 18.3362 17.3861 18.3395 17.5958C18.3427 17.8053 18.2718 17.9825 18.127 18.1275C17.982 18.2723 17.8063 18.3448 17.6 18.3448C17.3937 18.3448 17.218 18.2723 17.073 18.1275L12 13.0543Z' fill='%232A2F33'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;

    span {
        display: none;
    }
}

.formClose {
    composes: close;

    @apply relative;
}

.searchImageForm {
    composes: relative from global;

    img {
        width: 48px;
        height: 48px;
        z-index: 9;
        box-shadow: none !important;

        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply object-cover;
    }
}

.actions {
    composes: absolute from global;
    composes: top-0 from global;
    composes: right-0 from global;
    composes: flex from global;
    composes: items-center from global;
    height: 48px;
    gap: 10px;
}

.start {
    composes: ml-auto from global;
    composes: p-0 from global;

    border-radius: 99px;
    background: #0272BA url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_15761_41960' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15761_41960)'%3E%3Cpath d='M11.9996 13.5C11.301 13.5 10.7096 13.258 10.2256 12.774C9.74162 12.29 9.49962 11.6987 9.49962 11V5C9.49962 4.30133 9.74162 3.71 10.2256 3.226C10.7096 2.742 11.301 2.5 11.9996 2.5C12.6983 2.5 13.2896 2.742 13.7736 3.226C14.2576 3.71 14.4996 4.30133 14.4996 5V11C14.4996 11.6987 14.2576 12.29 13.7736 12.774C13.2896 13.258 12.6983 13.5 11.9996 13.5ZM11.2496 20V17.4538C9.76112 17.2819 8.48545 16.6704 7.42262 15.6193C6.35995 14.5679 5.73753 13.2865 5.55537 11.775C5.52853 11.5622 5.58428 11.3798 5.72262 11.228C5.86112 11.076 6.03678 11 6.24962 11C6.46245 11 6.64062 11.0734 6.78412 11.2203C6.92778 11.3669 7.02337 11.5467 7.07087 11.7595C7.25287 12.984 7.81278 13.9968 8.75062 14.798C9.68845 15.5993 10.7715 16 11.9996 16C13.2445 16 14.3316 15.5952 15.2611 14.7855C16.1906 13.976 16.7464 12.9673 16.9284 11.7595C16.9759 11.5467 17.0715 11.3669 17.2151 11.2203C17.3586 11.0734 17.5368 11 17.7496 11C17.9625 11 18.1381 11.076 18.2766 11.228C18.415 11.3798 18.4707 11.5622 18.4439 11.775C18.2617 13.2532 17.6435 14.5247 16.5891 15.5895C15.5346 16.6542 14.2548 17.2756 12.7496 17.4538V20C12.7496 20.2128 12.6778 20.391 12.5341 20.5345C12.3906 20.6782 12.2125 20.75 11.9996 20.75C11.7868 20.75 11.6086 20.6782 11.4651 20.5345C11.3215 20.391 11.2496 20.2128 11.2496 20ZM11.9996 12C12.283 12 12.5205 11.9042 12.7121 11.7125C12.9038 11.5208 12.9996 11.2833 12.9996 11V5C12.9996 4.71667 12.9038 4.47917 12.7121 4.2875C12.5205 4.09583 12.283 4 11.9996 4C11.7163 4 11.4788 4.09583 11.2871 4.2875C11.0955 4.47917 10.9996 4.71667 10.9996 5V11C10.9996 11.2833 11.0955 11.5208 11.2871 11.7125C11.4788 11.9042 11.7163 12 11.9996 12Z' fill='white'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / 70%;
    box-shadow: 0 0 0 2px #D6EDFF, 0 2px 12px 0 rgba(2, 114, 186, 0.24);

    @apply xl_w-[60px];
    @apply xl_min-w-[60px];
    @apply xl_h-[60px];

    @apply -xl_w-[48px];
    @apply -xl_min-w-[48px];
    @apply -xl_h-[48px];

    span {
        display: none;
    }
}

.submit {
    composes: relative from global;
    composes: ml-auto from global;
    composes: p-0 from global;

    @apply xl_w-[60px];
    @apply xl_min-w-[60px];
    @apply xl_h-[60px];

    @apply -xl_w-[48px];
    @apply -xl_min-w-[48px];
    @apply -xl_h-[48px];

    span {
        display: none;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 99px;
        background: #0272BA url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cmask id='mask0_15892_27062' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='48' height='48'%3E%3Crect width='48' height='48' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15892_27062)'%3E%3Cpath d='M13 31.3845V16.6155C13 15.6212 13.354 14.77 14.062 14.062C14.77 13.354 15.6212 13 16.6155 13H31.3845C32.3788 13 33.23 13.354 33.938 14.062C34.646 14.77 35 15.6212 35 16.6155V31.3845C35 32.3788 34.646 33.23 33.938 33.938C33.23 34.646 32.3788 35 31.3845 35H16.6155C15.6212 35 14.77 34.646 14.062 33.938C13.354 33.23 13 32.3788 13 31.3845Z' fill='white'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / 70%;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background-color: #E2F3FF;
        border-radius: 50%;
        box-shadow: 0 2px 6px 0 rgba(2, 114, 186, 0.24);
        transform: translate(-50%, -50%);
        -webkit-animation: pulse 1.2s infinite ease-in-out;
        animation: pulse 1.2s infinite ease-in-out;
    }
}
.recording {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375;
    color: #7A7E80;

    @apply -md_text-xs;
}

.field {
    > div {
        @apply mb-0;
    }

    input {
        height: 48px;
        padding-left: 58px;
        padding-right: 70px;
        @apply border-0;
    }
}

.loadingWrapper {
    composes: absolute from global;
    composes: top-0 from global;
    composes: left-0 from global;
    composes: right-0 from global;
    composes: bottom-0 from global;

    z-index: 99;

    span:empty {
        @apply hidden;
    }
}

.attachmentWrapper {
    composes: relative from global;
    composes: flex from global;
    composes: items-center from global;
    composes: gap-3 from global;
}

.attachmentName {
    composes: relative from global;
    composes: pt-2 from global;
    composes: pr-8 from global;
    font-size: 12px;
    color: #8a8d93;
    font-style: italic;
}

.error {
    composes: block from global;
    composes: mb-2 from global;
    composes: text-center from global;
    color: #E82230;
}

.errorMessage {
    composes: block from global;
    margin-top: 5px;
    color: #E82230;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.remove {
    composes: absolute from global;
    composes: top-0 from global;
    composes: right-0 from global;

    &:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_22442_52934' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22442_52934)'%3E%3Cpath d='M7.30775 20.5002C6.81058 20.5002 6.385 20.3232 6.031 19.9692C5.677 19.6152 5.5 19.1896 5.5 18.6925V6.00022H5.25C5.0375 6.00022 4.85942 5.92831 4.71575 5.78447C4.57192 5.64064 4.5 5.46247 4.5 5.24997C4.5 5.03731 4.57192 4.85922 4.71575 4.71572C4.85942 4.57206 5.0375 4.50022 5.25 4.50022H9C9 4.25539 9.08625 4.04672 9.25875 3.87422C9.43108 3.70189 9.63967 3.61572 9.8845 3.61572H14.1155C14.3603 3.61572 14.5689 3.70189 14.7413 3.87422C14.9138 4.04672 15 4.25539 15 4.50022H18.75C18.9625 4.50022 19.1406 4.57214 19.2843 4.71597C19.4281 4.85981 19.5 5.03797 19.5 5.25047C19.5 5.46314 19.4281 5.64122 19.2843 5.78472C19.1406 5.92839 18.9625 6.00022 18.75 6.00022H18.5V18.6925C18.5 19.1896 18.323 19.6152 17.969 19.9692C17.615 20.3232 17.1894 20.5002 16.6923 20.5002H7.30775ZM17 6.00022H7V18.6925C7 18.7823 7.02883 18.8561 7.0865 18.9137C7.14417 18.9714 7.21792 19.0002 7.30775 19.0002H16.6923C16.7821 19.0002 16.8558 18.9714 16.9135 18.9137C16.9712 18.8561 17 18.7823 17 18.6925V6.00022ZM10.1543 17.0002C10.3668 17.0002 10.5448 16.9284 10.6885 16.7847C10.832 16.6409 10.9037 16.4627 10.9037 16.2502V8.75022C10.9037 8.53772 10.8318 8.35956 10.688 8.21572C10.5443 8.07206 10.3662 8.00022 10.1535 8.00022C9.941 8.00022 9.76292 8.07206 9.61925 8.21572C9.47575 8.35956 9.404 8.53772 9.404 8.75022V16.2502C9.404 16.4627 9.47583 16.6409 9.6195 16.7847C9.76333 16.9284 9.94158 17.0002 10.1543 17.0002ZM13.8465 17.0002C14.059 17.0002 14.2371 16.9284 14.3807 16.7847C14.5243 16.6409 14.596 16.4627 14.596 16.2502V8.75022C14.596 8.53772 14.5242 8.35956 14.3805 8.21572C14.2367 8.07206 14.0584 8.00022 13.8458 8.00022C13.6333 8.00022 13.4552 8.07206 13.3115 8.21572C13.168 8.35956 13.0962 8.53772 13.0962 8.75022V16.2502C13.0962 16.4627 13.1682 16.6409 13.312 16.7847C13.4557 16.9284 13.6338 17.0002 13.8465 17.0002Z' fill='%238a8d93'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / 18px;
    }

    span {
        display: none;
    }

    &:hover {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_22442_52934' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22442_52934)'%3E%3Cpath d='M7.30775 20.5002C6.81058 20.5002 6.385 20.3232 6.031 19.9692C5.677 19.6152 5.5 19.1896 5.5 18.6925V6.00022H5.25C5.0375 6.00022 4.85942 5.92831 4.71575 5.78447C4.57192 5.64064 4.5 5.46247 4.5 5.24997C4.5 5.03731 4.57192 4.85922 4.71575 4.71572C4.85942 4.57206 5.0375 4.50022 5.25 4.50022H9C9 4.25539 9.08625 4.04672 9.25875 3.87422C9.43108 3.70189 9.63967 3.61572 9.8845 3.61572H14.1155C14.3603 3.61572 14.5689 3.70189 14.7413 3.87422C14.9138 4.04672 15 4.25539 15 4.50022H18.75C18.9625 4.50022 19.1406 4.57214 19.2843 4.71597C19.4281 4.85981 19.5 5.03797 19.5 5.25047C19.5 5.46314 19.4281 5.64122 19.2843 5.78472C19.1406 5.92839 18.9625 6.00022 18.75 6.00022H18.5V18.6925C18.5 19.1896 18.323 19.6152 17.969 19.9692C17.615 20.3232 17.1894 20.5002 16.6923 20.5002H7.30775ZM17 6.00022H7V18.6925C7 18.7823 7.02883 18.8561 7.0865 18.9137C7.14417 18.9714 7.21792 19.0002 7.30775 19.0002H16.6923C16.7821 19.0002 16.8558 18.9714 16.9135 18.9137C16.9712 18.8561 17 18.7823 17 18.6925V6.00022ZM10.1543 17.0002C10.3668 17.0002 10.5448 16.9284 10.6885 16.7847C10.832 16.6409 10.9037 16.4627 10.9037 16.2502V8.75022C10.9037 8.53772 10.8318 8.35956 10.688 8.21572C10.5443 8.07206 10.3662 8.00022 10.1535 8.00022C9.941 8.00022 9.76292 8.07206 9.61925 8.21572C9.47575 8.35956 9.404 8.53772 9.404 8.75022V16.2502C9.404 16.4627 9.47583 16.6409 9.6195 16.7847C9.76333 16.9284 9.94158 17.0002 10.1543 17.0002ZM13.8465 17.0002C14.059 17.0002 14.2371 16.9284 14.3807 16.7847C14.5243 16.6409 14.596 16.4627 14.596 16.2502V8.75022C14.596 8.53772 14.5242 8.35956 14.3805 8.21572C14.2367 8.07206 14.0584 8.00022 13.8458 8.00022C13.6333 8.00022 13.4552 8.07206 13.3115 8.21572C13.168 8.35956 13.0962 8.53772 13.0962 8.75022V16.2502C13.0962 16.4627 13.1682 16.6409 13.312 16.7847C13.4557 16.9284 13.6338 17.0002 13.8465 17.0002Z' fill='%23E82230'/%3E%3C/g%3E%3C/svg%3E");
        }
    }
}

.closeOverlay {
    composes: xl_hidden from global;

    composes: -xl_absolute from global;
    composes: -xl_bottom-full from global;
    composes: -xl_right-10 from global;
    composes: -xl_border-none from global;
    composes: -xl_bg-none from global;
    composes: -xl_shadow-none from global;
    composes: -xl_outline-none from global;
    composes: -xl_opacity-0 from global;

    @apply -xl_h-[60px];
    @apply -xl_left-[90px];

    span {
        @apply hidden;
    }
}
