.root {
    --leftViewportElement: 0;
    --scrollBarWidth: var(--global-scrollbar-width, 0px);

    &:before {
        content: '';
        background: url("~@magenest/theme/static/images/bg-login.jpg") center no-repeat;
        background-size: cover;
        position: absolute;
        width: calc(100vw - var(--scrollBarWidth));
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.title {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.24px;
    display: block;
    margin-bottom: 20px;
}

.contentContainer {
    position: relative;
    z-index: 1;
    background: #fff;
    max-width: 460px;
    margin: 0 auto;
    border-radius: 10px;
}

.form {
    display: block;
}

.buttonContainer {
    margin-top: 20px;

    a {
        color: #0272BA;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        display: block;
        margin-top: 30px;
    }
}

.successContent {
    text-align: center;

    img {
        margin: 0 auto 25px;
    }

    .successText {
        color: #2A2F33;
        font-size: 19px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.19px;
        display: block;
        margin-bottom: 20px;
    }

    .action {
        text-align: center;

        button {
            width: auto;
        }
    }
}

@media (min-width: 769px) {
    .wrapper {
        padding: 100px 0 200px;
    }

    .contentContainer {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 50px 4px 20px;
    }

    .contentContainer {
        padding: 20px;
    }
}
