.pageTitle {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;

    h1 {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
    }
}

.contactWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px 30px;
    margin-bottom: 20px;
}

.contactForm {
    padding: 20px 10px;
    background: #FFF;
    border: 1px solid #1D92DD;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.contactInformation {
    padding: 10px;
    font-size: 16px;
    line-height: normal;

    &,
    ul,
    :global(.pagebuilderText) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h2 {
        margin: 0;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: normal;
    }

    p {
        margin-bottom: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0;
            padding: 0;
            list-style: none;

            p {
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width: 769px) {
    .pageTitle {
        margin-top: 20px;
        margin-bottom: 50px;

        h1 {
            font-size: 24px;
        }
    }

    .contactWrapper {
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        flex-direction: row;
    }

    .contactInformation {
        order: -1;
        width: calc(50% - 30px);
    }

    .contactForm {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .contactInformation {
        width: calc(50% - 15px);
        padding: 20px;
    }

    .contactForm {
        padding: 30px;
        width: calc(50% - 15px);
    }
}
