.root {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    text-align: left;
    cursor: pointer;
}

.input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.icon {
    display: flex;
    width: 16px;
    min-width: 16px;
    height: 16px;
}

.label {
    color: #2A2F33;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    a {
        color: #0272BA;

        &:hover {
            text-decoration: underline;
        }
    }
}
