.input {
    display: block;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    background: #FFF;
    padding: 12px 14px;
    width: 100%;
    font-size: 15px;
    line-height: normal;
    color: #0A1015;

    &::placeholder {
        color: #AFAFAF;
        font-size: 15px;
        font-weight: 300;
        line-height: normal;
    }

    &:focus-visible {
        outline: none;
    }
}

.input_error {
    composes: input;

    border-color: #E82230;
}

.reviewFields {
    label {
        margin-bottom: 5px;
    }
}
