.root,
.root_selected {
    outline: none;
    display: flex;
    align-items: center;
    gap: 5px;

    &:before {
        content: '';
        width: 30px;
        height: 30px;
        background-color: #FFFFFF;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.12 6.66675C7.89531 6.66675 6 8.48315 6 10.8422C6 12.4696 6.69788 13.8397 7.62279 14.9747C8.54453 16.1058 9.73372 17.0552 10.8088 17.8498L12.6637 19.2208C12.8668 19.371 13.1332 19.371 13.3363 19.2208L15.1912 17.8498C16.2663 17.0552 17.4555 16.1058 18.3772 14.9747C19.3021 13.8397 20 12.4696 20 10.8422C20 8.48315 18.1047 6.66675 15.88 6.66675C14.7332 6.66675 13.7241 7.2539 13 8.01364C12.2759 7.2539 11.2668 6.66675 10.12 6.66675Z' fill='%23A2A4A6'/%3E%3C/svg%3E%0A");
        background-size: contain;
        transition: all 0.3s ease;
        display: inline-block;
        border: 1px solid #C4CCD3;
        border-radius: 50%;

        :global(.wishlistButtonPDP) & {
            border-color: #EAEAEA;
        }
    }

    span,
    svg {
        display: none;
    }
}

.root_selected {
    &:before {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.12 6.66675C7.89531 6.66675 6 8.48315 6 10.8422C6 12.4696 6.69788 13.8397 7.62279 14.9747C8.54453 16.1058 9.73372 17.0552 10.8088 17.8498L12.6637 19.2208C12.8668 19.371 13.1332 19.371 13.3363 19.2208L15.1912 17.8498C16.2663 17.0552 17.4555 16.1058 18.3772 14.9747C19.3021 13.8397 20 12.4696 20 10.8422C20 8.48315 18.1047 6.66675 15.88 6.66675C14.7332 6.66675 13.7241 7.2539 13 8.01364C12.2759 7.2539 11.2668 6.66675 10.12 6.66675Z' fill='%23fff'/%3E%3C/svg%3E%0A");
        border-color: #1D92DD;
        background-color: #1D92DD;

        :global(.wishlistButtonPDP) & {
            border-color: #1D92DD;
        }
    }
}

@media (min-width: 1024px) {
    .root:hover {
        &:before {
            background-image: url("data:image/svg+xml,%0A%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.12 6.66675C7.89531 6.66675 6 8.48315 6 10.8422C6 12.4696 6.69788 13.8397 7.62279 14.9747C8.54453 16.1058 9.73372 17.0552 10.8088 17.8498L12.6637 19.2208C12.8668 19.371 13.1332 19.371 13.3363 19.2208L15.1912 17.8498C16.2663 17.0552 17.4555 16.1058 18.3772 14.9747C19.3021 13.8397 20 12.4696 20 10.8422C20 8.48315 18.1047 6.66675 15.88 6.66675C14.7332 6.66675 13.7241 7.2539 13 8.01364C12.2759 7.2539 11.2668 6.66675 10.12 6.66675Z' fill='%23fff'/%3E%3C/svg%3E%0A");
            border-color: #71B4FF;
            background-color: #71B4FF;

            :global(.wishlistButtonPDP) & {
                border-color: #71B4FF;
            }
        }
    }
}

@media (min-width: 769px) {
    .root,
    .root_selected {
        &:before {
            width: 40px;
            height: 40px;

            :global(.wishlistButtonPDP) & {
                width: 45px;
                height: 45px;
            }

            :global(.aiChatbot) & {
                width: 30px;
                height: 30px;
            }
        }
    }
}
