.dnrRoot {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    height: 32px;

    &:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        min-width: 30px;
        background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='30' rx='3' fill='%23FFF0F0'/%3E%3Cpath d='M21.7396 11.3406H19.0364C19.2855 10.9529 19.432 10.4928 19.432 10C19.432 8.62138 18.2984 7.5 16.9047 7.5C16.1465 7.5 15.4634 7.83333 15 8.3587C14.5367 7.83333 13.8536 7.5 13.0954 7.5C11.7017 7.5 10.568 8.62138 10.568 10C10.568 10.4928 10.7127 10.9529 10.9636 11.3406H8.26048C7.93633 11.3406 7.67444 11.5996 7.67444 11.9203V15.5435C7.67444 15.6232 7.74037 15.6884 7.82095 15.6884H8.55351V21.9203C8.55351 22.2409 8.8154 22.5 9.13955 22.5H20.8605C21.1846 22.5 21.4465 22.2409 21.4465 21.9203V15.6884H22.1791C22.2597 15.6884 22.3256 15.6232 22.3256 15.5435V11.9203C22.3256 11.5996 22.0637 11.3406 21.7396 11.3406ZM15.6227 10C15.6227 9.30072 16.1978 8.73188 16.9047 8.73188C17.6116 8.73188 18.1866 9.30072 18.1866 10C18.1866 10.6993 17.6116 11.2681 16.9047 11.2681H15.6227V10ZM13.0954 8.73188C13.8023 8.73188 14.3773 9.30072 14.3773 10V11.2681H13.0954C12.3885 11.2681 11.8134 10.6993 11.8134 10C11.8134 9.30072 12.3885 8.73188 13.0954 8.73188ZM8.91979 14.4565V12.5725H14.3773V14.4565H8.91979ZM9.79886 15.6884H14.3773V21.2681H9.79886V15.6884ZM20.2012 21.2681H15.6227V15.6884H20.2012V21.2681ZM21.0803 14.4565H15.6227V12.5725H21.0803V14.4565Z' fill='%23FE5E6B'/%3E%3C/svg%3E%0A") no-repeat center;
        background-size: contain;
    }
}

.dnrInner {
    width: calc(100% - 35px);
    max-height: 32px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.12px;
    color: #7A7E80;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
