.productLabel {
    display: block;
    margin: 0;
    position: absolute;
    z-index: 9;
    max-width: 100%;
    text-decoration: none;

    &.frameLayout {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
            display: block;
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }

        @screen -md {
            :global(.chatbotFullscreen) & {
                max-width: calc(100% + 8px);
                margin: -4px;
            }
        }
    }

    &:global {
        &[class*='top-'] {
            top: 0;
        }

        &[class*='bot-'] {
            bottom: 0;
        }

        &[class*='-left'] {
            left: 0;
        }

        &[class*='-right'] {
            right: 0;
        }

        &.mid-left,
        &.mid-right {
            top: 50%;
            transform: translateY(-50%) translateX(0);
        }

        &.top-mid {
            left: 50%;
            transform: translateY(0) translateX(-50%);
        }

        &.mid-mid {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.bot-mid {
            left: 50%;
            transform: translateY(0) translateX(-50%);
        }
    }
}

.labelImage {
    display: block;

    img {
        position: static;
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
    }
}

.labelShape {
    position: relative;

    svg {
        display: block;
        width: 100%;
    }

    .text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 2%;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        text-align: center;
    }

    &:global(.shape-new-1) {
        .text {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    &:global(.shape-new-3) {
        .text {
            padding-left: 10%;
        }
    }

    &:global(.shape-new-4) {
        .text {
            padding-right: 10%;
        }
    }

    &:global(.shape-new-5) {
        .text {
            padding-left: 8%;
        }
    }

    &:global(.shape-new-6) {
        .text {
            padding-right: 8%;
        }
    }

    &:global(.shape-new-7) {
        .text {
            padding: 2% 8% 52%;
            transform: rotate(-45deg);
        }
    }

    &:global(.shape-new-8) {
        .text {
            padding: 2% 8% 52%;
            transform: rotate(45deg);
        }
    }

    &:global(.shape-new-9) {
        .text {
            padding-top: 9%;
            padding-right: 7%;
        }
    }

    &:global(.shape-new-10) {
        .text {
            padding-left: 5%;
        }
    }

    &:global(.shape-new-11) {
        .text {
            padding-right: 5%;
        }
    }

    &:global(.shape-new-12) {
        .text {
            padding-bottom: 25%;
        }
    }

    &:global(.shape-new-13) {
        .text {
            padding-bottom: 18%;
        }
    }

    &:global(.shape-new-14) {
        .text {
            padding-bottom: 25%;
        }
    }

    &:global(.shape-new-15) {
        .text {
            padding-top: 4%;
            padding-right: 8%;
        }
    }

    &:global(.shape-new-16) {
        .text {
            padding-left: 10%;
        }
    }

    &:global(.shape-new-17) {
        .text {
            padding: 8%;
        }
    }

    &:global(.shape-new-18),
    &:global(.shape-new-19) {
        .text {
            padding-top: 56%;
        }
    }

    &:global(.shape-new-22) {
        .text {
            padding: 4%;
        }
    }
}
