.root {
    background-color: #fff;
    position: relative;
    color: #2A2F33;
}

.root_masked {
    composes: root;
}

.page {
    position: relative;
    min-height: 10rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    > * {
        max-width: var(--venia-global-maxWidth, 1280px);
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}

.page_masked {
    composes: page;
}

@media (min-width: 769px) {
    .page {
        > * {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
