.root {
    composes: mt-auto from global;
}

.chatForm {
    padding: 10px;
    border-top: 1px solid #E6E6E6;
}

.chatFormProcessing {
    .voiceField {
        pointer-events: none;
        opacity: 0.3;
    }
}

.chatFormInner {
    composes: flex from global;
    composes: items-end from global;

    @apply min-h-[40px];

    padding: 3px 3px 3px 11px;
    gap: 10px;
    border: 1px solid #0272BA;
    background: #F1F9FF;
    border-radius: 28px;

    @screen md {
        padding: 7px 7px 7px 11px;
    }
}

.sessionTooLargeMessage {
    composes: text-center from global;
    composes: p-2 from global;
    composes: rounded from global;

    gap: 10px;
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    color: #E82230;
    background: #FFD7D7;

    &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        margin-top: -1px;
        margin-right: 6px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cmask id='mask0_17347_38696' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_17347_38696)'%3E%3Cpath d='M2.85254 17.0839C2.71129 17.0839 2.58441 17.0494 2.47191 16.9804C2.35941 16.9113 2.27198 16.8203 2.20962 16.7072C2.14462 16.595 2.10885 16.4735 2.10233 16.3427C2.0958 16.2118 2.13108 16.0822 2.20816 15.9539L9.34212 3.63057C9.41934 3.50224 9.51587 3.40738 9.6317 3.34599C9.74767 3.2846 9.86976 3.25391 9.99795 3.25391C10.1261 3.25391 10.2482 3.2846 10.3642 3.34599C10.48 3.40738 10.5766 3.50224 10.6538 3.63057L17.7877 15.9539C17.8648 16.0822 17.9001 16.2118 17.8936 16.3427C17.887 16.4735 17.8513 16.595 17.7863 16.7072C17.7239 16.8203 17.6365 16.9113 17.524 16.9804C17.4115 17.0494 17.2846 17.0839 17.1434 17.0839H2.85254ZM3.70629 15.8339H16.2896L9.99795 5.00057L3.70629 15.8339ZM9.99795 14.8404C10.1886 14.8404 10.3485 14.7759 10.4775 14.6468C10.6066 14.5178 10.6711 14.3579 10.6711 14.1672C10.6711 13.9765 10.6066 13.8167 10.4775 13.6877C10.3485 13.5586 10.1886 13.4941 9.99795 13.4941C9.80726 13.4941 9.6474 13.5586 9.51837 13.6877C9.38934 13.8167 9.32483 13.9765 9.32483 14.1672C9.32483 14.3579 9.38934 14.5178 9.51837 14.6468C9.6474 14.7759 9.80726 14.8404 9.99795 14.8404ZM9.99816 12.6608C10.1754 12.6608 10.3238 12.6009 10.4434 12.4812C10.5631 12.3613 10.623 12.2129 10.623 12.0358V9.11912C10.623 8.94203 10.563 8.79363 10.4432 8.67391C10.3233 8.55405 10.1748 8.49412 9.99774 8.49412C9.82052 8.49412 9.67212 8.55405 9.55254 8.67391C9.43281 8.79363 9.37295 8.94203 9.37295 9.11912V12.0358C9.37295 12.2129 9.43288 12.3613 9.55274 12.4812C9.67261 12.6009 9.82108 12.6608 9.99816 12.6608Z' fill='%23E82230'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain;
    }

    button {
        @apply font-medium;
        @apply underline;
        color: inherit;
    }
}

.field {
    composes: flex-1 from global;
    composes: my-auto from global;

    input,
    textarea {
        @apply block;
        @apply w-full;
        @apply -mx-1;
        @apply px-1;
        @apply text-colorDefault;

        background: none;

        &::placeholder {
            color: #7A7E80;
        }
    }

    @screen -md {
        overflow: hidden;

        textarea {
            &::placeholder {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    input {
        @apply h-[40px];
    }

    textarea {
        @apply min-h-[20px];
        @apply max-h-[100px];
        field-sizing: content;
        resize: none;
    }
}

.imageField {
    composes: relative from global;
    composes: mt-auto from global;

    > label {
        @apply block;
        @apply mb-1;
        @apply -mr-1;

        &:hover {
            input ~ span {
                filter: invert(32%) sepia(85%) saturate(1500%) hue-rotate(190deg) brightness(80%) contrast(100%);
            }
        }
    }

    .remove {
        @apply absolute;
        @apply block;

        top: -3px;
        right: -3px;
        padding: 4px 4px 8px 8px;
        z-index: 2;

        &:before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #0272BA url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_16024_133560' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16024_133560)'%3E%3Cpath d='M12.0005 13.0543L6.9275 18.1275C6.789 18.2658 6.61492 18.3367 6.40525 18.34C6.19575 18.3432 6.0185 18.2723 5.8735 18.1275C5.72867 17.9825 5.65625 17.8068 5.65625 17.6005C5.65625 17.3942 5.72867 17.2185 5.8735 17.0735L10.9468 12.0005L5.8735 6.9275C5.73517 6.789 5.66433 6.61492 5.661 6.40525C5.65783 6.19575 5.72867 6.0185 5.8735 5.8735C6.0185 5.72867 6.19417 5.65625 6.4005 5.65625C6.60683 5.65625 6.7825 5.72867 6.9275 5.8735L12.0005 10.9468L17.0735 5.8735C17.212 5.73517 17.3861 5.66433 17.5958 5.661C17.8053 5.65783 17.9825 5.72867 18.1275 5.8735C18.2723 6.0185 18.3448 6.19417 18.3448 6.4005C18.3448 6.60683 18.2723 6.7825 18.1275 6.9275L13.0543 12.0005L18.1275 17.0735C18.2658 17.212 18.3367 17.3861 18.34 17.5958C18.3432 17.8053 18.2723 17.9825 18.1275 18.1275C17.9825 18.2723 17.8068 18.3448 17.6005 18.3448C17.3942 18.3448 17.2185 18.2723 17.0735 18.1275L12.0005 13.0543Z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / 90%;
        }

        span {
            @apply hidden;
        }
    }
}

.voiceField {
    composes: flex from global;
    composes: mb-1 from global;
}

.submit {
    composes: root_highPriority from '../Button/extendStyle/button.module.scss';
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 99px;

    &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_15761_41528' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15761_41528)'%3E%3Cpath d='M3 20V4L22 12L3 20ZM5 17L16.85 12L5 7V10.5L11 12L5 13.5V17Z' fill='white'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain;
    }

    span {
        display: none;
    }

    &:disabled {
        opacity: 0.3;

        &:after {
            display: none;
        }
    }
}

.remove {
    composes: hidden from global;
}

.previewImage {
    composes: rounded from global;
    composes: object-contain from global;
    composes: bg-white from global;

    width: 36px;
    height: 36px;
    margin-bottom: 2px;

    ~ label {
        @apply hidden;
        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply right-0;
        @apply bottom-0;
        @apply w-full;
        @apply h-full;
        @apply m-0;
        @apply opacity-0;
    }
}

.previewFile {
    padding: 6px 10px;
}

.file {
    composes: inline-flex from global;
    composes: items-center from global;
    composes: relative from global;
    composes: rounded from global;
    composes: text-base from global;

    min-height: 24px;
    padding: 2px 2px 2px 24px;
    background: #D6EDFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cmask id='mask0_16167_156985' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16167_156985)'%3E%3Cpath d='M6 11.8337H10C10.1419 11.8337 10.2607 11.7858 10.3563 11.69C10.4521 11.5943 10.5 11.4755 10.5 11.3337C10.5 11.1918 10.4521 11.073 10.3563 10.9773C10.2607 10.8815 10.1419 10.8337 10 10.8337H6C5.85811 10.8337 5.73933 10.8815 5.64367 10.9773C5.54789 11.073 5.5 11.1918 5.5 11.3337C5.5 11.4755 5.54789 11.5943 5.64367 11.69C5.73933 11.7858 5.85811 11.8337 6 11.8337ZM6 9.16699H10C10.1419 9.16699 10.2607 9.1191 10.3563 9.02333C10.4521 8.92766 10.5 8.80888 10.5 8.66699C10.5 8.5251 10.4521 8.40633 10.3563 8.31066C10.2607 8.21488 10.1419 8.16699 10 8.16699H6C5.85811 8.16699 5.73933 8.21488 5.64367 8.31066C5.54789 8.40633 5.5 8.5251 5.5 8.66699C5.5 8.80888 5.54789 8.92766 5.64367 9.02333C5.73933 9.1191 5.85811 9.16699 6 9.16699ZM4.20517 14.3337C3.86839 14.3337 3.58333 14.217 3.35 13.9837C3.11667 13.7503 3 13.4653 3 13.1285V2.87216C3 2.53538 3.11667 2.25033 3.35 2.01699C3.58333 1.78366 3.86839 1.66699 4.20517 1.66699H9.00133C9.162 1.66699 9.3165 1.69821 9.46483 1.76066C9.61306 1.82299 9.74189 1.90888 9.85133 2.01833L12.6487 4.81566C12.7581 4.9251 12.844 5.05394 12.9063 5.20216C12.9688 5.35049 13 5.50499 13 5.66566V13.1285C13 13.4653 12.8833 13.7503 12.65 13.9837C12.4167 14.217 12.1316 14.3337 11.7948 14.3337H4.20517ZM9 5.06433V2.66699H4.20517C4.15383 2.66699 4.10683 2.68838 4.06417 2.73116C4.02139 2.77383 4 2.82083 4 2.87216V13.1285C4 13.1798 4.02139 13.2268 4.06417 13.2695C4.10683 13.3123 4.15383 13.3337 4.20517 13.3337H11.7948C11.8462 13.3337 11.8932 13.3123 11.9358 13.2695C11.9786 13.2268 12 13.1798 12 13.1285V5.66699H9.60267C9.43078 5.66699 9.28739 5.60949 9.1725 5.49449C9.0575 5.3796 9 5.23621 9 5.06433Z' fill='%230272BA'/%3E%3C/g%3E%3C/svg%3E") no-repeat center left 4px / 16px;

    .remove {
        display: inline-block;

        &:before {
            content: "";
            display: block;
            width: 26px;
            height: 26px;
            margin: -2px 0;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_16024_133560' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16024_133560)'%3E%3Cpath d='M12.0005 13.0543L6.9275 18.1275C6.789 18.2658 6.61492 18.3367 6.40525 18.34C6.19575 18.3432 6.0185 18.2723 5.8735 18.1275C5.72867 17.9825 5.65625 17.8068 5.65625 17.6005C5.65625 17.3942 5.72867 17.2185 5.8735 17.0735L10.9468 12.0005L5.8735 6.9275C5.73517 6.789 5.66433 6.61492 5.661 6.40525C5.65783 6.19575 5.72867 6.0185 5.8735 5.8735C6.0185 5.72867 6.19417 5.65625 6.4005 5.65625C6.60683 5.65625 6.7825 5.72867 6.9275 5.8735L12.0005 10.9468L17.0735 5.8735C17.212 5.73517 17.3861 5.66433 17.5958 5.661C17.8053 5.65783 17.9825 5.72867 18.1275 5.8735C18.2723 6.0185 18.3448 6.19417 18.3448 6.4005C18.3448 6.60683 18.2723 6.7825 18.1275 6.9275L13.0543 12.0005L18.1275 17.0735C18.2658 17.212 18.3367 17.3861 18.34 17.5958C18.3432 17.8053 18.2723 17.9825 18.1275 18.1275C17.9825 18.2723 17.8068 18.3448 17.6005 18.3448C17.3942 18.3448 17.2185 18.2723 17.0735 18.1275L12.0005 13.0543Z' fill='%232A2F33'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / 16px;
        }

        &:hover {
            filter: invert(32%) sepia(85%) saturate(1500%) hue-rotate(190deg) brightness(80%) contrast(100%);
        }

        span {
            display: none;
        }
    }
}

:global(.is-voice-recording) {
    .field,
    .imageField {
        @apply hidden;
    }

    .voiceField {
        @apply flex-1;
        @apply my-auto;

        > div {
            @apply my-auto;
            @apply mx-0;
        }

        button {
            @apply ml-auto;
        }
    }

    .submit {
        pointer-events: none;
        opacity: 0.3;
    }
}

.rootDisabled {
    .attachment,
    .previewFile,
    .chatFormInner {
        opacity: 0.3;
        pointer-events: none;
    }
}
