.moreProducts {
    composes: flex from global;
    composes: justify-center from global;
    composes: w-full from global;
    composes: p-2 from global;
    composes: rounded-full from global;

    @apply mt-[5px];
    @apply gap-[10px];
    @apply text-[#005C98];
    @apply bg-[#E2F3FF];
    font-size: 12px;
    font-weight: 500;
    line-height: normal;

    &:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cmask id='mask0_18196_135108' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_18196_135108)'%3E%3Cpath d='M10.766 8.66635H3.33268C3.14379 8.66635 2.98546 8.60246 2.85768 8.47468C2.7299 8.3469 2.66602 8.18857 2.66602 7.99968C2.66602 7.81079 2.7299 7.65246 2.85768 7.52468C2.98546 7.3969 3.14379 7.33302 3.33268 7.33302H10.766L8.86602 5.43302C8.73268 5.29968 8.66879 5.14413 8.67435 4.96635C8.6799 4.78857 8.74379 4.63302 8.86602 4.49968C8.99935 4.36635 9.15768 4.2969 9.34102 4.29135C9.52435 4.28579 9.68268 4.34968 9.81602 4.48302L12.866 7.53302C12.9327 7.59968 12.9799 7.6719 13.0077 7.74968C13.0355 7.82746 13.0493 7.91079 13.0493 7.99968C13.0493 8.08857 13.0355 8.1719 13.0077 8.24968C12.9799 8.32746 12.9327 8.39968 12.866 8.46635L9.81602 11.5163C9.68268 11.6497 9.52435 11.7136 9.34102 11.708C9.15768 11.7025 8.99935 11.633 8.86602 11.4997C8.74379 11.3663 8.6799 11.2108 8.67435 11.033C8.66879 10.8552 8.73268 10.6997 8.86602 10.5663L10.766 8.66635Z' fill='%230272BA'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain;
    }
}

.galleryItemsWrapper {
    composes: md_overflow-auto from global;
    composes: md_select-none from global;

    @apply md_-mx-[6px];
    @apply md_px-[6px];

    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;
    -webkit-user-select: none;
    overscroll-behavior-x: contain;

    &::-webkit-scrollbar {
        display: none;
    }
}

.suggestionProducts,
.productGalleryGroupShimmer {
    composes: w-full from global;

    composes: -md_-mt-1 from global;
}

.galleryItems,
.productGalleryGroupShimmer {
    composes: flex from global;
    composes: flex-nowrap from global;
    composes: gap-2 from global;

    > div {
        width: calc((100% - 16px) / 3);

        @apply rounded;
        @apply bg-white;
        @apply border;
        @apply border-[#E6E6E6];

        @apply md_p-[10px];

        @apply -md_p-1;
    }

    a,
    img {
        -webkit-user-drag: none;
        user-drag: none;
        -webkit-touch-callout: none;
    }
}

.productGalleryGroupShimmer {
    > div {
        @apply h-[375px];
    }
}

@screen md {
    .galleryItemsWrapper {
        > div {
            width: 100%;
            max-width: 100%;
        }
    }

    .galleryItems {
        width: 100%;
        max-width: 100%;

        > div {
            width: calc((100% - 24px) / 4);
            min-width: calc((100% - 24px) / 4);

            &:nth-child(5) {
                &,
                ~ div {
                    //display: none !important;
                }
            }

            @media (max-width: 1200px) {
                width: calc((100% - 16px) / 3);
                min-width: calc((100% - 16px) / 3);

                &:nth-child(4) {
                    &,
                    ~ div {
                        //display: none !important;
                    }
                }
            }

            @media (max-width: 820px) {
                width: calc((100% - 8px) / 2);
                min-width: calc((100% - 8px) / 2);

                &:nth-child(3) {
                    &,
                    ~ div {
                        //display: none !important;
                    }
                }
            }

            :global(.chatbotFullscreen) & {
                /* @screen -4xl */
                @media (max-width: 1599px) {
                    width: calc((100% - 16px) / 3);
                    min-width: calc((100% - 16px) / 3);

                    &:nth-child(4) {
                        &,
                        ~ div {
                            //display: none !important;
                        }
                    }
                }

                /* @screen -2xl */
                @media (max-width: 1279px) {
                    width: calc((100% - 8px) / 2);
                    min-width: calc((100% - 8px) / 2);

                    &:nth-child(3) {
                        &,
                        ~ div {
                            //display: none !important;
                        }
                    }
                }
            }
        }
    }
}

@screen -md {
    .galleryItems,
    .productGalleryGroupShimmer {
        margin-left: -6px;
        margin-right: -6px;
        padding-left: 6px;
        padding-right: 6px;
        background: #FFFFFF;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        > div {
            width: 170px;
            min-width: 170px;
            scroll-snap-align: center;
        }
    }

    .productGalleryGroupShimmer {
        > div {
            @apply h-[292px];

            > div:first-child {
                @apply h-[160px];
            }
        }
    }
}
