.root {
    padding: 11px 29px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    transition: all .3s;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 2px 3px 0 rgba(16, 16, 16, 0.09);
    cursor: pointer;
    position: relative;

    :global(.pagebuilderButtons) & {
        border-radius: 25px;
        font-size: 16px;
        line-height: 1.25;
        padding-top: 9px;
        padding-bottom: 9px;

        @media (max-width: 768px) {
            padding: 9px 19px;
            font-size: 14px;
            line-height: normal;
        }
    }

    &:disabled {
        &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: 4px solid transparent;
            border-top-color: #ffffff;
            border-radius: 50%;
            animation: button-loading-spinner 1s ease infinite;
        }

        span {
            visibility: hidden;
            opacity: 0;
        }
    }
}

.content {
    display: block;
}

.root:focus-visible {
    outline: none;
}

.root:active {
    transition-duration: 128ms;
}

.root_lowPriority {
    composes: root;

    background: #E82230;
    border-color: #E82230;
    box-shadow: 0 2px 3px 0 rgba(16, 16, 16, 0.09);
    color: #FFF;

    &:not(:disabled):hover {
        border-color: #FE5E6B;
        background: #FE5E6B;
    }
}

.root_normalPriority {
    composes: root;
    background: #fff;
    border: 1px solid #0272BA;
    color: #0272BA;

    &:not(:disabled):hover {
        border-color: #71B4FF;
        background: #71B4FF;
        color: #fff;
    }

    &:disabled {
        &:after {
            border-top-color: #0272BA;
        }
    }
}

.root_highPriority {
    composes: root;

    background: #0272BA;
    box-shadow: 0 2px 3px 0 rgba(16, 16, 16, 0.09);
    color: #FFF;

    &:not(:disabled):hover {
        background: #71B4FF;
        border-color: #71B4FF;
    }
}

.root_lowPriorityNegative {
    color: #2A2F33;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    padding: 10px 13px;
    border-radius: 200px;
    background: #FFF;
    box-shadow: none;
    width: auto;
}

.root_lowPriorityNegative,
.root_normalPriorityNegative {
    composes: root;

    composes: bg-transparent from global;
    composes: border-red-600 from global;
    composes: text-red-600 from global;

    composes: active_border-red-700 from global;
    composes: active_text-red-700 from global;

    composes: hover_border-red-700 from global;
    composes: hover_text-red-700 from global;
}

.root_highPriorityNegative {
    composes: root;

    composes: bg-red-600 from global;
    composes: border-red-600 from global;
    composes: text-white from global;

    composes: active_bg-red-700 from global;
    composes: active_border-red-700 from global;
    composes: active_text-white from global;

    composes: hover_bg-red-700 from global;
    composes: hover_border-red-700 from global;
    composes: hover_text-white from global;
}

.content {
    //composes: gap-1.5 from global;
    composes: grid-flow-col from global;
    composes: inline-grid from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: justify-items-center from global;
}

.root_linkPriority {
    display: block;
    color: #1D92DD;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
