.root {
    border-radius: 4px;
    background: #FFF;
}

.head {
    text-align: left;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 15px;
}

.title {
    color: #2A2F33;
    font-weight: 500;
    line-height: normal;
    display: block;
}

.count {
    line-height: normal;
    display: block;
}

.lineItems {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;

    .shippingNote {
        display: none;
    }

    &:not(:last-child) {
        > span {
            display: block;
            margin-bottom: 15px;
        }
    }
}

.shippingNote {
    color: #2A2F33;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:before {
        content: '*';
        color: #E82230;
        margin-right: 3px;
    }
}

.distance {
    display: flex;
    gap: 5px;
    color: #7A7E80;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    margin-top: 3px;

    span {
        cursor: pointer;
    }
}

.modalInnerWidth {
    max-width: 600px;

    > div:last-child {
        padding: 15px;
    }
}

.shippingNoteModal {
    color: #2A2F33;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    p {
        margin-bottom: 20px;
    }

    a {
        color: #E82230;
         text-decoration: underline;
    }
}

.lineItemLabel, .totalLabel {
    color: #2A2F33;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    line-height: normal;
}

.totalPrice {
    color: #E82230;
    text-align: right;
    font-weight: 600;
    line-height: normal;
}

.price {
    color: #000;
    text-align: right;
    font-weight: 600;
    line-height: normal;
}

.priceUpdating {
    composes: price;

    opacity: 0.5;
}

.checkoutButton_container {
    margin-top: 15px;
}

.footerDelivery {
    margin-top: 15px;

    :global {
        .pagebuilder-column {
            .pagebuilderText {
                color: #2A2F33;
                font-weight: 400;
                line-height: 17px;

                strong {
                    font-weight: 700;
                    color: #0272BA;
                }
            }
        }
    }
}

@media (min-width: 1366px) {
    .footerDelivery {
        :global {
            .pagebuilder-column {
                .pagebuilderText {
                    font-size: 12px;

                    img {
                        max-width: 30px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .root {
        padding: 20px;
    }

    .title {
        font-size: 24px;
        letter-spacing: 0.24px;
    }

    .totalPrice, .price {
        font-size: 20px;
    }

    .footerDelivery {
        padding: 10px 0;

        :global {
            .columnLine {
                gap: 15px 10px;
            }
        }
    }
}

@media (min-width: 769px) {

    .head {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px 10px;
        justify-content: space-between;
        padding: 5px 0 20px;
    }

    .count {
        color: #2A2F33;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.16px;
    }
}

@media (max-width: 1365px) {
    .footerDelivery {
        :global {
            .columnLine {
                flex-wrap: wrap;
            }

            .pagebuilder-column {
                flex-basis: 100%;
                flex-direction: row !important;
                align-items: center;

                @media (min-width: 1024px) {
                    gap: 15px;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .root {
        padding: 10px;
    }

    .title {
        font-size: 20px;
        letter-spacing: 0.2px;
    }

    .totalPrice, .price {
        font-size: 16px;
    }

    .footerDelivery {
        :global {
            .columnLine {
                gap: 10px;
            }

            .pagebuilder-column {
                gap: 10px;

                .pagebuilderText {
                    font-size: 12px;
                    line-height: 17px;

                    img {
                        max-width: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .head {
        padding: 0 0 15px;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18C6.61305 18 4.32387 17.0518 2.63604 15.364C0.948212 13.6761 0 11.3869 0 9C0 6.61305 0.948212 4.32387 2.63604 2.63604C4.32387 0.948212 6.61305 0 9 0C11.3869 0 13.6761 0.948212 15.364 2.63604C17.0518 4.32387 18 6.61305 18 9C18 11.3869 17.0518 13.6761 15.364 15.364C13.6761 17.0518 11.3869 18 9 18ZM9 1.12569C7.44228 1.12569 5.91954 1.58763 4.62435 2.45308C3.32917 3.31854 2.31973 4.54864 1.72367 5.98781C1.12762 7.42699 0.971739 9.0106 1.27574 10.5384C1.57973 12.0661 2.32996 13.4695 3.43153 14.5708C4.53311 15.6722 5.93655 16.4222 7.46438 16.7259C8.99221 17.0296 10.5758 16.8735 12.0149 16.2772C13.4539 15.6809 14.6838 14.6712 15.5491 13.3759C16.4143 12.0805 16.876 10.5577 16.8757 9C16.8759 7.96576 16.6723 6.94162 16.2765 5.9861C15.8808 5.03057 15.3007 4.16238 14.5693 3.43113C13.8379 2.69988 12.9696 2.11989 12.014 1.72432C11.0584 1.32875 10.0342 1.12533 9 1.12569ZM9.49414 11.5512C9.43016 11.6143 9.35157 11.6607 9.26536 11.6861C9.17915 11.7115 9.088 11.7152 9 11.6969C8.91199 11.7146 8.821 11.7106 8.7349 11.6852C8.6488 11.6598 8.57019 11.6138 8.50586 11.5512L4.1988 7.24414C4.14407 7.1925 4.10027 7.13041 4.06999 7.06154C4.0397 6.99266 4.02355 6.91841 4.02249 6.84318C4.02143 6.76795 4.03548 6.69327 4.06382 6.62357C4.09215 6.55387 4.13419 6.49057 4.18743 6.43741C4.24068 6.38426 4.30406 6.34233 4.37381 6.31412C4.44356 6.28591 4.51826 6.27199 4.59349 6.27318C4.66872 6.27437 4.74294 6.29065 4.81176 6.32106C4.88058 6.35146 4.9426 6.39537 4.99414 6.45018L9.00139 10.456L13.0072 6.45018C13.0594 6.39777 13.1213 6.35617 13.1896 6.32778C13.2578 6.2994 13.331 6.28479 13.4049 6.28479C13.4788 6.28479 13.552 6.2994 13.6203 6.32778C13.6885 6.35617 13.7505 6.39777 13.8026 6.45018C13.855 6.5023 13.8966 6.56426 13.925 6.63251C13.9534 6.70076 13.968 6.77394 13.968 6.84786C13.968 6.92177 13.9534 6.99496 13.925 7.0632C13.8966 7.13145 13.855 7.19341 13.8026 7.24553L9.49414 11.5512Z' fill='%230272BA'/%3E%3C/svg%3E%0A");
            transform: rotate(180deg);
            width: 18px;
            height: 18px;
            display: block;
            transition: all .3s;
        }
    }

    .collapsed {
        &:after {
            background-image: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18C6.61305 18 4.32387 17.0518 2.63604 15.364C0.948212 13.6761 0 11.3869 0 9C0 6.61305 0.948212 4.32387 2.63604 2.63604C4.32387 0.948212 6.61305 0 9 0C11.3869 0 13.6761 0.948212 15.364 2.63604C17.0518 4.32387 18 6.61305 18 9C18 11.3869 17.0518 13.6761 15.364 15.364C13.6761 17.0518 11.3869 18 9 18ZM9 1.12569C7.44228 1.12569 5.91954 1.58763 4.62435 2.45308C3.32917 3.31854 2.31973 4.54864 1.72367 5.98781C1.12762 7.42699 0.971739 9.0106 1.27574 10.5384C1.57973 12.0661 2.32996 13.4695 3.43153 14.5708C4.53311 15.6722 5.93655 16.4222 7.46438 16.7259C8.99221 17.0296 10.5758 16.8735 12.0149 16.2772C13.4539 15.6809 14.6838 14.6712 15.5491 13.3759C16.4143 12.0805 16.876 10.5577 16.8757 9C16.8759 7.96576 16.6723 6.94162 16.2765 5.9861C15.8808 5.03057 15.3007 4.16238 14.5693 3.43113C13.8379 2.69988 12.9696 2.11989 12.014 1.72432C11.0584 1.32875 10.0342 1.12533 9 1.12569ZM9.49414 11.5512C9.43016 11.6143 9.35157 11.6607 9.26536 11.6861C9.17915 11.7115 9.088 11.7152 9 11.6969C8.91199 11.7146 8.821 11.7106 8.7349 11.6852C8.6488 11.6598 8.57019 11.6138 8.50586 11.5512L4.1988 7.24414C4.14407 7.1925 4.10027 7.13041 4.06999 7.06154C4.0397 6.99266 4.02355 6.91841 4.02249 6.84318C4.02143 6.76795 4.03548 6.69327 4.06382 6.62357C4.09215 6.55387 4.13419 6.49057 4.18743 6.43741C4.24068 6.38426 4.30406 6.34233 4.37381 6.31412C4.44356 6.28591 4.51826 6.27199 4.59349 6.27318C4.66872 6.27437 4.74294 6.29065 4.81176 6.32106C4.88058 6.35146 4.9426 6.39537 4.99414 6.45018L9.00139 10.456L13.0072 6.45018C13.0594 6.39777 13.1213 6.35617 13.1896 6.32778C13.2578 6.2994 13.331 6.28479 13.4049 6.28479C13.4788 6.28479 13.552 6.2994 13.6203 6.32778C13.6885 6.35617 13.7505 6.39777 13.8026 6.45018C13.855 6.5023 13.8966 6.56426 13.925 6.63251C13.9534 6.70076 13.968 6.77394 13.968 6.84786C13.968 6.92177 13.9534 6.99496 13.925 7.0632C13.8966 7.13145 13.855 7.19341 13.8026 7.24553L9.49414 11.5512Z' fill='%230272BA'/%3E%3C/svg%3E%0A");
            transform: rotate(0deg);
        }
    }

    .count {
        color: #7A7E80;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.14px;
    }

    .items {
        border-bottom: 1px solid #F1F1F1;
        padding-bottom: 15px;
    }

    .checkoutButton_container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .lineItems {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .totalLabel {
                margin-bottom: 0;
            }

            .totalPrice {
                font-size: 20px;
                text-align: left;
                margin-bottom: 0;
            }
        }

        button {
            width: auto;
            padding: 12px;
        }
    }
}
