.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;

    .title {
        color: #2A2F33;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;

        .listProductCount {
            color: #7A7E80;
        }
    }

    .buttonRemoveAll {
        border-radius: 4px;
        border: 1px solid #0272BA;
        color: #005C98;
        font-weight: 400;
        padding: 7px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all .3s;
        cursor: pointer;

        img {
            transition: all .3s;
        }

        &:hover {
            background-color: #0272BA;
            color: #fff;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.root {
    display: block;
}

@media (min-width: 1024px) {
    .header {
        padding: 10px 0;

        .title {
            font-size: 24px;
            letter-spacing: 0.24px;
            gap: 10px;

            .listProductCount {
                font-size: 20px;
                letter-spacing: 0.2px;
            }

            .buttonRemoveAll {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .header {
        .title {
            font-size: 16px;
            letter-spacing: 0.16px;
            gap: 5px;

            .listProductCount {
                font-size: 15px;
                letter-spacing: 0.15px;
            }

            .buttonRemoveAll {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
