.root {
    .breadcrumbs {
        margin-bottom: 15px;
    }

    .main {
        width: 100%;
    }
}

@media (min-width: 1366px) {
    .root {
        .main {
            > div {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .wrapper {
            gap: 30px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1365px) {
    .root {
        .main {
            > div {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .wrapper {
            gap: 15px;
        }
    }
}

@media (min-width: 769px) {
    .wrapper {
        display: flex;
    }

    .pagination {
        margin-top: 40px;
    }
}

@media (max-width: 768px) and (min-width: 461px) {
    .main {
        > div {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .pagination {
        margin-top: 20px;

        > div {
            justify-content: center;
        }
    }
}
