@property --angle { syntax: '<angle>'; initial-value: 101deg; inherits: false; }
@property --c1 { syntax: '<color>'; initial-value: #AADAFF; inherits: false; }
@property --c2 { syntax: '<color>'; initial-value: #FFB1B7; inherits: false; }
@keyframes sweep {
    0% { --angle: 101deg; }
    80% { --angle: 281deg; }
    100% { --angle: 281deg; }
}

.root {
    composes: relative from global;
    composes: block from global;
    composes: h-full from global;

    svg {
        stroke: #fff;
    }

    button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.search {
    composes: flex-1 from global;
}

.form {
    composes: flex from global;
    composes: gap-2 from global;
}

.inputSearch {
    composes: relative from global;
    composes: w-full from global;
}

.searchAIWrapper {
    composes: absolute from global;
    composes: top-0 from global;
    composes: right-0 from global;
    composes: flex from global;
    composes: items-center from global;

    composes: xl_gap-3 from global;

    @apply xl_p-[6px];

    @apply -xl_my-[3px];
    @apply -xl_mr-[4px];
}

.searchAITrigger {
    composes: items-center from global;
    composes: rounded-full from global;
    composes: px-2 from global;

    composes: xl_flex from global;

    composes: -xl_hidden from global;

    @apply py-[6px];

    gap: 5px;

    color: #0272BA;
    font-weight: 500;
    border: 2px solid rgba(170, 218, 255, 0);
    border-radius: 20px;

    --angle: 101deg;
    --c1: #AADAFF;
    --c2: #FFB1B7;
    //background: linear-gradient(#F1F9FF, #F1F9FF) padding-box, linear-gradient(101deg, #AADAFF 15%, #FFB1B7 50%, #AADAFF 85%) border-box;
    background: linear-gradient(#F1F9FF, #F1F9FF) padding-box, linear-gradient(var(--angle), var(--c1) 15%, var(--c2) 50%, var(--c1) 85%) border-box;
    animation: sweep 6s linear infinite;

    &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.935 4.36887L17.9555 2.14665C17.4772 1.0631 15.9386 1.0631 15.4612 2.14665L14.4817 4.36887C14.3447 4.68013 14.096 4.92877 13.7848 5.06576L11.5626 6.04532C10.4781 6.52354 10.4781 8.06221 11.5626 8.53954L13.7848 9.5191C14.0959 9.65598 14.3448 9.90487 14.4817 10.216L15.4612 12.4382C15.9386 13.5227 17.4772 13.5227 17.9555 12.4382L18.935 10.216C19.0719 9.90487 19.3208 9.65598 19.6319 9.5191L21.8541 8.53954C22.9377 8.06221 22.9377 6.52354 21.8541 6.04532L19.6319 5.06576C19.3206 4.92877 19.072 4.68013 18.935 4.36887ZM6.17056 9.79643L6.82834 11.288C6.9199 11.4969 7.08701 11.664 7.2959 11.7564L8.78656 12.4142C9.51545 12.7342 9.51545 13.7671 8.78656 14.088L7.2959 14.7458C7.08691 14.8377 6.91983 15.0045 6.82745 15.2133L6.16967 16.7049C5.84967 17.4329 4.81679 17.4329 4.4959 16.7049L3.83812 15.2133C3.74595 15.0047 3.57922 14.8379 3.37056 14.7458L1.87901 14.088C1.15101 13.768 1.15101 12.7342 1.87901 12.4133L3.37056 11.7555C3.57945 11.664 3.74656 11.4969 3.83812 11.288L4.4959 9.79643C4.8159 9.06932 5.84967 9.06932 6.17056 9.79643ZM14.1039 16.5289L14.6443 17.7573C14.7208 17.9289 14.8577 18.0667 15.0301 18.1422L16.2586 18.6844C16.3918 18.7436 16.5051 18.8402 16.5846 18.9625C16.6641 19.0848 16.7064 19.2275 16.7064 19.3733C16.7064 19.5192 16.6641 19.6619 16.5846 19.7841C16.5051 19.9064 16.3918 20.003 16.2586 20.0622L15.0301 20.6044C14.8581 20.6803 14.7206 20.8175 14.6443 20.9893L14.1039 22.2169C14.0448 22.3504 13.9482 22.4639 13.8258 22.5436C13.7035 22.6233 13.5606 22.6657 13.4146 22.6657C13.2685 22.6657 13.1257 22.6233 13.0033 22.5436C12.8809 22.4639 12.7843 22.3504 12.7252 22.2169L12.183 20.9893C12.1072 20.8173 11.9699 20.6798 11.7981 20.6035L10.5706 20.0622C10.4373 20.003 10.324 19.9064 10.2445 19.7841C10.1651 19.6619 10.1227 19.5192 10.1227 19.3733C10.1227 19.2275 10.1651 19.0848 10.2445 18.9625C10.324 18.8402 10.4373 18.7436 10.5706 18.6844L11.7981 18.1422C11.9701 18.0664 12.1077 17.9291 12.1839 17.7573L12.7252 16.5289C12.7844 16.3956 12.881 16.2823 13.0033 16.2029C13.1256 16.1234 13.2683 16.0811 13.4141 16.0811C13.56 16.0811 13.7027 16.1234 13.8249 16.2029C13.9472 16.2823 14.0447 16.3956 14.1039 16.5289Z' fill='%23005C98'/%3E%3C/svg%3E") no-repeat center / contain;
    }

    span {
        @apply -xl_hidden;
    }
}

.searchAIMobile {
    composes: xl_hidden from global;

    composes: -xl_flex from global;
    composes: -xl_items-center from global;

    @apply -xl_mb-[15px];

    gap: 10px;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857;
    color: #0272BA;
    border: 2px solid rgba(170, 218, 255, 0);
    border-radius: 99px;

    --angle: 101deg;
    --c1: #AADAFF;
    --c2: #FFB1B7;
    //background: linear-gradient(#F1F9FF, #F1F9FF) padding-box, linear-gradient(101deg, #AADAFF 15%, #FFB1B7 50%, #AADAFF 85%) border-box;
    background: linear-gradient(#F1F9FF, #F1F9FF) padding-box, linear-gradient(var(--angle), var(--c1) 15%, var(--c2) 50%, var(--c1) 85%) border-box;
    animation: sweep 15s linear infinite;

    &:before {
        content: "";
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.935 4.36887L17.9555 2.14665C17.4772 1.0631 15.9386 1.0631 15.4612 2.14665L14.4817 4.36887C14.3447 4.68013 14.096 4.92877 13.7848 5.06576L11.5626 6.04532C10.4781 6.52354 10.4781 8.06221 11.5626 8.53954L13.7848 9.5191C14.0959 9.65598 14.3448 9.90487 14.4817 10.216L15.4612 12.4382C15.9386 13.5227 17.4772 13.5227 17.9555 12.4382L18.935 10.216C19.0719 9.90487 19.3208 9.65598 19.6319 9.5191L21.8541 8.53954C22.9377 8.06221 22.9377 6.52354 21.8541 6.04532L19.6319 5.06576C19.3206 4.92877 19.072 4.68013 18.935 4.36887ZM6.17056 9.79643L6.82834 11.288C6.9199 11.4969 7.08701 11.664 7.2959 11.7564L8.78656 12.4142C9.51545 12.7342 9.51545 13.7671 8.78656 14.088L7.2959 14.7458C7.08691 14.8377 6.91983 15.0045 6.82745 15.2133L6.16967 16.7049C5.84967 17.4329 4.81679 17.4329 4.4959 16.7049L3.83812 15.2133C3.74595 15.0047 3.57922 14.8379 3.37056 14.7458L1.87901 14.088C1.15101 13.768 1.15101 12.7342 1.87901 12.4133L3.37056 11.7555C3.57945 11.664 3.74656 11.4969 3.83812 11.288L4.4959 9.79643C4.8159 9.06932 5.84967 9.06932 6.17056 9.79643ZM14.1039 16.5289L14.6443 17.7573C14.7208 17.9289 14.8577 18.0667 15.0301 18.1422L16.2586 18.6844C16.3918 18.7436 16.5051 18.8402 16.5846 18.9625C16.6641 19.0848 16.7064 19.2275 16.7064 19.3733C16.7064 19.5192 16.6641 19.6619 16.5846 19.7841C16.5051 19.9064 16.3918 20.003 16.2586 20.0622L15.0301 20.6044C14.8581 20.6803 14.7206 20.8175 14.6443 20.9893L14.1039 22.2169C14.0448 22.3504 13.9482 22.4639 13.8258 22.5436C13.7035 22.6233 13.5606 22.6657 13.4146 22.6657C13.2685 22.6657 13.1257 22.6233 13.0033 22.5436C12.8809 22.4639 12.7843 22.3504 12.7252 22.2169L12.183 20.9893C12.1072 20.8173 11.9699 20.6798 11.7981 20.6035L10.5706 20.0622C10.4373 20.003 10.324 19.9064 10.2445 19.7841C10.1651 19.6619 10.1227 19.5192 10.1227 19.3733C10.1227 19.2275 10.1651 19.0848 10.2445 18.9625C10.324 18.8402 10.4373 18.7436 10.5706 18.6844L11.7981 18.1422C11.9701 18.0664 12.1077 17.9291 12.1839 17.7573L12.7252 16.5289C12.7844 16.3956 12.881 16.2823 13.0033 16.2029C13.1256 16.1234 13.2683 16.0811 13.4141 16.0811C13.56 16.0811 13.7027 16.1234 13.8249 16.2029C13.9472 16.2823 14.0447 16.3956 14.1039 16.5289Z' fill='%23005C98'/%3E%3C/svg%3E") no-repeat center;
    }
}

.searchByImage {
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_15416_29157' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15416_29157)'%3E%3Cpath d='M5.30775 20.5C4.80258 20.5 4.375 20.325 4.025 19.975C3.675 19.625 3.5 19.1974 3.5 18.6923V5.30775C3.5 4.80258 3.675 4.375 4.025 4.025C4.375 3.675 4.80258 3.5 5.30775 3.5H12.0577C12.2702 3.5 12.4483 3.57192 12.592 3.71575C12.7358 3.85958 12.8077 4.03775 12.8077 4.25025C12.8077 4.46292 12.7358 4.641 12.592 4.7845C12.4483 4.92817 12.2702 5 12.0577 5H5.30775C5.21792 5 5.14417 5.02883 5.0865 5.0865C5.02883 5.14417 5 5.21792 5 5.30775V18.6923C5 18.7821 5.02883 18.8558 5.0865 18.9135C5.14417 18.9712 5.21792 19 5.30775 19H18.6923C18.7821 19 18.8558 18.9712 18.9135 18.9135C18.9712 18.8558 19 18.7821 19 18.6923V11.9423C19 11.7298 19.0719 11.5517 19.2158 11.408C19.3596 11.2642 19.5378 11.1923 19.7502 11.1923C19.9629 11.1923 20.141 11.2642 20.2845 11.408C20.4282 11.5517 20.5 11.7298 20.5 11.9423V18.6923C20.5 19.1974 20.325 19.625 19.975 19.975C19.625 20.325 19.1974 20.5 18.6923 20.5H5.30775ZM6.38475 16.6923H17.6152L14.125 12.0385L11.125 15.9327L9 13.2308L6.38475 16.6923ZM17 7H15.75C15.5375 7 15.3593 6.92808 15.2155 6.78425C15.0718 6.64042 15 6.46225 15 6.24975C15 6.03708 15.0718 5.859 15.2155 5.7155C15.3593 5.57183 15.5375 5.5 15.75 5.5H17V4.25C17 4.0375 17.0719 3.85942 17.2158 3.71575C17.3596 3.57192 17.5378 3.5 17.7503 3.5C17.9629 3.5 18.141 3.57192 18.2845 3.71575C18.4282 3.85942 18.5 4.0375 18.5 4.25V5.5H19.75C19.9625 5.5 20.1406 5.57192 20.2843 5.71575C20.4281 5.85958 20.5 6.03775 20.5 6.25025C20.5 6.46292 20.4281 6.641 20.2843 6.7845C20.1406 6.92817 19.9625 7 19.75 7H18.5V8.25C18.5 8.4625 18.4281 8.64067 18.2843 8.7845C18.1404 8.92817 17.9622 9 17.7498 9C17.5371 9 17.359 8.92817 17.2155 8.7845C17.0718 8.64067 17 8.4625 17 8.25V7Z' fill='%23005C98'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / 24px;

    span {
        display: none;
    }
}

.searchBarRoot {
    max-width: 100%;
    flex: 1;
}

.searchAIRoot {
    composes: xl_relative from global;
}

.container {
    padding-bottom: 0;
}

.before {
    composes: hidden from global;
    background: #E82230;
    border-radius: 50%;
    position: absolute;
    transition: all .3s;

    &:hover {
        background: #B2202A;
    }

    button:after {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.448 19.1094L18.4729 15.1356C19.5627 13.5739 20.2066 11.6792 20.2066 9.63177C20.2066 4.31228 15.8944 0 10.575 0C5.25557 0 0.943359 4.31228 0.943359 9.63177C0.943359 14.9513 5.25557 19.2635 10.575 19.2635C12.6224 19.2635 14.5171 18.6196 16.0788 17.5298L20.0525 21.5036C20.7143 22.1655 21.7862 22.1655 22.448 21.5036C23.1085 20.8432 23.1085 19.7713 22.448 19.1094ZM10.575 16.5116C6.77599 16.5116 3.69525 13.4308 3.69525 9.63177C3.69525 5.83273 6.77599 2.75193 10.575 2.75193C14.374 2.75193 17.4547 5.83273 17.4547 9.63177C17.4547 13.4308 14.374 16.5116 10.575 16.5116Z' fill='white'/%3E%3C/svg%3E%0A");
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.inputWrapper {
    width: 100%;
}

.input {
    border: 0;
    border-radius: 26px;
    width: 100%;
    outline: none;
    font-weight: 400;
    line-height: 22px;
    transition: all .3s;
    color: #005B96;
}

.autocomplete {
    composes: absolute from global;
    composes: bg-white from global;
    composes: bg-white from global;
    composes: left-0 from global;
    composes: right-0 from global;
    composes: flex from global;
    composes: flex-col from global;
    z-index: 70;
    transition-property: opacity, transform, visibility;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.10));
    max-height: calc(100vh - 120px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #FAFAFA;
    }

    &::-webkit-scrollbar-thumb {
        background: #E9E9E9;
        border-radius: 3px;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background: #DDDDDD;
        }
    }

    @media (max-height: 400px) {
        max-height: 280px;
    }
}

.autocomplete_hidden {
    composes: autocomplete;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, -2rem, 0);
    transition-duration: 192ms;
    transition-timing-function: var(--venia-global-anim-out);
}

.autocomplete_visible {
    composes: autocomplete;

    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition-duration: 224ms;
    transition-timing-function: var(--venia-global-anim-in);
}

@media (min-width: 1366px) {
    .autocomplete {
        border-radius: 0 0 10px 10px;
        padding: 20px;
        top: 100%;
    }

    .searchOpen {
        .input {
            border-radius: 26px 26px 0 0;
        }
    }
}

@media (min-width: 1024px) {
    .before {
        width: 40px;
        height: 40px;

        button:after {
            width: 23px;
            height: 22px;
        }
    }

    .input {
        padding: 6px 190px 6px 25px;
        height: 52px;
        font-size: 16px;

        &::placeholder {
            color: #005B96;
        }
    }

    .before {
        right: 6px;
        top: 6px;
    }
}

@media (min-width: 769px) {
    .search {
        position: relative;
    }
}

@media (max-width: 1023px) {
    .before {
        width: 30px;
        height: 30px;

        button:after {
            width: 18px;
            height: 17.2px;
        }
    }

    .input {
        height: 38px;
        font-size: 13px;
        padding: 2px 68px 2px 15px;
    }

    .before {
        right: 4px;
        top: 4px;
    }
}

@media (max-width: 1365px) {
    .autocomplete {
        border-radius: 10px;
        padding: 10px;
        margin-top: 1px;
    }

    @media (min-width: 1024px) {
        .autocomplete {
            width: calc(100% + 350px);
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 768px) {
    .search {
        position: static;
    }

    .autocomplete {
        margin-left: 14px;
        margin-right: 14px;
    }
}
