.root {
    display: flex;
    align-items: center;
}

.target {
    padding: 0;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;

    img {
        max-width: 32px;
        max-height: 32px;
        aspect-ratio: 1;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
    }
}

.icon {
    margin-left: auto;

    svg {
        stroke: #0272BA;
        stroke-width: 1px;
    }
}

.text {
    color: #2A2F33;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

@media (min-width: 1024px) {
    .root {
        padding: 8px 0;
        gap: 20px;
    }

    .target {
        gap: 20px;
    }

    .text {
        font-size: 18px;
    }
}

@media (max-width: 1023px) {
    .root {
        padding: 4px 0;
        gap: 10px;
    }

    .target {
        gap: 10px;
    }

    .text {
        font-size: 16px;
    }
}
