.root {
    position: absolute;
    max-width: 100vw;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: opacity 192ms var(--venia-global-anim-out),
    visibility 192ms var(--venia-global-anim-out),
    left 0s 192ms;
}

.root_closed {
    composes: root;

    visibility: hidden;
    opacity: 0;
}

.root_open {
    composes: root;

    right: 0;
    opacity: 1;
    visibility: visible;
    transition: opacity 224ms var(--venia-global-anim-in),
    visibility 224ms var(--venia-global-anim-in), left 0s;
}

.contents {
    position: absolute;
    background-color: #fff;
    right: 0;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    top: 10px;
    width: 468px;
    min-height: 10rem;
    transform: translate3d(0, -8px, 0);
    transition-duration: 192ms;
    transition-property: transform;
    transition-timing-function: var(--venia-global-anim-out);
    padding: 30px;
    z-index: 62;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &:before {
        content: '';
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 9px solid #fff;
        position: absolute;
        bottom: 100%;
        right: 15px;
    }

    &:after {
        content: '';
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 10px solid #D9D9D9;
        position: absolute;
        bottom: 100%;
        right: 14px;
        z-index: -1;
    }
}

.contents_open {
    composes: contents;

    transform: translate3d(0, 4px, 0);
    transition-duration: 224ms;
    transition-timing-function: var(--venia-global-anim-in);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
