.root {
    --leftViewportElement: 0;
    --scrollBarWidth: var(--global-scrollbar-width, 0px);

    &:before {
        content: '';
        background: url("~@magenest/theme/static/images/bg-login.jpg") center no-repeat;
        background-size: cover;
        position: absolute;
        width: calc(100vw - var(--scrollBarWidth));
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.contentContainer {
    display: block;
}

.wrapper {
    position: relative;
    z-index: 1;
    background: #fff;
    max-width: 460px;
    margin: 0 auto;
    border-radius: 10px;
}

@media (min-width: 769px) {
    .contentContainer {
        padding: 35px 15px 130px;
    }

    .wrapper {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .contentContainer {
        padding: 100px 4px 20px;
    }

    .wrapper {
        padding: 15px;
    }
}
