.root {
    display: block;
    position: relative;

    input {
        padding-right: 45px;
    }
}

.after {
    position: absolute;
    right: 14px;
    top: 12px;
}

.passwordButton {
    display: block;

    &:focus-visible {
        outline: none;
    }
}
