.root {
    composes: pt-xs from global;
}

.searchHeader {
    margin-bottom: 22px;
}

.title {
    composes: flex from global;
    composes: flex-wrap from global;
    composes: items-center from global;
    composes: gap-x-1 from global;
    composes: gap-y-2 from global;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;

    h1 {
        display: inline;
        font: inherit;
    }

    .extendHeading {
        position: absolute;
        width: 0;
        height: 0;
        color: rgba(255, 255, 255, 0);
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        visibility: hidden;
        pointer-events: none;
    }
}

.pagination {
    composes: relative from global;
    composes: bottom-0 from global;

    &.paginationBottom {
        margin-bottom: 24px;
    }
}

.placeholder {
    composes: h-screen from global;
}

.searchTitle {
    font: inherit;
    line-height: normal;
    color: #0272BA;
}

.heading {
    composes: flex from global;
    composes: flex-wrap from global;
    composes: justify-center from global;

    composes: lg_flex-nowrap from global;
    composes: lg_items-center from global;
    composes: lg_justify-between from global;
}

.searchContent {
    composes: lg_flex-grow from global;
    composes: lg_self-start from global;

    .noResult {
        @apply py-4;
        font-size: 18px;
        color: #7A7E80;
    }
}

.searchInfo {
    margin-top: 2px;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.16px;
    color: #7A7E80;
}

.headerButtons {
    composes: flex from global;
    composes: basis-full from global;
    composes: lg_justify-end from global;
}

.contentWrapper {
    composes: w-full from global;

    composes: lg_flex from global;
}

.sidebar {
    composes: hidden from global;

    composes: lg_flex from global;
    composes: lg_self-start from global;

    width: 242px;
    min-width: 242px;
    padding-right: 10px;
}

.gallery {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.viewModeAction {
    display: inline-flex;
    gap: 0 25px;

    button {
        width: 20px;
        height: 20px;
        padding: 0;
        border: none;
        box-shadow: none;
        outline: none;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Crect x='1.25' y='0.75' width='18.5' height='13.5' rx='3.25' stroke='%23A2A4A6' stroke-width='1.5'/%3E%3Crect x='1' y='18.5' width='19' height='1' rx='0.5' fill='%238C8C8C' stroke='%23A2A4A6'/%3E%3C/svg%3E") no-repeat center;
        background-size: contain;

        span {
            display: none;
        }

        :global(.products-display-mode-list) & {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Crect x='1.25' y='0.75' width='18.5' height='13.5' rx='3.25' stroke='%23005C98' stroke-width='1.5'/%3E%3Crect x='1' y='18.5' width='19' height='1' rx='0.5' fill='%238C8C8C' stroke='%23005C98'/%3E%3C/svg%3E");
        }

        &.gridMode {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Crect x='1.25' y='0.75' width='7.5' height='18.5' rx='1.25' stroke='%23A2A4A6' stroke-width='1.5'/%3E%3Crect x='12.25' y='0.75' width='7.5' height='18.5' rx='1.25' stroke='%23A2A4A6' stroke-width='1.5'/%3E%3C/svg%3E");

            :global(.products-display-mode-grid) & {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Crect x='1.25' y='0.75' width='7.5' height='18.5' rx='1.25' stroke='%23005C98' stroke-width='1.5'/%3E%3Crect x='12.25' y='0.75' width='7.5' height='18.5' rx='1.25' stroke='%23005C98' stroke-width='1.5'/%3E%3C/svg%3E");
            }
        }
    }
}

.noResult {
    width: 100%;
    text-align: center;
}

.noResultWrapper {
    position: relative;
    margin-bottom: 51px;
    --scrollBarWidth: var(--global-scrollbar-width, 0px);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: calc(100vw - var(--scrollBarWidth));
        height: 100%;
        transform: translateX(-50%);
        margin-left: 50%;
        background: #F4F9FF;
    }

    .noResultInner {
        position: relative;
        padding: 50px 0;
    }
}

.noResultText {
    padding: 25px 0;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    border-radius: 4px;

    strong {
        font-weight: 700;
    }
}

:global(.suggest-products) {
    h2 {
        margin-bottom: 35px;
        text-align: left;
        font-size: 32px;
        font-weight: 700;
        font-family: 'Roboto';
        text-transform: none;
        letter-spacing: 0.32px;
    }
}

.popularKeysWrapper {
    h3 {
        display: none;
    }

    .popularKey a {
        border-radius: 100px;
        background: #F1F6F9;
        padding: 8px 15px;
        color: #295679;
        font-weight: 400;
        display: block;
    }
}

.filterTrigger {
    composes: flex from global;
    composes: items-center from global;
    composes: bg-white from global;
    gap: 10px;
    margin-right: auto;
    padding: 7px 14px 7px 7px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    outline: none;

    &:before {
        content: "";
        display: inline-block;
        width: 21px;
        height: 23px;
        margin-top: -1px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='24' viewBox='0 0 22 24' fill='none'%3E%3Cpath d='M7.1684 3.05799C6.8296 3.05799 6.50468 3.19258 6.26512 3.43214C6.02556 3.67171 5.89097 3.99662 5.89097 4.33542C5.89097 4.67422 6.02556 4.99914 6.26512 5.2387C6.50468 5.47826 6.8296 5.61285 7.1684 5.61285C7.50719 5.61285 7.83211 5.47826 8.07168 5.2387C8.31124 4.99914 8.44583 4.67422 8.44583 4.33542C8.44583 3.99662 8.31124 3.67171 8.07168 3.43214C7.83211 3.19258 7.50719 3.05799 7.1684 3.05799ZM3.55327 3.05799C3.81719 2.31001 4.30662 1.66231 4.9541 1.20417C5.60158 0.746028 6.37523 0.5 7.1684 0.5C7.96157 0.5 8.73522 0.746028 9.3827 1.20417C10.0302 1.66231 10.5196 2.31001 10.7835 3.05799H19.9427C20.2815 3.05799 20.6064 3.19258 20.846 3.43214C21.0855 3.67171 21.2201 3.99662 21.2201 4.33542C21.2201 4.67422 21.0855 4.99914 20.846 5.2387C20.6064 5.47826 20.2815 5.61285 19.9427 5.61285H10.7835C10.5196 6.36083 10.0302 7.00853 9.3827 7.46667C8.73522 7.92481 7.96157 8.17084 7.1684 8.17084C6.37523 8.17084 5.60158 7.92481 4.9541 7.46667C4.30662 7.00853 3.81719 6.36083 3.55327 5.61285H2.05868C1.71988 5.61285 1.39496 5.47826 1.1554 5.2387C0.915836 4.99914 0.78125 4.67422 0.78125 4.33542C0.78125 3.99662 0.915836 3.67171 1.1554 3.43214C1.39496 3.19258 1.71988 3.05799 2.05868 3.05799H3.55327ZM14.833 10.7226C14.4942 10.7226 14.1693 10.8572 13.9297 11.0967C13.6901 11.3363 13.5555 11.6612 13.5555 12C13.5555 12.3388 13.6901 12.6637 13.9297 12.9033C14.1693 13.1428 14.4942 13.2774 14.833 13.2774C15.1718 13.2774 15.4967 13.1428 15.7363 12.9033C15.9758 12.6637 16.1104 12.3388 16.1104 12C16.1104 11.6612 15.9758 11.3363 15.7363 11.0967C15.4967 10.8572 15.1718 10.7226 14.833 10.7226ZM11.2179 10.7226C11.4818 9.97459 11.9712 9.32689 12.6187 8.86875C13.2662 8.41061 14.0398 8.16458 14.833 8.16458C15.6262 8.16458 16.3998 8.41061 17.0473 8.86875C17.6948 9.32689 18.1842 9.97459 18.4481 10.7226H19.9427C20.2815 10.7226 20.6064 10.8572 20.846 11.0967C21.0855 11.3363 21.2201 11.6612 21.2201 12C21.2201 12.3388 21.0855 12.6637 20.846 12.9033C20.6064 13.1428 20.2815 13.2774 19.9427 13.2774H18.4481C18.1842 14.0254 17.6948 14.6731 17.0473 15.1312C16.3998 15.5894 15.6262 15.8354 14.833 15.8354C14.0398 15.8354 13.2662 15.5894 12.6187 15.1312C11.9712 14.6731 11.4818 14.0254 11.2179 13.2774H2.05868C1.71988 13.2774 1.39496 13.1428 1.1554 12.9033C0.915836 12.6637 0.78125 12.3388 0.78125 12C0.78125 11.6612 0.915836 11.3363 1.1554 11.0967C1.39496 10.8572 1.71988 10.7226 2.05868 10.7226H11.2179ZM7.1684 18.3871C6.8296 18.3871 6.50468 18.5217 6.26512 18.7613C6.02556 19.0009 5.89097 19.3258 5.89097 19.6646C5.89097 20.0034 6.02556 20.3283 6.26512 20.5679C6.50468 20.8074 6.8296 20.942 7.1684 20.942C7.50719 20.942 7.83211 20.8074 8.07168 20.5679C8.31124 20.3283 8.44583 20.0034 8.44583 19.6646C8.44583 19.3258 8.31124 19.0009 8.07168 18.7613C7.83211 18.5217 7.50719 18.3871 7.1684 18.3871ZM3.55327 18.3871C3.81719 17.6392 4.30662 16.9915 4.9541 16.5333C5.60158 16.0752 6.37523 15.8292 7.1684 15.8292C7.96157 15.8292 8.73522 16.0752 9.3827 16.5333C10.0302 16.9915 10.5196 17.6392 10.7835 18.3871H19.9427C20.2815 18.3871 20.6064 18.5217 20.846 18.7613C21.0855 19.0009 21.2201 19.3258 21.2201 19.6646C21.2201 20.0034 21.0855 20.3283 20.846 20.5679C20.6064 20.8074 20.2815 20.942 19.9427 20.942H10.7835C10.5196 21.69 10.0302 22.3377 9.3827 22.7958C8.73522 23.254 7.96157 23.5 7.1684 23.5C6.37523 23.5 5.60158 23.254 4.9541 22.7958C4.30662 22.3377 3.81719 21.69 3.55327 20.942H2.05868C1.71988 20.942 1.39496 20.8074 1.1554 20.5679C0.915836 20.3283 0.78125 20.0034 0.78125 19.6646C0.78125 19.3258 0.915836 19.0009 1.1554 18.7613C1.39496 18.5217 1.71988 18.3871 2.05868 18.3871H3.55327Z' fill='%232A2F33'/%3E%3C/svg%3E") no-repeat center / contain;
        border-radius: 4px;
    }
}

.filterDialog {
    composes: fixed from global;
    composes: top-0 from global;
    composes: left-0 from global;
    composes: bottom-0 from global;
    composes: grid from global;
    composes: w-full from global;
    composes: h-full from global;
    composes: max-w-modal from global;
    composes: overflow-hidden from global;
    composes: z-dialog from global;
    composes: bg-white from global;
    composes: shadow-modal from global;
    z-index: 61;
    max-width: 90.67%;
    grid-template-rows: 1fr auto;
}

.filterDialogBody {
    composes: pt-5 from global;
    composes: px-5 from global;
    composes: flex-1 from global;
    composes: overflow-auto from global;
}

.filterDialogFooter {
    composes: p-5 from global;
}

@media (min-width: 769px) {
    .title {
        font-size: 28px;
        letter-spacing: 0.28px;
    }

    @media (max-width: 1550px) {
        :global {
            .suggest-products {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }

    @media (max-width: 1200px) {
        :global {
            .suggest-products {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .popularKeysWrapper {
        margin-top: 20px;

        .popularKey a {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

@media (min-width: 960px) {
    .searchHeader {
        margin-bottom: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid #EDEDED;
    }

    .searchContent {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: calc(100% - 242px);

        .pagination {
            &.paginationTop {
                -ms-flex-order: -2;
                order: -2;
            }
        }

        .viewModeAction {
            -ms-flex-order: -1;
            order: -1;
            margin-left: auto;
            margin-right: auto;
        }

        .heading {
            margin-left: auto;
        }
    }

    .gallery {
        margin-bottom: 20px;
    }
}

@media (min-width: 1600px) {
    :global {
        .suggest-products {
            .slick-slider.slick-initialized {
                .slick-prev {
                    left: -75px;
                }

                .slick-next {
                    right: -75px;
                }
            }
        }
    }
}

@media (max-width: 959px) {
    .viewModeAction {
        display: none;
    }

    .headerButtons {
        justify-content: space-between;
    }

    .searchContent {
        .pagination {
            &.paginationTop {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .root {
        padding-top: 10px;
    }

    .popularKeysWrapper {
        margin-top: 15px;

        .popularKey a {
            font-size: 12px;
            line-height: 16px;
        }
    }

    .noResultWrapper {
        margin-bottom: 20px;
    }

    .noResultText {
        font-size: 22px;
    }

    :global(.suggest-products) {
        h2 {
            margin-bottom: 10px;
            font-size: 20px;
            letter-spacing: 0.2px;
        }
    }
}
