.root {
    composes: grid from global;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #EDEDED;
}

.header {
    composes: grid from global;
    composes: grid-cols-autoLast from global;
    composes: grid-flow-col from global;
    composes: items-center from global;
    padding: 8px 0;

    svg {
        width: 20px;
        height: 20px;
        --stroke: #7A7E80;
    }
}

.name {
    composes: text-left from global;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: #0A1015;
}

.list {
    composes: empty_hidden from global;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 580px;
    overflow: auto;
}

@media (max-width: 768px) {
    .root {
        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }
    }

    .list {
        margin-top: 10px;
    }
}

@media (min-width: 769px) {
    .list {
        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #FAFAFA;
        }

        &::-webkit-scrollbar-thumb {
            background: #E9E9E9;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background: #E3E3E3;
            }
        }
    }
}
