.root {
    composes: bg-white from global;
    composes: bottom-0 from global;
    composes: grid from global;
    composes: h-full from global;
    composes: left-0 from global;
    composes: max-w-modal from global;
    composes: opacity-0 from global;
    composes: overflow-hidden from global;
    composes: fixed from global;
    composes: top-0 from global;
    composes: w-full from global;
    composes: invisible from global;
    z-index: 61;
    max-width: 90.67%;
    grid-template-rows: 1fr auto;
    transform: translate3d(-100%, 0, 0);
    transition-duration: 192ms;
    transition-timing-function: var(--venia-global-anim-out);
    transition-property: opacity, transform, visibility;
}

.root_open {
    composes: root;

    composes: opacity-100 from global;
    composes: shadow-modal from global;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition-duration: 224ms;
    transition-timing-function: var(--venia-global-anim-in);
}

.body {
    composes: overflow-auto from global;
}

.header {
    display: none;
}

.headerTitle {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: normal;
}

.currentFiltersWrap {
    composes: pt-5 from global;
    composes: px-5 from global;
}

.action {
    composes: pb-0 from global;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EDEDED;

    button {
        font-size: 14px;
        letter-spacing: 0.14px;
        line-height: normal;
        color: #0272BA;
    }
}

.action button {
    @apply text-sm;
    @apply no-underline;
}

.blocks {
    composes: pb-0 from global;
    composes: pt-0 from global;
    composes: px-5 from global;
}
