.root {
    composes: fixed from global;
    composes: rounded-radius2 from global;

    composes: md_bottom-6 from global;
    composes: md_right-6 from global;

    composes: -md_bottom-6 from global;
    composes: -md_right-2 from global;

    z-index: 50;
    background: #0272BA;
    box-shadow: 0 2px 8px 0 rgba(2, 114, 186, 0.24);

    .item {
        @apply block;

        @apply md_min-w-[56px];
        @apply md_py-2;
        @apply md_px-[9px];

        @apply -md_min-w-[42px];
        @apply -md_py-[6px];
        @apply -md_px-1;

        text-align: center;
        color: #FFFFFF;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.15px;
        cursor: pointer;

        &:not(:last-child) {
            border-bottom: 2px solid #FFFFFF;
        }

        &:before {
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            display: block;

            @apply mt-0;
            @apply mx-auto;

            @apply md_w-[40px];
            @apply md_h-[40px];
            @apply md_mb-[5px];

            @apply -md_w-[28px];
            @apply -md_h-[28px];
            @apply -md_mb-[2px];
        }

        &.backToTop {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5008 0C15.9516 0 19.0769 1.39889 21.3385 3.66056C23.6002 5.923 25 9.04729 25 12.4992C25 15.9509 23.6002 19.0752 21.3385 21.3368C19.0769 23.5985 15.9516 24.9974 12.5008 24.9974C9.0482 24.9974 5.92467 23.5985 3.663 21.3368C1.40148 19.0752 0 15.9507 0 12.499C0 9.04729 1.39981 5.923 3.66315 3.66041C5.92467 1.39889 9.0482 0 12.5008 0ZM6.41451 11.1939L11.9002 5.70654V20.7388C11.9002 21.0695 12.1699 21.3376 12.5008 21.3376C12.8316 21.3376 13.1006 21.0695 13.1006 20.7388V5.70654L18.5863 11.1939C18.8199 11.4275 19.198 11.4275 19.4344 11.1939C19.6681 10.9584 19.6681 10.5795 19.4344 10.3457L12.9339 3.84612L12.9245 3.83577C12.8162 3.72739 12.6658 3.65965 12.5008 3.65965C12.3342 3.65965 12.1854 3.72754 12.0772 3.83577L12.0659 3.84612L5.56726 10.3457C5.3336 10.5795 5.3336 10.9584 5.56726 11.1939C5.8035 11.4275 6.18085 11.4275 6.41451 11.1939ZM20.4905 4.50858C18.4462 2.46351 15.6201 1.19949 12.5008 1.19949C9.37989 1.19949 6.55547 2.46351 4.5104 4.50858C2.4661 6.55379 1.19949 9.37806 1.19949 12.499C1.19949 15.619 2.4661 18.4444 4.51025 20.4894C6.55531 22.5337 9.37989 23.7994 12.5007 23.7994C15.6198 23.7994 18.4461 22.5337 20.4904 20.4894C22.5371 18.4444 23.8004 15.619 23.8004 12.499C23.8004 9.37806 22.5372 6.55379 20.4905 4.50858Z' fill='%23253764'/%3E%3C/svg%3E%0A");
            }
        }

        &.trackingOrder:before {
            background-image: url("data:image/svg+xml,%3Csvg width='33' height='25' viewBox='0 0 33 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.70075 6.0926C8.99057 5.5224 9.15394 4.87709 9.15394 4.19359C9.15394 1.87585 7.27541 -0.00268555 4.95767 -0.00268555C2.63993 -0.00268555 0.761397 1.87585 0.761397 4.19359C0.761397 6.51133 2.63993 8.38986 4.95767 8.38986C5.80537 8.38986 6.59431 8.13857 7.25409 7.70642L10.5403 10.9926C10.7432 11.1955 11.0185 11.3094 11.3054 11.3094C11.5924 11.3094 11.8676 11.1955 12.0705 10.9926C12.2734 10.7896 12.3873 10.5144 12.3873 10.2275C12.3873 9.94054 12.2734 9.66534 12.0705 9.46237L8.70075 6.0926ZM2.50984 4.19359C2.50984 2.84239 3.60647 1.74576 4.95767 1.74576C6.30887 1.74576 7.4055 2.84239 7.4055 4.19359C7.4055 5.54479 6.30887 6.64141 4.95767 6.64141C3.60647 6.64141 2.50984 5.54479 2.50984 4.19359ZM32.4843 15.2255L27.7467 8.61499C27.7411 8.60681 27.7336 8.60011 27.7248 8.59548C27.716 8.59085 27.7063 8.58842 27.6963 8.58841H22.1587C22.1505 8.58841 22.1423 8.58678 22.1348 8.5836C22.1272 8.58042 22.1204 8.57576 22.1146 8.56989C22.1089 8.56403 22.1044 8.55708 22.1014 8.54945C22.0984 8.54182 22.0969 8.53367 22.0971 8.52547V4.48725C22.0971 3.83543 21.8439 3.20879 21.3949 2.7472C20.9445 2.28561 20.3347 2.02684 19.6982 2.02684H15.4614V2.02937H11.802C11.2201 2.02937 10.7445 2.50495 10.7445 3.08683V3.10082C10.7445 3.68271 11.2201 4.15828 11.802 4.15828H15.6863C15.7028 4.15828 15.7191 4.1579 15.7354 4.15715H19.2241C19.3486 4.15715 19.4744 4.17533 19.5877 4.22569C19.9053 4.36836 20.0955 4.68168 20.0955 5.01599V17.8999L20.0899 18.0007C20.0409 18.4329 19.6829 18.7588 19.2576 18.7588L11.2539 18.7602C11.2316 18.7602 11.2106 18.7476 11.1994 18.7266C10.4119 17.174 8.85227 16.1935 7.14439 16.1809C5.4435 16.1683 3.87549 17.118 3.06421 18.6483C3.04883 18.6777 3.01386 18.6916 2.98448 18.6763C2.69354 18.535 2.50471 18.2328 2.50471 17.8999V10.7845C2.50471 10.7794 2.50412 10.7745 2.50302 10.7698V10.2443C2.50302 9.69457 2.05262 9.24417 1.50151 9.24277C0.9504 9.24277 0.5 9.69317 0.5 10.2443V13.0502C0.5 13.0698 0.500568 13.0892 0.501689 13.1085V18.4287C0.501689 19.7869 1.57594 20.8891 2.90056 20.8891H2.91874C3.12296 23.2152 5.02247 24.9972 7.29965 24.9972C9.55865 24.9972 11.447 23.2446 11.6764 20.9464C11.6792 20.9143 11.7057 20.8905 11.7379 20.8905H20.4606C20.4927 20.8905 20.5179 20.9143 20.5221 20.9464C20.7515 23.2446 22.6398 24.9972 24.8988 24.9972C27.1578 24.9972 29.0461 23.2446 29.2755 20.9464C29.2783 20.9143 29.3049 20.8905 29.3371 20.8905H30.0994C31.424 20.8905 32.4997 19.7883 32.4997 18.4301V15.2633C32.4955 15.2493 32.4913 15.2367 32.4843 15.2255ZM7.30105 22.5312C6.19743 22.5312 5.30083 21.6136 5.30083 20.4807C5.30083 19.3491 6.19603 18.4301 7.30105 18.4301C8.40467 18.4301 9.30128 19.3477 9.30128 20.4807C9.29988 21.6122 8.40467 22.5312 7.30105 22.5312ZM24.8974 22.5312C23.7924 22.5312 22.8972 21.6136 22.8972 20.4807C22.8972 19.3491 23.7924 18.4301 24.8974 18.4301C26.001 18.4301 26.8962 19.3477 26.8962 20.4807C26.8962 21.6122 26.001 22.5312 24.8974 22.5312ZM30.4491 17.8636L30.4435 17.9685C30.3917 18.4175 30.0197 18.756 29.5791 18.756H29.0937C29.0713 18.756 29.0503 18.7434 29.0391 18.7224C28.3761 17.4146 27.1732 16.4802 25.7633 16.1809C24.3841 15.8871 22.9504 16.2326 21.8439 17.118C21.8034 17.1502 21.7432 17.1222 21.7432 17.0705V10.7873C21.7432 10.7523 21.7712 10.7243 21.8048 10.7243H26.9704C26.99 10.7243 27.0082 10.7341 27.0193 10.7495L30.4351 15.2717C30.4435 15.2829 30.4477 15.2955 30.4477 15.3094V17.8636H30.4491Z' fill='%23253764'/%3E%3C/svg%3E%0A");
        }

        &.chatSupport:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cmask id='mask0_16039_134459' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16039_134459)'%3E%3Cpath d='M34.4863 31.8337C34.3497 32.0473 34.1227 32.1685 33.8055 32.1974C33.488 32.2263 33.2031 32.1146 32.9509 31.8624L29.6147 28.5257H13.3326C12.5217 28.5257 11.8276 28.237 11.2501 27.6595C10.6726 27.0823 10.3838 26.3881 10.3838 25.577V24.5516H28.5251C29.3534 24.5516 30.0626 24.2566 30.6526 23.6666C31.2426 23.0766 31.5376 22.3673 31.5376 21.5387V10.0003H32.5634C33.3742 10.0003 34.0684 10.2891 34.6459 10.8666C35.2234 11.4441 35.5122 12.1382 35.5122 12.9491V30.7824C35.5122 31.0899 35.4095 31.342 35.2042 31.5387C34.9992 31.7353 34.7599 31.8337 34.4863 31.8337ZM6.98633 21.0774L9.34549 18.7182H25.1917C25.3412 18.7182 25.464 18.6702 25.5601 18.5741C25.6562 18.478 25.7042 18.355 25.7042 18.2053V7.17991C25.7042 7.03019 25.6562 6.90727 25.5601 6.81116C25.464 6.71505 25.3412 6.66699 25.1917 6.66699H7.49924C7.3498 6.66699 7.22688 6.71505 7.13049 6.81116C7.03438 6.90727 6.98633 7.03019 6.98633 7.17991V21.0774ZM5.98758 25.0066C5.60008 25.0066 5.25299 24.8656 4.94633 24.5837C4.63966 24.3014 4.48633 23.9294 4.48633 23.4674V7.17991C4.48633 6.3513 4.78133 5.64199 5.37133 5.05199C5.96133 4.46199 6.67063 4.16699 7.49924 4.16699H25.1917C26.0201 4.16699 26.7292 4.46199 27.3192 5.05199C27.9092 5.64199 28.2042 6.3513 28.2042 7.17991V18.2053C28.2042 19.0339 27.9092 19.7432 27.3192 20.3332C26.7292 20.9232 26.0201 21.2182 25.1917 21.2182H10.3838L7.04758 24.5549C6.89147 24.7107 6.72424 24.825 6.54591 24.8978C6.3673 24.9703 6.18119 25.0066 5.98758 25.0066Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
        }
    }
}

.searchAIRoot {
    .backToTop,
    .trackingOrder {
        display: none !important;
    }
}

:global {
    .fc-widget-small {
        &:not(.fc-open) {
            opacity: 0 !important;
            z-index: -1 !important;
        }

        @screen md {
            &.fc-open {
                bottom: 0 !important;
                right: 68px !important;
            }
        }
    }
}

freshchat-widget {
    opacity: 0;
}
