.suggestCateItemInner {
    width: 158px;
    max-width: 100%;
    text-align: center;
}

.suggestCategoryImage {
    position: relative;
    width: 100%;
    margin-bottom: 10px;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 4px;
    }
}

@media (min-width: 769px) {
    .suggestCategories {
        position: relative;
        margin-bottom: 20px;

        :global {
            .slick-slider {
                margin-left: -12.5px;
                margin-right: -12.5px;

                &.slick-initialized {
                    .slick-slide {
                        padding-left: 12.5px;
                        padding-right: 12.5px;
                    }

                    .slick-prev,
                    .slick-next {
                        width: 36px;
                        height: 36px;
                        margin-top: -12px;
                        border: 1px solid #CFCFCF;
                    }

                    .slick-prev {
                        left: 0;
                        transform: translate(-50%, -50%);
                    }

                    .slick-next {
                        right: 0;
                        transform: translate(50%, -50%);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .suggestCategories {
        margin-bottom: 10px;
    }

    .suggestCategoriesSlider {
        display: flex;
        gap: 10px;
        margin-left: -10px;
        margin-right: -10px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }

        &:before,
        &:after {
            content: "";
            display: block;
            width: 1px;
        }
    }

    .suggestCateItemInner {
        width: 90px;
        min-width: 90px;
        font-size: 12px;
        line-height: 1.33333;
        letter-spacing: 0.12px;
    }
}
