.blockContent {
    background-color: #fff;
}

.tabHeader {
    display: flex;
    gap: 20px;
    padding: 10px 15px;
    border-bottom: 1px solid #EDEDED;

    .tabHeaderItem {
        color: #7A7E80;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.08px;
        position: relative;
        cursor: pointer;

        &:after {
            content: '';
            height: 2px;
            width: 0;
            position: absolute;
            bottom: -10px;
            transition: all .3s;
            background-color: #0272BA;
            left: 50%;
            transform: translateX(-50%);
        }

        &.active {
            color: #0272BA;

            &:after {
                width: 100%;
            }
        }
    }
}

.tabContent {
    form {
        .input, .quantity {
            > div {
                margin-bottom: 0;
            }
        }

        .input {
            flex: 1;
            position: relative;
        }

        input[type='number'] {
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    .importCsvWrapper {
        .actions {
            flex: 1;
            max-width: 550px;

            .field {
                display: flex;
                gap: 10px;
                align-items: center;

                .fileEmpty {
                    color: #7A7E80;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    display: block;
                    margin-top: 23px;
                }

                > span:not(.fileEmpty) {
                    color: #2A2F33;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    display: block;
                    margin-top: 23px;
                }
            }

            .message {
                color: #E82230;
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                display: block;
                margin-top: 5px;
            }

            label {
                display: block;
            }

            .label {
                color: #2A2F33;
                font-size: 15px;
                font-weight: 500;
                line-height: normal;
                display: block;
                margin-bottom: 5px;

                &:after {
                    content: '*';
                    color: #E82230;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: normal;
                    padding-left: 2px;
                }
            }

            input[type='file'] {
                opacity: 0;
                position: absolute;
                width: 0;
                height: 0;
                visibility: hidden;
            }

            .action {
                border-radius: 5px;
                border: 1px solid #767676;
                background: #EFEFEF;
                padding: 5px 15px;
                color: #2A2F33;
                font-size: 14px;
                font-weight: 500;
                line-height: normal;
                cursor: pointer;
                display: block;
            }
        }
    }
}

.addToCart_disabled {
    button {
        border: 1px solid #EAEBEC;
        background: #F9F9F9;
        color: #B5C0CA;
        box-shadow: none;
        pointer-events: none;
    }
}

.fieldNote {
    color: #5B6166;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
}

.importCsvTitle {
    > p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #2A2F33;

        strong {
            font-weight: 500;
            color: #0272BA;
        }
    }
}

.downloadSampleFile {
    border-radius: 4px;
    background: #E3F3FF;
    padding: 4px 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #005C98;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;

    &:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cmask id='mask0_10625_65822' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10625_65822)'%3E%3Cpath d='M7.99935 10.3837C7.91046 10.3837 7.82713 10.3698 7.74935 10.342C7.67157 10.3142 7.59935 10.267 7.53268 10.2003L5.13268 7.80033C4.99935 7.66699 4.93546 7.51144 4.94102 7.33366C4.94657 7.15588 5.01046 7.00033 5.13268 6.86699C5.26602 6.73366 5.42435 6.66421 5.60768 6.65866C5.79102 6.6531 5.94935 6.71699 6.08268 6.85033L7.33268 8.10033V3.33366C7.33268 3.14477 7.39657 2.98644 7.52435 2.85866C7.65213 2.73088 7.81046 2.66699 7.99935 2.66699C8.18824 2.66699 8.34657 2.73088 8.47435 2.85866C8.60213 2.98644 8.66602 3.14477 8.66602 3.33366V8.10033L9.91602 6.85033C10.0493 6.71699 10.2077 6.6531 10.391 6.65866C10.5743 6.66421 10.7327 6.73366 10.866 6.86699C10.9882 7.00033 11.0521 7.15588 11.0577 7.33366C11.0632 7.51144 10.9993 7.66699 10.866 7.80033L8.46602 10.2003C8.39935 10.267 8.32713 10.3142 8.24935 10.342C8.17157 10.3698 8.08824 10.3837 7.99935 10.3837ZM3.99935 13.3337C3.63268 13.3337 3.31879 13.2031 3.05768 12.942C2.79657 12.6809 2.66602 12.367 2.66602 12.0003V10.667C2.66602 10.4781 2.7299 10.3198 2.85768 10.192C2.98546 10.0642 3.14379 10.0003 3.33268 10.0003C3.52157 10.0003 3.6799 10.0642 3.80768 10.192C3.93546 10.3198 3.99935 10.4781 3.99935 10.667V12.0003H11.9993V10.667C11.9993 10.4781 12.0632 10.3198 12.191 10.192C12.3188 10.0642 12.4771 10.0003 12.666 10.0003C12.8549 10.0003 13.0132 10.0642 13.141 10.192C13.2688 10.3198 13.3327 10.4781 13.3327 10.667V12.0003C13.3327 12.367 13.2021 12.6809 12.941 12.942C12.6799 13.2031 12.366 13.3337 11.9993 13.3337H3.99935Z' fill='%23005C98'/%3E%3C/g%3E%3C/svg%3E");
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.searchSuggestions {
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    background: #FFF;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.06);
    composes: absolute from global;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 9;

    .item {
        display: flex;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        .image {
            margin-right: 10px;
        }

        .imageWrapper {
            border-radius: 2.56px;
            background: #F9F9F9;
            overflow: hidden;
            width: 64px;
            position: relative;
            height: 0;
            padding-bottom: 100%;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                object-fit: contain;
                max-width: 80%;
                max-height: 80%;
                margin: auto;
            }
        }

        .priceBox {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 10px;

            .finalPrice {
                span {
                    color: #000;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.09px;
                }
            }

            .regularPrice {
                span {
                    color: #7A7E80;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0.14px;
                    text-decoration: line-through;
                }
            }

            .percent {
                border-radius: 4px;
                background: #FFD1D1;
                padding: 2px 5px;
                display: inline-block;
                color: #EB2030;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0.195px;
            }
        }

        .name {
            color: #2A2F33;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

@media (min-width: 768px) {
    .tabContent {
        padding: 20px 15px;

        form {
            display: flex;
            align-items: flex-start;
            gap: 15px;

            .quantity {
                max-width: 120px;
            }

            button {
                width: auto;
                margin-top: 23px;
            }
        }

        .importCsvWrapper {
            form {
                button {
                    margin-top: 4px;
                }
            }
        }
    }

    .importCsvTitle {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .tabHeader {
        flex-wrap: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .tabHeaderItem {
            white-space: nowrap;
        }
    }

    .tabContent {
        padding: 10px;

        form {
            .input {
                margin-bottom: 10px;
            }

            button {
                margin-top: 10px;
            }
        }

        .importCsvWrapper {
            form {
                button {
                    margin-top: 15px;
                }
            }
        }
    }

    .importCsvTitle {
        margin-bottom: 20px;

        > p {
            margin-bottom: 10px;
        }
    }
}
