.socialLogin {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .mCardButton {
        width: 100%;

        strong {
            color: #E82230;
        }
    }

    .social {
        width: calc((100% - 15px) / 2);
    }

    button {
        border-radius: 4px;
        border: 1px solid #DEDEDE;
        background: #FFF;
        padding: 12px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #505050;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        width: 100%;
        justify-content: center;
    }
}
