.wrapper {

}

.input {
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    background: #FFF;
    padding: 12px 46px 12px 14px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-size: 15px;
    line-height: normal;
    cursor: pointer;

    &:focus-visible {
        outline: none;
    }

    option {
        color: #2A2F33;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.input_error {
    composes: input;

    border-color: #E82230;
}

.empty {
    color: #AFAFAF;
    font-weight: 300;
}

.input::-ms-expand {
    display: none;
}

.root {
    position: relative;
    display: block;
}

.after {
    position: absolute;
    right: 14px;
    top: 12px;

    svg {
        stroke: #0272BA;
        stroke-width: 2.2;
    }
}
