.header {
    top: 0;
    background-color: #fff;
    z-index: 59;

    .logoContainer {
        height: auto;
        display: block;

        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: contain;
        }
    }

    .progressWrapper {
        display: flex;

        .progressItem {
            color: #7A7E80;
            font-weight: 400;
            line-height: normal;
            display: flex;
            align-items: center;
            gap: 10px;

            .icon {
                border-radius: 50%;
                background-color: #CCCCCC;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.progressItem_active {
                color: #0272BA;

                .icon {
                    background-color: #0272BA;
                    filter: drop-shadow(0px 10px 15px rgba(2, 114, 186, 0.30));
                }
            }
        }
    }
}

.block {
    background: #F8F8F8;
    border-radius: 4px;

    &:not(:last-child) {
        margin-bottom: 12px;
    }
}

.blockPayment {
    border-radius: 0 0 4px 4px;
}

.blockTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    strong {
        color: #0A1015;
        font-weight: 500;
        line-height: normal;
        display: block;

        span {
            color: #0272BA;
            padding-left: 6px;
        }
    }

    &:not(.titleNotToggle) {
        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.58464 14.7083L11.0013 8.29159L17.418 14.7083' stroke='%230272BA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            width: 22px;
            height: 22px;
            display: block;
            transition: all .3s;
            transform: rotate(180deg);
        }

        &.collapsed {
            &:after {
                transform: rotate(0);
            }
        }
    }
}

.checkoutContent {
    display: block;
}

.blockContent {
    margin-top: 20px;
}

.cartEmpty {
    text-align: center;
    padding-top: 80px;

    img {
        margin: 0 auto 30px;
    }

    strong {
        color: #2A2F33;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        display: block;
        margin-bottom: 30px;
    }

    button {
        width: auto;
    }
}

@media (min-width: 1024px) {
    .header {
        .progressWrapper {
            .progressItem {
                font-size: 16px;
                letter-spacing: 0.16px;
            }
        }
    }

    .block {
        padding: 20px;
    }

    .blockPayment {
        padding-top: 0;
    }

    .blockTitle {
        strong {
            font-size: 20px;
            letter-spacing: 0.2px;
        }
    }

    .cartEmpty {
        padding-top: 130px;
    }
}

@media (min-width: 769px) {
    .root {
        padding-bottom: 100px;
    }

    .header {
        display: flex;
        gap: 75px;
        align-items: center;
        position: sticky;

        .logoContainer {
            width: 95px;
        }

        .progressWrapper {
            gap: 20px;

            .progressItem {
                &:first-child {
                    .icon img {
                        width: 20px;
                    }
                }

                .icon {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .checkoutWrapper {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        padding-top: 20px;
    }

    .checkoutContent {
        width: 61%;
    }

    .summary {
        width: 39%;
        position: sticky;
        top: 100px;
    }
}

@media (max-width: 1023px) {
    .header {
        .progressWrapper {
            .progressItem {
                font-size: 14px;
                letter-spacing: 0.14px;
            }
        }
    }

    .block {
        padding: 10px;
    }

    .blockPayment {
        padding-top: 0;
    }

    .blockTitle {
        padding: 5px 0;

        strong {
            font-size: 18px;
            letter-spacing: 0.18px;
        }
    }
}

@media (max-width: 768px) {
    .root {
        padding-bottom: 310px;
    }

    .header {
        padding-bottom: 15px;
        position: fixed;
        left: 0;
        right: 0;

        .logoContainer {
            margin: auto;
            width: 80px;
        }

        .progressWrapper {
            justify-content: center;
            gap: 10px;

            .progressItem {
                flex-direction: column;

                .icon {
                    width: 40px;
                    height: 40px;
                }

                &:first-child {
                    img {
                        width: 17px;
                    }
                }

                &:nth-child(2) {
                    img {
                        width: 20px;
                    }
                }
            }
        }
    }

    .root {
        padding-top: 161px;
        padding-left: 0;
        padding-right: 0;
    }
}
