.root {
    display: block;
}

.buttons {
    display: block;
}

.defaultShipping {
    margin-bottom: 20px;
}

.newAdministrativeNote {
    margin-bottom: 20px;
    font-size: 16px;
    color: #E82230;
}

@media (min-width: 769px) {
    .fields {
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .newAdministrativeNote {
        margin-bottom: 15px;
        font-size: 15px;
    }
}
