.root {
    display: block;
    margin: 0 auto;
}

.signInRoot {
    display: block;
}

.separator {
    color: #A59C9C;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding: 10px 0;
    margin: 20px 0 10px;

    span {
        background-color: #F8F8F8;
        padding: 0 10px;
        z-index: 1;
        position: relative;
    }

    &:before {
        content: '';
        background-color: #EFEFEF;
        height: 2px;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}

@media (min-width: 769px) {
    .root {
        max-width: 460px;
    }
}

@media (max-width: 768px) {
    .root {
        padding: 0 10px;
    }
}
