.root {
    img {
        margin: 0 auto 20px;
        display: block;
    }
}

.rootLoading {
    min-height: 435px;
}

.button {
    composes: root_highPriority from '../../Button/extendStyle/button.module.scss';

    @apply inline-block;
}

.mainContainer {
    composes: rounded from global;
    composes: text-center from global;

    border: 1px solid #E9E9E9;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
}

.heading {
    composes: block from global;

    color: #34A853;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.headingFailed {
    color: #E82230;
}

.headingPending {
    color: #F78C2E;
}

.orderNumber {
    color: #7A7E80;
    font-weight: 400;
    line-height: 150%;

    strong {
        color: #000;
        font-weight: 500;
    }
}

.trackingOrder {
    composes: block from global;
    composes: underline from global;

    color: #0272BA;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.action {
    composes: flex from global;
    composes: flex-wrap from global;

    composes: xs_gap from global;
    composes: xs_justify-center from global;

    composes: -xs_gap-2 from global;
    composes: -xs_flex-col from global;

    button,
    .button {
        width: auto;
        padding: 12px 50px;
    }
}

.description {
    composes: block from global;

    border-top: 1px solid #E0E0E0;
    color: #2A2F33;
    font-style: normal;
    font-weight: 400;

    a {
        color: #0272BA;
        text-decoration-line: underline;
    }
}

.descriptionNote {
    composes: text-center from global;
    composes: italic from global;

    max-width: 500px;
    margin: 20px auto 20px;
    font-weight: 500;
    color: #E82230;

    + .descriptionFailed {
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 0;
        border-bottom: none;
        border-top: 1px solid #E0E0E0;
    }
}

.descriptionFailed {
    border-bottom: 1px solid #E0E0E0;
    border-top: 0;
}

.rootLoading {
    min-height: 435px;
}

@media (min-width: 769px) {
    .root {
        max-width: 736px;
        margin: 50px auto 80px;
    }

    .mainContainer {
        padding: 30px;
    }

    .heading {
        font-size: 30px;
        letter-spacing: 0.3px;
    }

    .orderNumber {
        font-size: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 10px;
    }

    .trackingOrder {
        font-size: 16px;
    }

    .description {
        margin-top: 30px;
        padding-top: 30px;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .descriptionFailed {
        margin-top: 20px;
        padding-top: 0;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .root {
        margin: 16px auto;

        img {
            max-width: 40px;
        }
    }

    .mainContainer {
        padding: 20px;
    }

    .heading {
        font-size: 18px;
        letter-spacing: 0.18px;
    }

    .orderNumber {
        font-size: 16px;
        letter-spacing: 0.16px;
        margin-bottom: 20px;
    }

    .trackingOrder {
        font-size: 14px;
    }

    .description {
        margin-top: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }

    .descriptionFailed {
        margin-top: 0;
        padding-top: 0;
        border-bottom: 0;
        margin-bottom: 20px;
    }
}
