.root {
    display: block;
    background: #F8F8F8;
    border-radius: 4px;
}

.root_updated {
    composes: root;

    animation: flash var(--venia-global-anim-bounce) 640ms 2;
}

.root_editMode {
    composes: root;
}

.editWrapper {
    display: block;
}

.blockTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    + div {
        margin-top: 25px;
    }

    strong {
        color: #0A1015;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.2px;
        display: block;

        span {
            color: #0272BA;
            padding-left: 6px;
        }
    }

    &:not(.titleNotToggle) {
        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.58464 14.7083L11.0013 8.29159L17.418 14.7083' stroke='%230272BA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            width: 22px;
            height: 22px;
            display: block;
            transition: all .3s;
            transform: rotate(180deg);
        }

        &.collapsed {
            &:after {
                transform: rotate(0);
            }
        }
    }
}

.customerInformation {
    border-radius: 4px;
    background: #FEFFFF;
    width: 100%;

    .blockTitle {
        color: #0272BA;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .blockContent {
        margin-top: 0;
    }

    .customerItem {
        &:not(:last-child) {
            margin-bottom: 7px;
        }
    }

    .label {
        color: #7A7E80;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    .value {
        color: #0A1015;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        padding-left: 4px;
    }
}

.innerWidth {
    max-width: 600px;

    > div:last-child {
        padding: 15px;
    }
}

.modalChangeStore {
    .titleAllowSelection {
        color: #2A2F33;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.09px;
        display: block;
        margin-bottom: 20px;
    }

    .changeStoreContent {
        color: #2A2F33;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;

        strong {
            font-weight: 500;
        }

        > span {
            display: block;
        }
    }

    .modalBlockTitle {
        color: #2A2F33;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.14px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.58464 14.7083L11.0013 8.29159L17.418 14.7083' stroke='%230272BA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            width: 22px;
            height: 22px;
            display: block;
            transition: all .3s;
            transform: rotate(180deg);
        }

        &.collapsed {
            &:after {
                transform: rotate(0);
            }
        }

        strong {
            font-weight: 500;
        }

        & + div {
            margin-top: 10px;
        }
    }

    .product {
        display: flex;
        align-items: center;
        gap: 10px;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        .image {
            border-radius: 4px;
            overflow: hidden;
        }

        .details {
            flex: 1;

            .name {
                color: #0A1015;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.12px;
                margin-bottom: 5px;
            }

            .priceBox {
                .finalPrice {
                    color: #000;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.07px;
                }

                .regularPrice {
                    color: #7A7E80;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0.12px;
                    text-decoration: line-through;
                    padding-left: 6px;
                }
            }
        }

        .stockStatus {
            color: #1D92DD;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }

    .modalFooter {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        button {
            padding: 11px 20px;
        }

        .buttonTitle {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            margin-bottom: 5px;
        }

        .buttonDescription {
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.modalPriceChangeInnerWidth {
    max-width: 450px;

    > div:last-child {
        padding: 15px;
    }

    .priceChangeModal {
        text-align: center;

        img {
            margin: 0 auto 20px;
            display: block;
        }

        .description {
            color: #0A1015;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.2px;
            display: block;
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 1024px) {
    .root {
        padding: 20px;
    }

    .blockTitle {
        strong {
            font-size: 20px;
            letter-spacing: 0.2px;
        }
    }

    .customerInformation {
        padding: 20px;
    }
}

@media (min-width: 769px) {
    .modalChangeStore {
        .modalFooter {

        }
    }
}

@media (max-width: 1023px) {
    .root {
        padding: 10px;
    }

    .blockTitle {
        padding: 5px 0;

        strong {
            font-size: 18px;
            letter-spacing: 0.18px;
        }
    }

    .customerInformation {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .modalChangeStore {
        .modalFooter {
            flex-direction: column;
        }
    }
}
