.megaMenu {
    background-color: #fff;
    max-width: 910px;
    max-height: 642px;
    overflow: hidden;
    display: flex;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    left: 50px;
    top: 100%;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    min-height: 642px;
}

.megaMenuActive {
    composes: megaMenu;

    opacity: 1;
    visibility: visible;
}

.wrapper {
    max-width: 247px;
    width: 100%;
    overflow-y: auto;
}
