.megaMenuItem {
    padding: 0;
}

.megaMenuItem_active {
    composes: megaMenuItem;

    .megaMenuLink {
        color: #fff;
        background-color: #0272BA;

        svg {
            stroke: #0272BA;
        }
    }
}

.megaMenuLink {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    gap: 10px;

    img {
        max-width: 30px;
        object-fit: contain;
        aspect-ratio: 1;
        max-height: 30px;
        width: 100%;
        height: 100%;
    }

    .arrowRight {
        margin-left: auto;

        svg {
            stroke: #0272BA;
        }
    }
}
