.submenu {
    position: absolute;
    left: 227px;
    padding-left: 20px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;

    .submenuItems {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        gap: 5px;
        padding: 10px;
    }
}

.submenu_inactive {
    composes: submenu;

    opacity: 0;
    visibility: hidden;
}

.submenu_active {
    composes: submenu;

    opacity: 1;
    visibility: visible;
}
