.alcoholDialog,
.alcoholCheckoutDialog {
    .customClassInner {
        @apply relative;
        width: 380px;
    }
}

.alcoholCheckoutDialog {
    .alcoholDialogContent {
        @apply max-w-full;
    }

    .cancelButton {
        @apply hidden;

        + button {
            @apply flex-none;
            @apply w-auto;
            @apply mx-auto;

            min-width: 42%;
        }
    }
}

.cancelButton {
    composes: root_normalPriority from '../Button/extendStyle/button.module.scss';

    @apply flex-1;
    @apply px-3;
}

.loadingWrapper {
    composes: absolute from global;
    composes: top-0 from global;
    composes: left-0 from global;
    composes: right-0 from global;
    composes: bottom-0 from global;

    padding-top: 55px;
    z-index: 99;
}

.alcoholDialogContent {
    composes: mx-auto from global;
    composes: text-center from global;

    max-width: 310px;
    font-size: 18px;

    strong {
        font-weight: 500;
        color: #E82230;
        letter-spacing: 0.09px;
    }

    a {
        font-weight: 500;
        color: #0272BA;
        letter-spacing: 0.09px;
    }
}

.alcoholImage {
    composes: block from global;
    composes: mx-auto from global;

    margin-bottom: 15px;
}

@media (min-width: 768px) {
}

@media (min-width: 480px) {
    .alcoholDialog,
    .alcoholCheckoutDialog {
        .customClassInner {
            width: 480px;
        }
    }

    .alcoholDialogContent {
        max-width: 390px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mobileShow {
        display: none;
    }
}
