:global {
    .ReactModal__Body--open {
        overflow: hidden;
    }

    .ReactModalPortal {
        .ril__image {
            transition: all 0.3s;
        }
    }
}

.root {
    composes: flex from global;
    composes: flex-col from global;

    composes: xl_flex-row from global;
    composes: xl_gap-5 from global;
}

.carouselContainer {
    composes: relative from global;

    &.alcoholTag:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        top: 15px;
        left: 15px;
        width: 80px;
        height: 80px;
        pointer-events: none;
        background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.2684 27H3.73092C1.25908 27 -0.234844 24.2464 1.09922 22.1505L12.3683 4.44934C13.5983 2.51689 16.401 2.51689 17.6311 4.44934L28.8996 22.1505C30.2342 24.2464 28.7397 27 26.2679 27H26.2684Z' fill='white'/%3E%3Cpath d='M14.9995 4.89042C15.4397 4.89042 15.8135 5.09586 16.0515 5.46945L27.32 23.1706C27.5744 23.5697 27.5903 24.0374 27.3646 24.4542C27.139 24.8704 26.7393 25.109 26.2686 25.109H3.73047C3.25973 25.109 2.8601 24.8704 2.63442 24.4542C2.40875 24.038 2.42462 23.5702 2.67909 23.1706L13.9476 5.47004C14.1856 5.09645 14.5588 4.89101 14.9995 4.89101M14.9995 4.09115C14.2896 4.09115 13.6625 4.43632 13.2793 5.03843L2.01029 22.739C1.60067 23.3826 1.57363 24.167 1.93742 24.8378C2.3012 25.5086 2.97176 25.9088 3.73047 25.9088H26.268C27.0267 25.9088 27.6973 25.5086 28.0611 24.8378C28.4248 24.167 28.3978 23.3826 27.9882 22.739L16.7191 5.03784C16.3359 4.43572 15.7089 4.09056 14.9989 4.09056L14.9995 4.09115Z' fill='%23FFC107'/%3E%3Cpath d='M19.902 18.0231V14.7926H20.804V18.0231H19.902ZM18.6924 16.8344V15.9813H22.0206V16.8344H18.6924Z' fill='black'/%3E%3Cpath d='M15.6374 20.0148C15.0904 20.0148 14.6119 19.934 14.2017 19.7724C13.7915 19.6046 13.4714 19.3715 13.2414 19.0732C13.0115 18.7686 12.8965 18.4143 12.8965 18.0103C12.8965 17.6063 13.0084 17.2645 13.2321 16.9848C13.4621 16.6989 13.7821 16.4844 14.1923 16.3415C14.6025 16.1923 15.0842 16.1177 15.6374 16.1177C16.1967 16.1177 16.6815 16.1923 17.0917 16.3415C17.5081 16.4844 17.8282 16.6989 18.0519 16.9848C18.2819 17.2645 18.3969 17.6063 18.3969 18.0103C18.3969 18.4143 18.2819 18.7686 18.0519 19.0732C17.822 19.3715 17.4988 19.6046 17.0824 19.7724C16.6722 19.934 16.1905 20.0148 15.6374 20.0148ZM15.6374 18.9053C16.0165 18.9053 16.3148 18.8214 16.5323 18.6536C16.7561 18.4858 16.868 18.2558 16.868 17.9637C16.868 17.6716 16.7561 17.4447 16.5323 17.2831C16.3148 17.1153 16.0165 17.0314 15.6374 17.0314C15.2644 17.0314 14.9692 17.1153 14.7517 17.2831C14.5342 17.4447 14.4254 17.6716 14.4254 17.9637C14.4254 18.2558 14.5342 18.4858 14.7517 18.6536C14.9692 18.8214 15.2644 18.9053 15.6374 18.9053ZM15.6374 16.8822C15.1339 16.8822 14.6927 16.8138 14.3135 16.6771C13.9406 16.5404 13.6485 16.3415 13.4372 16.0804C13.2321 15.8131 13.1296 15.4962 13.1296 15.1294C13.1296 14.7441 13.2352 14.4147 13.4465 14.1412C13.6578 13.8615 13.9531 13.6471 14.3322 13.4979C14.7113 13.3425 15.1464 13.2648 15.6374 13.2648C16.1408 13.2648 16.5789 13.3425 16.9519 13.4979C17.331 13.6471 17.6262 13.8615 17.8375 14.1412C18.055 14.4147 18.1638 14.7441 18.1638 15.1294C18.1638 15.4962 18.0582 15.8131 17.8468 16.0804C17.6417 16.3415 17.3496 16.5404 16.9705 16.6771C16.5914 16.8138 16.147 16.8822 15.6374 16.8822ZM15.6374 15.9965C15.9543 15.9965 16.2029 15.925 16.3832 15.7821C16.5696 15.6391 16.6629 15.4433 16.6629 15.1947C16.6629 14.9337 16.5665 14.7317 16.3739 14.5887C16.1874 14.4457 15.9419 14.3743 15.6374 14.3743C15.339 14.3743 15.0966 14.4457 14.9102 14.5887C14.7237 14.7317 14.6305 14.9337 14.6305 15.1947C14.6305 15.4433 14.7206 15.6391 14.9009 15.7821C15.0811 15.925 15.3266 15.9965 15.6374 15.9965Z' fill='black'/%3E%3Cpath d='M10.7554 19.9029V13.9361L11.408 14.5887H9.4502V13.3767H12.2656V19.9029H10.7554Z' fill='black'/%3E%3Cpath d='M19.4606 23.625V22.5525L19.5993 22.92L18.4443 21H19.0893L19.9743 22.4738H19.6031L20.4918 21H21.0881L19.9331 22.92L20.0681 22.5525V23.625H19.4606Z' fill='black'/%3E%3Cpath d='M16.6289 23.625V21H17.2364V23.13H18.5527V23.625H16.6289Z' fill='black'/%3E%3Cpath d='M13.4131 23.625V21H13.9156L15.4643 22.89H15.2206V21H15.8206V23.625H15.3218L13.7693 21.735H14.0131V23.625H13.4131Z' fill='black'/%3E%3Cpath d='M11.3365 23.67C11.129 23.67 10.9365 23.6363 10.759 23.5688C10.584 23.5013 10.4315 23.4063 10.3015 23.2838C10.174 23.1613 10.074 23.0175 10.0015 22.8525C9.93148 22.6875 9.89648 22.5075 9.89648 22.3125C9.89648 22.1175 9.93148 21.9375 10.0015 21.7725C10.074 21.6075 10.1752 21.4638 10.3052 21.3413C10.4352 21.2188 10.5877 21.1238 10.7627 21.0563C10.9377 20.9888 11.1277 20.955 11.3327 20.955C11.5402 20.955 11.7302 20.9888 11.9027 21.0563C12.0777 21.1238 12.229 21.2188 12.3565 21.3413C12.4865 21.4638 12.5877 21.6075 12.6602 21.7725C12.7327 21.935 12.769 22.115 12.769 22.3125C12.769 22.5075 12.7327 22.6888 12.6602 22.8563C12.5877 23.0213 12.4865 23.165 12.3565 23.2875C12.229 23.4075 12.0777 23.5013 11.9027 23.5688C11.7302 23.6363 11.5415 23.67 11.3365 23.67ZM11.3327 23.1525C11.4502 23.1525 11.5577 23.1325 11.6552 23.0925C11.7552 23.0525 11.8427 22.995 11.9177 22.92C11.9927 22.845 12.0502 22.7563 12.0902 22.6538C12.1327 22.5513 12.154 22.4375 12.154 22.3125C12.154 22.1875 12.1327 22.0738 12.0902 21.9713C12.0502 21.8688 11.9927 21.78 11.9177 21.705C11.8452 21.63 11.759 21.5725 11.659 21.5325C11.559 21.4925 11.4502 21.4725 11.3327 21.4725C11.2152 21.4725 11.1065 21.4925 11.0065 21.5325C10.909 21.5725 10.8227 21.63 10.7477 21.705C10.6727 21.78 10.614 21.8688 10.5715 21.9713C10.5315 22.0738 10.5115 22.1875 10.5115 22.3125C10.5115 22.435 10.5315 22.5488 10.5715 22.6538C10.614 22.7563 10.6715 22.845 10.744 22.92C10.819 22.995 10.9065 23.0525 11.0065 23.0925C11.1065 23.1325 11.2152 23.1525 11.3327 23.1525Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center / contain;
    }
}

.imageContainer {
    grid-area: 1 / 1 / 2 / 4;
    background: #F9F9F9;
    border-radius: 8px;
    overflow: hidden;
}

.video {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.currentImage {
    composes: block from global;
    composes: h-full from global;
    composes: object-center from global;
    composes: object-contain from global;
    composes: w-full from global;

    composes: lg_object-top from global;
}

.currentImage_placeholder {
    composes: currentImage;

    composes: bg-subtle from global;
}

.previousButton,
.nextButton {
    composes: hidden from global;
    composes: outline-none from global;
    composes: z-foreground from global;
}

.previousButton {
    composes: justify-start from global;
    composes: ml-sm from global;
    grid-area: 1 / 1 / 2 / 2;
}

.nextButton {
    composes: justify-end from global;
    composes: mr-sm from global;
    grid-area: 1 / 3 / 2 / 4;
}

.chevron {
    composes: root from '~@magento/venia-ui/lib/components/Icon/icon.module.css';

    composes: border-2 from global;
    composes: border-solid from global;
    composes: border-transparent from global;
    composes: self-center from global;
}

.nextButton:focus > .chevron,
.previousButton:focus > .chevron {
    box-shadow: 0 0 4px 2px rgb(var(--venia-global-color-teal));
    @apply rounded-lg;
}

.thumbnailList {
    composes: content-stretch from global;
    composes: gap-xs from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: justify-center from global;

    composes: lg_content-start from global;
    composes: lg_mt-0 from global;
}

:global(.aiChatbot) {
    .root {
        @apply flex-col;
        @apply gap-1;

        .carouselContainer {
            @apply w-full;
            @apply -order-1;

            &.alcoholTag {
                &:before {
                    width: 60px;
                    height: 60px;
                    top: 8px;
                    left: 8px;
                }
            }

            img {
                border: 1px solid #E6E6E6;
                @apply rounded-radius2;
            }
        }

        .thumbnailList {
            @apply flex;
            @apply flex-row;
            @apply flex-wrap;
            @apply w-full;

            gap: 10px;

            > button {
                width: 40px;
                height: 40px;
                margin: 10px 0;

                &:first-child:last-child {
                    display: none;
                }
            }

            :global {
                .slick-slider {
                    @apply w-full;

                    &.slick-initialized.slick-vertical {
                        @apply mx-0;

                        .slick-list {
                            overflow: visible;
                        }

                        .slick-track {
                            width: 100% !important;
                            height: auto !important;
                            flex-direction: row;
                            flex-wrap: wrap;

                            .slick-slide {
                                width: 50px !important;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .carouselContainer {
        width: calc(100% - 115px);
        margin-top: auto;
        margin-bottom: auto;
    }

    .thumbnailList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        width: 95px;
        order: -1;

        :global {
            .slick-slider {
                position: relative;
                margin-top: 38px;
                margin-bottom: 38px;

                .slick-arrow {
                    &.slick-prev {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 100%;
                        top: auto;
                        width: 28px;
                        height: 28px;
                        margin: 10px auto;
                        border: 1px solid #CFCFCF;
                        transform: rotate(90deg);
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }

                    &.slick-next {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 100%;
                        bottom: auto;
                        width: 28px;
                        height: 28px;
                        margin: 10px auto;
                        border: 1px solid #CFCFCF;
                        transform: rotate(90deg);
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 1201px) {
    .thumbnailList {
        &.thumbnailList5Items {
            :global {
                .slick-slider {
                    margin-top: 0;
                    margin-bottom: 0;

                    .slick-track {
                        height: auto !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .carouselContainer {
        display: none;
    }

    .thumbnailList {
        display: block;

        :global {
            .slick-slider {
                .slick-dots {
                    display: flex !important;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 5px;
                    margin-top: 10px;

                    li {
                        display: inline-block;
                        width: 20px;
                        height: 4px;
                        background: #F1F1F1;

                        button {
                            display: none;
                        }

                        &.slick-active {
                            background: #C0C0C0;
                        }
                    }
                }
            }
        }
    }
}
