.zoomAction {
    position: absolute;
    z-index: 10;
    right: 23px;
    bottom: 36px;
    width: 30px;
    height: 30px;
    background: #FFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.2696 16.2567C13.7031 17.597 11.675 18.4126 9.4568 18.4126C4.51772 18.4126 0.499652 14.3948 0.5 9.45646C0.5 4.51738 4.51807 0.5 9.4568 0.5C14.3952 0.5 18.4126 4.51738 18.4126 9.45646C18.4126 11.675 17.597 13.7038 16.256 15.2696L22.2956 21.3089C22.4265 21.4397 22.5 21.6172 22.5 21.8022C22.5 21.9873 22.4265 22.1648 22.2956 22.2956C22.1648 22.4265 21.9873 22.5 21.8022 22.5C21.6172 22.5 21.4397 22.4265 21.3089 22.2956L15.2696 16.2567ZM17.0173 9.45611C17.0173 5.28703 13.6248 1.89526 9.4568 1.89526C5.28703 1.89526 1.89526 5.28703 1.89561 9.45611C1.89561 13.6252 5.28738 17.0166 9.4568 17.0166C13.6248 17.0166 17.0173 13.6248 17.0173 9.45611ZM8.51489 10.1546H6.7609C6.57579 10.1546 6.39825 10.0811 6.26736 9.9502C6.13646 9.8193 6.06292 9.64177 6.06292 9.45665C6.06292 9.27154 6.13646 9.09401 6.26736 8.96311C6.39825 8.83221 6.57579 8.75868 6.7609 8.75868H8.51489V7.00434C8.51489 6.91269 8.53295 6.82195 8.56803 6.73729C8.60311 6.65262 8.65453 6.5757 8.71935 6.51092C8.78417 6.44613 8.86111 6.39475 8.94579 6.35971C9.03047 6.32467 9.12123 6.30666 9.21287 6.30671C9.30453 6.30662 9.3953 6.32459 9.48 6.35962C9.5647 6.39464 9.64167 6.44602 9.7065 6.51081C9.77132 6.57561 9.82274 6.65255 9.85781 6.73723C9.89287 6.82192 9.9109 6.91268 9.91085 7.00434V8.75868H11.6655C12.0511 8.75868 12.3628 9.07113 12.3628 9.45665C12.3628 9.84218 12.0511 10.1546 11.6655 10.1546H9.91085V11.9086C9.91085 12.0937 9.83731 12.2713 9.70642 12.4022C9.57552 12.5331 9.39799 12.6066 9.21287 12.6066C9.02776 12.6066 8.85022 12.5331 8.71933 12.4022C8.58843 12.2713 8.51489 12.0937 8.51489 11.9086V10.1546Z' fill='%230272BA'/%3E%3C/svg%3E") no-repeat center;
    background-size: 50% auto;
    border-radius: 200px;
    border: 1px solid #EAEAEA;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);

    span {
        display: none;
    }
}

:global(.aiChatbot) {
    .zoomAction {
        top: 0;
        bottom: auto;
        right: 10px;
        margin-top: calc(100% - 50px);
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 769px) {
    .zoomAction {
        bottom: 21px;
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .zoomAction {
        right: 12px;
    }
}
