/** The "thumbnail" is a round pil button below the product image in mobile or
 * as a thumbnail to the left of the product image in desktop.
 */
.root {
    composes: border-solid from global;
    composes: border-strong from global;
    composes: rounded-full from global;

    composes: lg_border-0 from global;
    composes: lg_h-auto from global;
    composes: lg_rounded-none from global;
    composes: lg_w-auto from global;

    transition: all 0.3s ease;
    background: #f3f4f6;
    vertical-align: top;
}

.video {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    composes: w-full from global;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.isToggle iframe {
    pointer-events: none;
}

.rootSelected {
    composes: root;

    composes: bg-gray-900 from global;
    composes: w-full from global;
}

@media (min-width: 1024px) {
    .root {
        outline: 1px solid #EEE;
        border-radius: 4px;
        overflow: hidden;

        :global(.slick-slider) & {
            margin: 10px 0;
        }
    }

    .rootSelected {
        outline: 3px solid #FFFFFF;
        box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width: 1023px) {
    .root {
        background: #F1F1F1;
    }

    .rootSelected {
        background-color: #C0C0C0;
    }
}
