.root {
    composes: flex from global;

    margin-bottom: 10px;
}

.storeSwitcherTrigger {
    composes: flex from global;
    composes: gap-1 from global;
    composes: max-w-full from global;
    composes: whitespace-nowrap from global;

    button {
        @apply flex;
        @apply gap-1;
        @apply max-w-full;
        color: #1D92DD;

        &:after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            min-width: 20px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cmask id='mask0_13691_92933' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13691_92933)'%3E%3Cpath d='M10.0004 12.2306C9.90003 12.2306 9.80656 12.2146 9.72003 12.1825C9.6335 12.1504 9.55121 12.0954 9.47316 12.0175L5.72795 8.27227C5.61267 8.15685 5.55364 8.01178 5.55087 7.83706C5.54823 7.66247 5.60725 7.51477 5.72795 7.39393C5.84878 7.27324 5.99517 7.21289 6.16712 7.21289C6.33906 7.21289 6.48545 7.27324 6.60628 7.39393L10.0004 10.7883L13.3946 7.39393C13.51 7.27865 13.6551 7.21963 13.8298 7.21685C14.0044 7.21421 14.1521 7.27324 14.2729 7.39393C14.3936 7.51477 14.454 7.66115 14.454 7.8331C14.454 8.00504 14.3936 8.15143 14.2729 8.27227L10.5277 12.0175C10.4497 12.0954 10.3674 12.1504 10.2809 12.1825C10.1943 12.2146 10.1009 12.2306 10.0004 12.2306Z' fill='%232A2F33'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain;
        }

        span {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.storeSwitcherDialog {
    > form {
        > div {
            width: 600px;
        }
    }
}

.groups {
    composes: flex from global;
    composes: flex-col from global;
    composes: overflow-auto from global;

    gap: 5px;
    max-height: 480px;
    padding: 10px;
    background: #F8F8F8;
    border-radius: 5px;

    @media (max-height: 700px) {
        min-height: 220px;
        max-height: calc(100vh - 230px);
    }
}

.groupList {
    composes: flex from global;
    composes: flex-col from global;
    composes: p-0 from global;
    composes: border-none from global;

    gap: 5px;
}

.menuItem {
    composes: border from global;
    composes: bg-white from global;
    composes: overflow-hidden from global;

    border-color: #E6E6E6;
    border-radius: 10px;
}

.menuItemCurrent {
    order: -1;
}

.menuItemActive {
    border-color: #0272BA;
}

.menuItemInner {
    composes: flex from global;
    composes: w-full from global;
    composes: p-2 from global;

    gap: 10px;

    &:before {
        content: "";
        display: block;
        width: 24px;
        min-width: 24px;
        height: 24px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_13691_94085' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13691_94085)'%3E%3Cpath d='M4.96175 4.25H19.0388C19.2513 4.25 19.4293 4.32192 19.573 4.46575C19.7168 4.60958 19.7888 4.78775 19.7888 5.00025C19.7888 5.21292 19.7168 5.391 19.573 5.5345C19.4293 5.67817 19.2513 5.75 19.0388 5.75H4.96175C4.74925 5.75 4.57117 5.67808 4.4275 5.53425C4.28367 5.39042 4.21175 5.21225 4.21175 4.99975C4.21175 4.78708 4.28367 4.609 4.4275 4.4655C4.57117 4.32183 4.74925 4.25 4.96175 4.25ZM5.154 19.75C4.898 19.75 4.68334 19.6634 4.51 19.4902C4.33684 19.3169 4.25025 19.1022 4.25025 18.8462V13.75H3.94075C3.65609 13.75 3.42175 13.6388 3.23775 13.4163C3.05375 13.1939 2.99509 12.9404 3.06175 12.6558L4.06175 7.9635C4.10742 7.75533 4.21375 7.58442 4.38075 7.45075C4.54775 7.31692 4.73759 7.25 4.95025 7.25H19.0503C19.2629 7.25 19.4528 7.31692 19.6198 7.45075C19.7868 7.58442 19.8931 7.75533 19.9388 7.9635L20.9388 12.6558C21.0054 12.9404 20.9468 13.1939 20.7628 13.4163C20.5788 13.6388 20.3444 13.75 20.0598 13.75H19.7503V19C19.7503 19.2125 19.6783 19.3906 19.5345 19.5343C19.3907 19.6781 19.2125 19.75 19 19.75C18.7873 19.75 18.6093 19.6781 18.4658 19.5343C18.3221 19.3906 18.2503 19.2125 18.2503 19V13.75H13.7503V18.8462C13.7503 19.1022 13.6637 19.3169 13.4905 19.4902C13.3172 19.6634 13.1025 19.75 12.8465 19.75H5.154ZM5.75025 18.25H12.2503V13.75H5.75025V18.25Z' fill='%230272BA'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain;
    }
}

.content {
    composes: text-left from global;

    color: #7A7E80;
}

.text {
    composes: block from global;

    color: #0A1015;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33333;
    letter-spacing: 0.09px;

    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.submit {
    composes: root_highPriority from '../Button/extendStyle/button.module.scss';

    @apply mt-5;

    &:disabled {
        background-color: #A2A4A6;
        border-color: #A2A4A6;
        @apply shadow-none;

        &:after {
            display: none;
        }
    }
}

@media (min-width: 769px) {
    .groups {
        &::-webkit-scrollbar {
            width: 4px;
            @apply rounded;
        }

        &::-webkit-scrollbar-track {
            background: #F8F8F8;
        }

        &::-webkit-scrollbar-thumb {
            background: #E9E9E9;
            @apply rounded;
            @apply transition;
        }

        &:hover::-webkit-scrollbar-thumb {
            background: #D2D2D2;
        }
    }
}
