.root {
    display: block;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cancelButton {
    display: block;
    color: #0272BA;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
