.root {
    display: block;
}

.title {
    color: #000;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 20px;

    .instructions {
        color: #7A7E80;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 5px;
    }
}

.form {
    display: block;
}

@media (min-width: 769px) {
    .title {
        font-size: 24px;
        letter-spacing: 0.24px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 22px;
        letter-spacing: 0.22px;
    }
}
