.root {
    display: block;
}

.title {
    color: #000;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 20px;
}

.text {
    display: block;
    font-size: 16px;
    color: #2A2F33;
    font-weight: 400;
    line-height: 22px;
}

.innerWidth {
    max-width: 530px;
}

@media (min-width: 769px) {
    .title {
        font-size: 24px;
        letter-spacing: 0.24px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 22px;
        letter-spacing: 0.22px;
    }
}
