.root {
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    overflow: hidden;
    width: 100%;

    .imageWrapper {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.3%;

        img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .details {
        padding: 15px 10px 10px;

        .name {
            color: #2A2F33;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0.09px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 42px;
            margin-bottom: 5px;
            min-height: 42px;
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #7A7E80;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 10px;

            .date, .view {
                display: flex;
                gap: 5px;
                align-items: center;

                &:before {
                    content: '';
                    width: 16px;
                    height: 16px;
                    min-width: 16px;
                    display: block;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            .date {
                &:before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cmask id='mask0_9793_51065' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9793_51065)'%3E%3Cpath d='M3.53842 14.3333C3.20164 14.3333 2.91659 14.2167 2.68325 13.9833C2.44992 13.75 2.33325 13.465 2.33325 13.1282V4.20518C2.33325 3.8684 2.44992 3.58334 2.68325 3.35001C2.91659 3.11668 3.20164 3.00001 3.53842 3.00001H4.46142V1.58984H5.48709V3.00001H10.5384V1.58984H11.5384V3.00001H12.4614C12.7982 3.00001 13.0833 3.11668 13.3166 3.35001C13.5499 3.58334 13.6666 3.8684 13.6666 4.20518V13.1282C13.6666 13.465 13.5499 13.75 13.3166 13.9833C13.0833 14.2167 12.7982 14.3333 12.4614 14.3333H3.53842ZM3.53842 13.3333H12.4614C12.5128 13.3333 12.5598 13.312 12.6024 13.2692C12.6452 13.2265 12.6666 13.1795 12.6666 13.1282V6.87184H3.33325V13.1282C3.33325 13.1795 3.35464 13.2265 3.39742 13.2692C3.44009 13.312 3.48709 13.3333 3.53842 13.3333ZM3.33325 5.87184H12.6666V4.20518C12.6666 4.15384 12.6452 4.10684 12.6024 4.06418C12.5598 4.0214 12.5128 4.00001 12.4614 4.00001H3.53842C3.48709 4.00001 3.44009 4.0214 3.39742 4.06418C3.35464 4.10684 3.33325 4.15384 3.33325 4.20518V5.87184ZM7.99992 9.38468C7.8367 9.38468 7.69759 9.32718 7.58259 9.21218C7.4677 9.09729 7.41025 8.95818 7.41025 8.79484C7.41025 8.63162 7.4677 8.49251 7.58259 8.37751C7.69759 8.26262 7.8367 8.20518 7.99992 8.20518C8.16314 8.20518 8.30225 8.26262 8.41725 8.37751C8.53214 8.49251 8.58959 8.63162 8.58959 8.79484C8.58959 8.95818 8.53214 9.09729 8.41725 9.21218C8.30225 9.32718 8.16314 9.38468 7.99992 9.38468ZM5.33325 9.38468C5.17003 9.38468 5.03092 9.32718 4.91592 9.21218C4.80103 9.09729 4.74359 8.95818 4.74359 8.79484C4.74359 8.63162 4.80103 8.49251 4.91592 8.37751C5.03092 8.26262 5.17003 8.20518 5.33325 8.20518C5.49647 8.20518 5.63559 8.26262 5.75059 8.37751C5.86547 8.49251 5.92292 8.63162 5.92292 8.79484C5.92292 8.95818 5.86547 9.09729 5.75059 9.21218C5.63559 9.32718 5.49647 9.38468 5.33325 9.38468ZM10.6666 9.38468C10.5034 9.38468 10.3643 9.32718 10.2493 9.21218C10.1344 9.09729 10.0769 8.95818 10.0769 8.79484C10.0769 8.63162 10.1344 8.49251 10.2493 8.37751C10.3643 8.26262 10.5034 8.20518 10.6666 8.20518C10.8298 8.20518 10.9689 8.26262 11.0839 8.37751C11.1988 8.49251 11.2563 8.63162 11.2563 8.79484C11.2563 8.95818 11.1988 9.09729 11.0839 9.21218C10.9689 9.32718 10.8298 9.38468 10.6666 9.38468ZM7.99992 12C7.8367 12 7.69759 11.9425 7.58259 11.8275C7.4677 11.7126 7.41025 11.5736 7.41025 11.4103C7.41025 11.247 7.4677 11.1079 7.58259 10.993C7.69759 10.878 7.8367 10.8205 7.99992 10.8205C8.16314 10.8205 8.30225 10.878 8.41725 10.993C8.53214 11.1079 8.58959 11.247 8.58959 11.4103C8.58959 11.5736 8.53214 11.7126 8.41725 11.8275C8.30225 11.9425 8.16314 12 7.99992 12ZM5.33325 12C5.17003 12 5.03092 11.9425 4.91592 11.8275C4.80103 11.7126 4.74359 11.5736 4.74359 11.4103C4.74359 11.247 4.80103 11.1079 4.91592 10.993C5.03092 10.878 5.17003 10.8205 5.33325 10.8205C5.49647 10.8205 5.63559 10.878 5.75059 10.993C5.86547 11.1079 5.92292 11.247 5.92292 11.4103C5.92292 11.5736 5.86547 11.7126 5.75059 11.8275C5.63559 11.9425 5.49647 12 5.33325 12ZM10.6666 12C10.5034 12 10.3643 11.9425 10.2493 11.8275C10.1344 11.7126 10.0769 11.5736 10.0769 11.4103C10.0769 11.247 10.1344 11.1079 10.2493 10.993C10.3643 10.878 10.5034 10.8205 10.6666 10.8205C10.8298 10.8205 10.9689 10.878 11.0839 10.993C11.1988 11.1079 11.2563 11.247 11.2563 11.4103C11.2563 11.5736 11.1988 11.7126 11.0839 11.8275C10.9689 11.9425 10.8298 12 10.6666 12Z' fill='%232A2F33'/%3E%3C/g%3E%3C/svg%3E");
                }
            }

            .view {
                &:before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cmask id='mask0_9793_51070' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9793_51070)'%3E%3Cpath d='M8.00147 10.3847C8.75691 10.3847 9.39852 10.1203 9.9263 9.5915C10.4541 9.06272 10.718 8.42061 10.718 7.66517C10.718 6.90972 10.4536 6.26811 9.9248 5.74033C9.39602 5.21256 8.75391 4.94867 7.99847 4.94867C7.24302 4.94867 6.60141 5.21306 6.07364 5.74183C5.54586 6.27061 5.28197 6.91272 5.28197 7.66817C5.28197 8.42361 5.54636 9.06522 6.07513 9.593C6.60391 10.1208 7.24602 10.3847 8.00147 10.3847ZM7.99997 9.46667C7.49997 9.46667 7.07497 9.29167 6.72497 8.94167C6.37497 8.59167 6.19997 8.16667 6.19997 7.66667C6.19997 7.16667 6.37497 6.74167 6.72497 6.39167C7.07497 6.04167 7.49997 5.86667 7.99997 5.86667C8.49997 5.86667 8.92497 6.04167 9.27497 6.39167C9.62497 6.74167 9.79997 7.16667 9.79997 7.66667C9.79997 8.16667 9.62497 8.59167 9.27497 8.94167C8.92497 9.29167 8.49997 9.46667 7.99997 9.46667ZM8.0008 12.3333C6.4678 12.3333 5.07097 11.9104 3.8103 11.0647C2.54963 10.219 1.62141 9.08633 1.02563 7.66667C1.62141 6.247 2.5493 5.11433 3.8093 4.26867C5.06941 3.42289 6.46602 3 7.99914 3C9.53214 3 10.929 3.42289 12.1896 4.26867C13.4503 5.11433 14.3785 6.247 14.9743 7.66667C14.3785 9.08633 13.4506 10.219 12.1906 11.0647C10.9305 11.9104 9.53391 12.3333 8.0008 12.3333ZM7.99997 11.3333C9.25552 11.3333 10.4083 11.0028 11.4583 10.3417C12.5083 9.68056 13.3111 8.78889 13.8666 7.66667C13.3111 6.54444 12.5083 5.65278 11.4583 4.99167C10.4083 4.33056 9.25552 4 7.99997 4C6.74441 4 5.59163 4.33056 4.54163 4.99167C3.49163 5.65278 2.68886 6.54444 2.1333 7.66667C2.68886 8.78889 3.49163 9.68056 4.54163 10.3417C5.59163 11.0028 6.74441 11.3333 7.99997 11.3333Z' fill='%232A2F33'/%3E%3C/g%3E%3C/svg%3E");
                }
            }
        }

        .description {
            overflow: hidden;
            color: #7A7E80;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            max-height: 40px;
            min-height: 40px;
            margin-bottom: 20px;
        }

        .viewMore {
            color: #0272BA;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.08px;
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: flex-end;

            &:after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_9793_51078' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9793_51078)'%3E%3Cpath d='M6.29425 17.6443L5.25 16.6L15.0905 6.75H6.14425V5.25H17.6443V16.75H16.1443V7.80375L6.29425 17.6443Z' fill='%230272BA'/%3E%3C/g%3E%3C/svg%3E");
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
            }
        }
    }
}
