.root {
    box-shadow: none;
    position: relative;
}

.root_open {
    composes: root;
}

.trigger {
    display: block;

    &:focus-visible {
        outline: none;
    }
}

@media (max-width: 1023px) {
    .root {
        width: 40px;
        min-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E8E8E8;
        border-radius: 50%;
    }
}
