.root {
    composes: relative from global;
    composes: text-center from global;
    font-style: normal;
    line-height: 1.2;

    &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='20' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.76857 0.471436C3.11373 0.471436 0 3.20423 0 6.75345C0 9.20191 1.14651 11.2633 2.66602 12.9709C4.1803 14.6726 6.13396 16.1009 7.90014 17.2964L10.9475 19.3592C11.2812 19.5851 11.7188 19.5851 12.0525 19.3592L15.0999 17.2964C16.866 16.1009 18.8197 14.6726 20.334 12.9709C21.8535 11.2633 23 9.20191 23 6.75345C23 3.20423 19.8863 0.471436 16.2314 0.471436C14.3474 0.471436 12.6896 1.35482 11.5 2.49784C10.3104 1.35482 8.65256 0.471436 6.76857 0.471436Z' fill='white'/%3E%3C/svg%3E%0A");
        content: '';
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.count {
    border-radius: 50%;
    border: 1px solid #CF0B0B;
    background: #EB2030;
    box-shadow: 0 2px 2px 0 rgba(26, 26, 26, 0.15);
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    min-width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1440px) {
    .root {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .root {
        color: #FFF;
        font-weight: 500;
        padding: 8px 15px;
        transition: all .3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            border-radius: 100px;
            background: #003568;
        }

        &:before {
            height: 20px;
            width: 20px;
            margin: 0 auto 2px;
        }
    }

    .count {
        right: 18px;
        top: -5px;
    }
}

@media (max-width: 1439px) {
    .root {
        font-size: 14px;
    }
}

@media (max-width: 1023px) {
    .root {
        width: 40px;
        min-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E8E8E8;
        border-radius: 50%;

        .icon {
            margin-left: auto;

            svg {
                stroke: #0272BA;
            }
        }
    }

    .count {
        right: -10px;
        top: -5px;
    }
}
