.root {
    composes: root_highPriority from '../../Button/extendStyle/button.module.scss';
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 12px;

    &[disabled] {
        opacity: 0.85;
        pointer-events: none;
    }

    &.outOfStock {
        opacity: 1;
        color: #A2A4A6;
        border: 1px solid #D2D7DB;
        background-color: #FFF;
        box-shadow: none;

        &:disabled {
            span {
                opacity: 1;
                visibility: visible;
            }
        }

        &:after {
            display: none;
        }
    }
}

.qtyWrapper {
    width: 100%;

    .qtyInner {
        overflow: hidden;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #FFF;
        background: #0272BA;
        border-radius: 30px;
        -o-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        -webkit-transition: width 0.3s ease;
        transition: width 0.3s ease;
    }

    .qtyInputWrap {
        position: relative;
        display: flex;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0);
    }

    button {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        margin: auto 2px;
        background: #FFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='2' viewBox='0 0 14 2' fill='none'%3E%3Cpath d='M1 1H13' stroke='%23005C98' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat center;
        background-size: 50%;
        border-radius: 30px;
        box-shadow: none;
        outline: none;
        //opacity: 0;
        transition: background 0.3s ease, opacity 0.3s ease;

        span {
            display: none;
        }

        &,
        &:disabled {
            &:after {
                display: none;
            }
        }

        &:not(:disabled):hover {
            background: #005388 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='2' viewBox='0 0 14 2' fill='none'%3E%3Cpath d='M1 1H13' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat center;
            background-size: 50%;
        }

        &.reduce {
            left: 0;
        }

        &.increase {
            right: 0;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M1 7H13' stroke='%23005C98' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M7 1L7 13' stroke='%23005C98' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");

            &:not(:disabled):hover {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M1 7H13' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M7 1L7 13' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
            }
        }

        &[disabled] {
            opacity: 0.85;
            pointer-events: none;
        }
    }

    input {
        width: 100%;
        min-width: 30px;
        height: 28px;
        padding-left: 28px;
        padding-right: 28px;
        box-sizing: content-box;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #FFF;
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        margin: 0 auto;
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &:hover,
    &.qtyInputShow {
        button:not(:disabled) {
            opacity: 1;
        }
    }
}

@media (min-width: 769px) {
    .root {
        padding: 11px 10px;
        font-size: 14px;
    }

    .qtyWrapper {
        max-width: 100%;

        button {
            width: 28px;
            height: 28px;
            margin: auto 6px;
        }

        input {
            min-width: 40px;
            height: 38px;
            padding-left: 40px;
            padding-right: 40px;
            box-sizing: content-box;
            font-size: 16px;
        }
    }

    :global(.aiChatbot) {
        .root {
            font-size: 14px;
            line-height: 1.42857;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }
}

@media (min-width: 1024px) {
    .root {
        padding: 9px;
        font-size: 16px;
        line-height: 1.25;
    }
}

@media (min-width: 960px) {
    :global(.products-display-mode-list) {
        .root {
            width: 100%;
        }

        .qtyWrapper {
            button {
                width: 28px;
                opacity: 1;

                &[disabled] {
                    opacity: 0.85;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    :global(.products-display-mode-list) {
        .qtyWrapper {
            button {
                width: 28px;
            }
        }
    }
}
