.root {
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: leading-none from global;
    grid-template-areas:
        'actions'
        'items';

    :global {
        .slick-slider.slick-initialized .slick-slide {
            padding-top: 1px;
            padding-bottom: 1px;
        }
    }
}

.items {
    composes: gap-xs from global;
    composes: grid from global;
    grid-area: items;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

@media (min-width: 960px) {
    :global(.products-display-mode-list) {
        .items {
            grid-template-columns: repeat(1, 1fr);
            padding: 10px;
        }
    }
}

@media (max-width: 1439px) {
    .items {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .items {
        gap: 30px 10px;
    }

    .root {
        :global {
            .slider {
                display: flex;
                gap: 10px;
                overflow: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                margin-left: -10px;
                margin-right: -10px;
                padding-right: 10px;

                &::-webkit-scrollbar {
                    display: none;
                }

                &:before {
                    content: '';
                    padding: 1px;
                    scroll-snap-align: center;
                }

                > div {
                    width: 170px;
                    min-width: 170px;
                    scroll-snap-align: center;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}
