.root {
    composes: relative from global;
    composes: block from global;
    composes: text-center from global;
    composes: transition from global;
    composes: px-4 from global;

    composes: xl_py-12 from global;

    composes: -xl_py-6 from global;

    border-radius: 5px;
    border: 1px dashed #E6E6E6;
    background: #F1F9FF;

    input {
        @apply absolute;
        @apply w-0;
        @apply h-0;
        @apply p-0;
        @apply opacity-0;
        @apply invisible;
    }
}

.dragActive {
    background: #e6f0f7;
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.06);
}

.inputTrigger {
    composes: flex from global;
    composes: items-center from global;
    composes: justify-center from global;
    composes: cursor-pointer from global;
    composes: text-left from global;

    composes: -xl_flex-col from global;

    gap: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.08px;
    color: #7A7E80;

    &:before {
        content: "";
        display: block;
        width: 64px;
        height: 64px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3E%3Cmask id='mask0_15665_41215' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='64' height='64'%3E%3Crect width='64' height='64' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_15665_41215)'%3E%3Cpath d='M44.7446 21.6147C44.0908 21.6147 43.5426 21.3936 43.0999 20.9514C42.6572 20.5096 42.4359 19.9618 42.4359 19.308C42.4359 18.6542 42.657 18.106 43.0992 17.6634C43.541 17.2207 44.0888 16.9993 44.7426 16.9993C45.3964 16.9993 45.9446 17.2205 46.3872 17.6627C46.8299 18.1049 47.0513 18.6527 47.0513 19.306C47.0513 19.9598 46.8301 20.508 46.3879 20.9507C45.9457 21.3933 45.3979 21.6147 44.7446 21.6147ZM46.6766 36.9227H26.6566C26.1433 36.9227 25.7781 36.7038 25.5613 36.266C25.3444 35.8282 25.3966 35.4042 25.7179 34.994L29.3899 30.1787C29.6393 29.8573 29.9561 29.6967 30.3406 29.6967C30.7255 29.6967 31.0426 29.8489 31.2919 30.1533L34.5126 34.1533L39.8872 27.2967C40.1366 26.9753 40.4579 26.8147 40.8513 26.8147C41.2441 26.8147 41.5655 26.9753 41.8153 27.2967L47.6406 34.994C47.945 35.4042 47.9888 35.8282 47.7719 36.266C47.5546 36.7038 47.1895 36.9227 46.6766 36.9227ZM12.1539 55.9993C10.8068 55.9993 9.66659 55.5327 8.73325 54.5993C7.79992 53.666 7.33325 52.5258 7.33325 51.1787V18.82C7.33325 18.2533 7.52503 17.7782 7.90859 17.3947C8.29214 17.0116 8.76725 16.82 9.33392 16.82C9.90103 16.82 10.3761 17.0116 10.7593 17.3947C11.1419 17.7782 11.3333 18.2533 11.3333 18.82V51.1787C11.3333 51.384 11.4188 51.572 11.5899 51.7427C11.7606 51.9138 11.9486 51.9993 12.1539 51.9993H44.5126C45.0793 51.9993 45.5544 52.1911 45.9379 52.5747C46.321 52.9582 46.5126 53.4333 46.5126 54C46.5126 54.5671 46.321 55.042 45.9379 55.4247C45.5544 55.8078 45.0793 55.9993 44.5126 55.9993H12.1539ZM16.6666 11.4867C16.6666 10.1396 17.1333 8.99935 18.0666 8.06602C18.9999 7.13268 20.1401 6.66602 21.4873 6.66602H31.7433C32.3099 6.66602 32.785 6.85779 33.1686 7.24135C33.5517 7.6249 33.7433 8.10002 33.7433 8.66668C33.7433 9.23379 33.5517 9.70868 33.1686 10.0913C32.785 10.4745 32.3099 10.666 31.7433 10.666H21.4873C21.2819 10.666 21.0939 10.7516 20.9233 10.9227C20.7521 11.0933 20.6666 11.2813 20.6666 11.4867V22.7427C20.6666 23.3094 20.4748 23.7845 20.0913 24.168C19.7077 24.5511 19.2326 24.7427 18.6659 24.7427C18.0988 24.7427 17.6239 24.5511 17.2413 24.168C16.8581 23.7845 16.6666 23.3094 16.6666 22.7427V11.4867ZM21.4873 46.666C20.1401 46.666 18.9999 46.1993 18.0666 45.266C17.1333 44.3327 16.6666 43.1925 16.6666 41.8453V32.5893C16.6666 32.0227 16.8584 31.5476 17.2419 31.164C17.6255 30.7809 18.1006 30.5893 18.6673 30.5893C19.2344 30.5893 19.7093 30.7809 20.0919 31.164C20.475 31.5476 20.6666 32.0227 20.6666 32.5893V41.8453C20.6666 42.0507 20.7521 42.2387 20.9233 42.4093C21.0939 42.5805 21.2819 42.666 21.4873 42.666H31.7433C32.3099 42.666 32.785 42.8578 33.1686 43.2413C33.5517 43.6249 33.7433 44.1 33.7433 44.6667C33.7433 45.2338 33.5517 45.7087 33.1686 46.0913C32.785 46.4745 32.3099 46.666 31.7433 46.666H21.4873ZM51.8459 46.666H41.5893C41.023 46.666 40.5481 46.4742 40.1646 46.0907C39.7815 45.7071 39.5899 45.232 39.5899 44.6653C39.5899 44.0982 39.7815 43.6233 40.1646 43.2407C40.5481 42.8576 41.023 42.666 41.5893 42.666H51.8459C52.0513 42.666 52.2393 42.5805 52.4099 42.4093C52.581 42.2387 52.6666 42.0507 52.6666 41.8453V32.5893C52.6666 32.0227 52.8584 31.5476 53.2419 31.164C53.6255 30.7809 54.1006 30.5893 54.6672 30.5893C55.2344 30.5893 55.7092 30.7809 56.0919 31.164C56.475 31.5476 56.6666 32.0227 56.6666 32.5893V41.8453C56.6666 43.1925 56.1999 44.3327 55.2666 45.266C54.3333 46.1993 53.193 46.666 51.8459 46.666ZM56.6666 11.4867V22.7427C56.6666 23.3094 56.4748 23.7845 56.0913 24.168C55.7077 24.5511 55.2326 24.7427 54.6659 24.7427C54.0988 24.7427 53.6237 24.5511 53.2406 24.168C52.8579 23.7845 52.6666 23.3094 52.6666 22.7427V11.4867C52.6666 11.2813 52.581 11.0933 52.4099 10.9227C52.2393 10.7516 52.0513 10.666 51.8459 10.666H41.5893C41.023 10.666 40.5481 10.4742 40.1646 10.0907C39.7815 9.70713 39.5899 9.23201 39.5899 8.66535C39.5899 8.09824 39.7815 7.62335 40.1646 7.24068C40.5481 6.85757 41.023 6.66602 41.5893 6.66602H51.8459C53.193 6.66602 54.3333 7.13268 55.2666 8.06602C56.1999 8.99935 56.6666 10.1396 56.6666 11.4867Z' fill='%230272BA'/%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain;
    }
}

.trigger {
    font-weight: 500;
    color: #0272BA;
    text-decoration-line: underline;
}
