.root {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.content {
    max-width: 463px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .notFoundIcon {
        display: block;
        width: 265px;
        max-width: 85%;
        margin: 0 auto 10px;

        &:before {
            content: "";
            display: block;
            width: 100%;
            padding: 0 0 62.35%;
            background: url("data:image/svg+xml,%3Csvg width='426' height='265' viewBox='0 0 426 265' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119.363 154.102V164.062H18.6796V157.324L84.4023 57.8125H94.1679L80.3007 81.9336L32.9375 154.102H119.363ZM97.1953 57.8125V200H85.5742V57.8125H97.1953Z' fill='%230272BA'/%3E%3Cpath d='M409.363 155.102V165.062H308.68V158.324L374.402 58.8125H384.168L370.301 82.9336L322.937 155.102H409.363ZM387.195 58.8125V201H375.574V58.8125H387.195Z' fill='%230272BA'/%3E%3Cpath d='M140.492 132.863C140.492 152.718 148.379 171.759 162.419 185.799C176.458 199.838 195.5 207.725 215.355 207.725C235.21 207.725 254.251 199.838 268.291 185.799C282.33 171.759 290.218 152.718 290.218 132.863C290.218 113.008 282.33 93.9663 268.291 79.9268C254.251 65.8873 235.21 58 215.355 58C195.5 58 176.458 65.8873 162.419 79.9268C148.379 93.9663 140.492 113.008 140.492 132.863Z' fill='white' stroke='%230272BA' stroke-width='10'/%3E%3Cpath d='M224.086 111.031C224.086 114.505 225.466 117.837 227.923 120.293C230.379 122.75 233.711 124.13 237.185 124.13C240.659 124.13 243.991 122.75 246.448 120.293C248.904 117.837 250.285 114.505 250.285 111.031L229.369 100.573C227.734 101.783 226.404 103.359 225.486 105.175C224.569 106.991 224.089 108.996 224.086 111.031ZM201.337 100.573L180.422 111.031C180.422 112.751 180.761 114.454 181.419 116.044C182.077 117.633 183.042 119.077 184.259 120.293C185.475 121.51 186.919 122.475 188.508 123.133C190.098 123.791 191.801 124.13 193.521 124.13C195.241 124.13 196.945 123.791 198.534 123.133C200.123 122.475 201.567 121.51 202.784 120.293C204 119.077 204.965 117.633 205.623 116.044C206.282 114.454 206.62 112.751 206.62 111.031C206.62 106.739 204.529 102.962 201.337 100.573Z' fill='white'/%3E%3Cpath d='M186.46 166.457C189.617 161.568 193.949 157.548 199.061 154.765C204.172 151.981 209.899 150.523 215.719 150.523C221.539 150.523 227.266 151.981 232.377 154.765C237.489 157.548 241.821 161.568 244.978 166.457C244.978 166.457 248.585 174.265 252.825 171.125C257.065 167.986 252.825 162.532 252.825 162.532C245.136 150.092 231.416 141.787 215.719 141.787C200.022 141.787 186.302 150.092 178.613 162.532C178.613 162.532 173.566 169.213 178.604 171.671C183.643 174.129 186.46 166.457 186.46 166.457Z' fill='%230272BA'/%3E%3Cpath d='M234.038 102.909C232.395 103.54 230.983 104.654 229.986 106.104C228.989 107.553 228.454 109.271 228.453 111.031C228.453 113.347 229.373 115.568 231.011 117.206C232.649 118.843 234.87 119.764 237.186 119.764C239.502 119.764 241.723 118.843 243.361 117.206C244.999 115.568 245.919 113.347 245.919 111.031C245.919 110.205 245.766 109.424 245.552 108.664L234.038 102.909ZM196.67 102.909L185.156 108.664C184.925 109.432 184.801 110.229 184.789 111.031C184.789 113.347 185.709 115.568 187.347 117.206C188.985 118.843 191.206 119.764 193.522 119.764C195.838 119.764 198.059 118.843 199.697 117.206C201.335 115.568 202.255 113.347 202.255 111.031C202.255 107.319 199.936 104.175 196.67 102.909Z' fill='%230272BA'/%3E%3Crect x='13' y='240' width='400' height='4' rx='2' fill='%23E3F0FF'/%3E%3C/svg%3E%0A") no-repeat center;
            background-size: contain;
        }
    }
}

.message {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.08px;
    text-transform: uppercase;
    color: #7A7E80;
}

.actionsContainer {
    margin-top: 30px;

    button {
        width: auto;
        min-width: 220px;
    }
}

@media (min-width: 769px) {
    .root {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .content {
        .notFoundIcon {
            width: 425px;
            margin-bottom: 4px;
        }
    }

    .message {
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: normal;
    }

    .actionsContainer {
        margin-top: 40px;
    }
}
