.root {
    composes: block from global;
    composes: relative from global;
}

.loadingWrapper {
    composes: absolute from global;
    composes: top-0 from global;
    composes: left-0 from global;
    composes: right-0 from global;
    composes: bottom-0 from global;

    &:nth-child(n+6) {
        @apply relative;

        > div {
            @apply h-auto;
            @apply m-0;
            @apply gap-0;
        }
    }
}

.loadMore {
    composes: root_normalPriority from '../../Button/extendStyle/button.module.scss';

    @apply block;
    @apply w-auto;
    @apply my-0;
    @apply mx-auto;
    @apply text-base;
    @apply rounded-full;

    padding: 6px 20px 4px;
}
