.modal {
    .name {
        color: #0A1015;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.18px;
        display: block;
        margin-bottom: 20px;

        span {
            color: #7A7E80;
            padding-left: 6px;
        }
    }

    .description {
        color: #545454;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        &:before {
            content: '*';
            display: inline-block;
            margin-right: 4px;
            color: #FF2121;
        }
    }

    .actionsWrapper {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
}

.relatedProduct {
    margin-top: 20px;

    .title {
        color: #2A2F33;
        font-weight: 700;
        line-height: normal;
        display: block;
        margin-bottom: 20px;
    }

    :global {
        .slick-slider.slick-initialized {
            position: relative;

            .slick-arrow {
                filter: drop-shadow(4px 0px 2px rgba(0, 0, 0, 0.03));
                box-shadow: none;
            }

            .slick-prev {
                left: -20px;
                filter: drop-shadow(4px 0px 2px rgba(0, 0, 0, 0.03));
            }

            .slick-next {
                right: -20px;
                filter: drop-shadow(-4px 0px 2px rgba(0, 0, 0, 0.03));
            }
        }
    }
}

@media (min-width: 1500px) {
    .relatedProduct {
        :global {
            .slick-slider.slick-initialized {
                .slick-prev {
                    left: -35px;
                }

                .slick-next {
                    right: -35px;
                }
            }
        }
    }
}

@media (min-width: 769px) {
    .createWishlist {
        margin-left: auto;
    }

    .relatedProduct {
        .title {
            font-size: 24px;
            letter-spacing: 0.24px;
        }
    }
}

@media (max-width: 768px) {
    .createWishlist {
        margin-bottom: 20px;
        margin-top: -15px;
    }

    .relatedProduct {
        .title {
            font-size: 18px;
            letter-spacing: 0.18px;
        }
    }
}
