.root {
    display: block;
    background: #F8F8F8;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    .headerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        & + div {
            margin-top: 10px;
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                font-size: 14px;
                letter-spacing: 0.14px;
                width: auto;

                span {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }

                &:hover {
                    background: #fff;
                    border: 1px solid #0272BA;
                    color: #0272BA;
                }
            }
        }
    }

    .header {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        flex: 1;

        &.collapsed {
            .icon:before {
                transform: rotate(90deg);
            }
        }
    }

    .icon {
        display: block;
        position: relative;

        &:after {
            content: '';
            height: 2px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            content: '';
            width: 2px;
            position: absolute;
            transition: all .3s;
        }
    }

    .name {
        color: #0A1015;
        font-weight: 500;
        line-height: normal;

        .count {
            color: #7A7E80;
            font-weight: 400;
            line-height: normal;
            padding-left: 6px;
        }
    }
}

@media (min-width: 769px) {
    .root {
        padding: 15px;
        border-radius: 4px;

        .icon {
            width: 20px;
            height: 20px;

            &:after {
                width: 20px;
                background-color: #0A1015;
            }

            &:before {
                height: 20px;
                background-color: #0A1015;
                left: 9px;
            }
        }

        .headerWrapper {
            padding: 10px 0;

            .actions {
                button {
                    padding: 10px 20px;
                }
            }
        }

        .name {
            font-size: 20px;
            letter-spacing: 0.2px;

            .count {
                font-size: 16px;
                letter-spacing: 0.16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .root {
        margin-right: -10px;
        margin-left: -10px;
        padding: 10px;

        .headerWrapper {
            .header {
                padding: 10px 0;
            }

            .actions {
                button {
                    padding: 10px;
                }
            }
        }

        .icon {
            width: 16px;
            height: 16px;

            &:after {
                width: 16px;
                background-color: #A2A4A6;
            }

            &:before {
                height: 16px;
                background-color: #A2A4A6;
                left: 7px;
            }
        }

        .name {
            font-size: 15px;
            letter-spacing: 0.15px;
        }
    }
}
