.modal {
    composes: fixed from global;
    composes: top-0 from global;
    composes: left-0 from global;
    composes: right-0 from global;
    composes: bottom-0 from global;
    composes: opacity-0 from global;
    composes: invisible from global;
    composes: pointer-events-none from global;
    composes: flex from global;
    composes: flex-col from global;
    composes: justify-center from global;
    composes: items-center from global;
    composes: z-dialog from global;

    scale: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.modal_open {
    composes: modal;

    @apply opacity-100;
    @apply visible;

    scale: none;
    -webkit-transform: none;
    transform: none;
}

.zLarge {
    .mask {
        @apply opacity-0;
    }

    :global(.chatbotOpened) & {
        @apply z-[99];

        .mask {
            @apply opacity-100;
            background: rgba(0, 0, 0, 0.6);
        }
    }
}

.modal_hide {
    composes: opacity-0 from global;
    composes: invisible from global;
    composes: pointer-events-none from global;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    transition-duration: 192ms;
    transition-property: opacity, visibility;
    transition-timing-function: linear;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: auto;
}

.innerWrapper {
    composes: relative from global;
    composes: margin-auto from global;
    composes: flex from global;
    composes: flex-col from global;
    composes: bg-white from global;
    composes: overflow-hidden from global;
    composes: pointer-events-auto from global;

    width: calc(100% - 24px);
    border-radius: 10px;
    max-height: 90%;
}

.innerWidth {
    max-width: 600px;
}

.modalHeader {
    border-radius: 10px 10px 0 0;
    background: #0272BA;
    padding: 15px;
    color: #FFF;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='25' height='25' rx='12.5' fill='white'/%3E%3Cpath d='M19.2371 7.80373L19.1967 7.76252C18.8459 7.41249 18.2774 7.41249 17.9283 7.76252L13.4808 12.211L9.03488 7.7643C8.68221 7.41252 8.11378 7.41252 7.76462 7.7643C7.41195 8.11435 7.41195 8.68281 7.76462 9.03453L12.2122 13.4813L7.76292 17.928C7.41195 18.2771 7.41195 18.8456 7.76292 19.1965L7.805 19.2368C8.1541 19.5877 8.7226 19.5877 9.07518 19.2368L13.5211 14.7909L17.9669 19.2368C18.3178 19.5877 18.8863 19.5877 19.2371 19.2368C19.588 18.8859 19.588 18.3174 19.2371 17.9666L14.7912 13.5207L19.2371 9.07405C19.5881 8.72222 19.5881 8.15376 19.2371 7.80373Z' fill='%230272BA'/%3E%3C/svg%3E%0A");
            width: 27px;
            height: 27px;
            min-width: 27px;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
        }
    }
}

.modalContent {
    composes: overflow-y-auto from global;
}

:global(.chatbotFullscreen) {
    .modal_open {
        z-index: 91;
    }
}

@media (min-width: 1024px) {
    .modalHeader {
        font-size: 20px;
        letter-spacing: 0.24px;
    }

    .modalContent {
        padding: 25px;
    }
}

@media (max-width: 1023px) {
    .modalHeader {
        font-size: 20px;
        letter-spacing: 0.2px;
    }

    .modalContent {
        padding: 15px;
    }
}

@media (max-width: 640px) {
    .modal_open {
        :global(.ui-select-opened) & {
            .modalContent:before {
                content: "";
                display: block;
                position: fixed;
                z-index: 999;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.16);
            }
        }
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
