.root {
}

.fields {
    display: flex;
    gap: 10px;

    > div {
        width: calc(50% - 5px);
    }
}

.fieldNote {
    margin-top: 5px;
    color: #5B6166;
    font-size: 13px;
    line-height: 1.53846;
}

.additionalFieldsContainer {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background: #F5F5F5;

    .legend {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.18px;
    }
}

.newPasswordFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.moreChangeActions {
    display: flex;
    flex-direction: column;
    gap: 10px 20px;
}

.checkboxButtonContainer {
    button {
        display: flex;
        gap: 10px;
        font-size: 14px;
        color: #363837;

        &:before {
            content: "";
            display: inline-block;
            width: 16px;
            min-width: 16px;
            height: 16px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Crect x='0.75' y='1.20117' width='14.5' height='14.5' rx='1.25' stroke='%23D4D6DD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center left;
            background-size: contain;
        }
    }

    &.checkedButton {
        button {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Crect x='0.75' y='1.20117' width='14.5' height='14.5' rx='1.25' fill='%231D92DD'/%3E%3Crect x='0.75' y='1.20117' width='14.5' height='14.5' rx='1.25' stroke='%231D92DD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cmask id='mask0_3832_21763' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='5' width='10' height='8'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7949 5.36839C13.0713 5.65026 13.0673 6.10317 12.7858 6.38L6.83102 12.2374L3.21377 8.67931C2.93234 8.40248 2.92826 7.94957 3.20467 7.66771C3.48108 7.38584 3.93331 7.38176 4.21474 7.65859L6.83102 10.232L11.7849 5.35928C12.0663 5.08245 12.5185 5.08653 12.7949 5.36839Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3832_21763)'%3E%3Crect x='3' y='3.45117' width='9.99961' height='9.99961' fill='white'/%3E%3C/g%3E%3C/svg%3E");
            }
        }
    }
}

@media (min-width: 769px) {
    .moreChangeActions {
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: row;
    }

    .additionalFieldsContainer {
        padding: 20px;
    }

    .newPasswordFields {
        flex-direction: row;

        > div {
            width: calc(50% - 5px);
        }
    }
}
