.root {
    cursor: pointer;
    
    .wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.icon {
    position: relative;
    margin-top: -1px;

    &:before {
        content: '';
        border: 1.5px solid #C5C6CC;
        width: 18px;
        height: 18px;
        min-width: 18px;
        border-radius: 50%;
        display: block;
    }

    &:after {
        content: '';
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        transition: all .3s;
    }

    svg {
        display: none;
    }
}

.input:checked ~ .icon {
    &:after {
        width: 8px;
        height: 8px;
    }

    &:before {
        background-color: #1D92DD;
        border-color: #1D92DD;
    }
}

.label {
    color: #2A2F33;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}

.note {
    color: #7A7E80;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-top: 5px;
    margin-left: 28px;
}

.input_shimmer {
    composes: h-[1.5rem] from global;
    composes: m-0 from global;
    composes: rounded-full from global;
    composes: w-[1.5rem] from global;
    composes: z-foreground from global;
}
